<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/colorpicker/evol.colorpicker.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/colorpicker/evol.colorpicker.min.css');
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">

<table width="100%" class="table">
	<tr>
		<td width="25%">
			<?php echo $this->translate('Activity Parent')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->pid ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Title')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->title ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Description')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->description ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Date')?> <span class="reqMark">*</span>
		</td>
		<td>
			<span class="icon icon-calendar"></span> <?php echo $this->form->start_date ?> - <?php echo $this->form->end_date ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Color')?>
		</td>
		<td>
			<?php echo $this->form->color ?>
			<small class="desc"><?php echo $this->translate('Optional: Color used in Gantt chart')?></small>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Attachment')?>
		</td>
		<td>
			<input type="file" name="attachment_1" /> <br />
			<input type="file" name="attachment_2" /> <br />
			<input type="file" name="attachment_3" />
			<small class="desc"><?php echo $this->translate('Allowed Filetypes')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
		</td>
	</tr>
</table>

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>

<script type="text/javascript">

	$(function()
	{
        $("#color").colorpicker({
			displayIndicator: false
		});
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true,changeYear: true});
	});

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	

		$(window).unbind('beforeunload');

		return true;
	}

</script>

<style type="text/css">
	td .icon { color:#ccc }
	#color { padding:2px; }
</style>