
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Student Name")?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Research Type");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Submitted");?></th>
		<th><?php echo $this->translate("Last Updated")?></th>
	</tr>
	
	<?php 
	if ( !empty($this->tracking) ):
	foreach ( $this->tracking as $row ) :
	?>
	<tr>
		<td><A href="<?php echo $this->baseUrl()?>/thesis/managetracking/detail/id/<?php echo $row['research_id']?>/student_id/<?php echo $row['student_id']?>"><?php echo $row['student_name']?></a></td>
		<td><?php echo $row['registrationId']?></td>
		<td><?php echo $row['type']?></td>
		<td><?php echo $row['status_code']?></td>
		<td><?php echo format_date_to_view($row['created_date'],'full'); ?></td>
		<td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No results found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
