<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/colorpicker/evol.colorpicker.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/colorpicker/evol.colorpicker.min.css');
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">

<table width="100%" class="table">
	<tr>
		<td width="25%">
			<?php echo $this->translate('Activity Parent')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->pid ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Title')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->title ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Description')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->description ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Date')?> <span class="reqMark">*</span>
		</td>
		<td>
			<span class="icon icon-calendar"></span> <?php echo $this->form->start_date ?> - <?php echo $this->form->end_date ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Status')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->status ?>
		</td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Attachments')?></td>
		<td>
			<?php $attachments = Thesis_Model_DbTable_Tracking::getFiles($this->activity['id'],'activity');
			if ( !empty($attachments) ) { ?>
			<br />
			<ol>
				<?php foreach ( $attachments as $attach ) { ?>
				<li><a class="fancy" href="<?php echo DOCUMENT_URL.$attach['af_fileurl']?>"><?php echo $attach['af_filename']?></a></li>
				<?php } ?>
			</ol>
			<?php
			} else 
			{
				echo ' - ';
			}
			?>
		</td>
	</tr>
	

</table>

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Update')?>" class="btn-submit" />
</div>

</form>


<br />
<br />

<h3><?php echo $this->translate('Feedback')?></h3>

<table width="100%" class="maintable borderless" id="comments">
	<tr>
		<th width="20%"><?php echo $this->translate('Poster')?></th>
		<th><?php echo $this->translate('Text')?></th>
	</tr>
	<?php if ( count($this->comments) > 0 ) { ?> 
	<?php foreach ( $this->comments as $cmt ) { ?>
	<tr class="comment-row">
		<td>
			<div class="userinfo">
				<div class="name"><strong><?php echo $cmt['posted_name']?></strong></div>
				<?php if ( $cmt['posted_type'] == 'supervisor' ) { ?><div class="rank super">Supervisor</div><?php } else { ?>
				<div class="rank student">Student</div>
				<?php } ?>

			</div>
		</td>
		<td>
			<div class="date" title="<?php echo time_ago(strtotime($cmt['posted_date']))?>"><span class="icon icon-clock"></span> <?php echo format_date_to_view($cmt['posted_date'],'full'); ?></div>
			<div class="comment-text">
				<?php echo nl2br($cmt['comment'])?>
			</div>
			<div class="attachments">
				<?php $attachments = Thesis_Model_DbTable_Tracking::getFiles($cmt['c_id'],'comments');
				if ( !empty($attachments) ) { ?>
				<div class="attach-content">
					<p><strong><?php echo $this->translate('Attachment')?></strong></p>
					<ol>
						<?php foreach ( $attachments as $attach ) { ?>
						<li><a class="fancy" href="<?php echo DOCUMENT_URL.$attach['af_fileurl']?>"><?php echo $attach['af_filename']?></a></li>
						<?php } ?>
					</ol>
				</div>
				<?php
				}
				?>
			</div>
		</td>
	</tr>
	<?php } ?>
	<?php } else { ?>
		<tr>
			<td colspan="2"><?php echo $this->translate('No feedbacks yet')?></td>
		</tr>
	<?php } ?>
</table>

<br />

<form method="post" id="form_comment" onsubmit="return checkComment()" enctype="multipart/form-data">

	<h3><?php echo $this->translate('Add Feedback')?></h3>
	<table width="100%">
		<tr>
			<td colspan="2"><textarea id="comment" name="comment" class="textarea large"></textarea></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Attachment')?></td>
			<td>
				<input type="file" name="attachment_1" /> <br />
				<input type="file" name="attachment_2" /> <br />
				<input type="file" name="attachment_3" />
				<small class="desc"><?php echo $this->translate('Allowed Filetypes')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
			</td>
		</tr>
	</table>
	<input type="submit" name="addcomment" value="<?php echo $this->translate('Post Feedback')?>" class="btn-submit" />
</form>


<script type="text/javascript">

	$(function()
	{
		$(".fancy").fancybox();
		
        $("#color").colorpicker({
			displayIndicator: false
		});
	});
	
	function checkComment()
	{

		if ( $("#comment").val() == '' )
		{
			alert('<?php echo $this->translate('Enter your feedback first')?>');

			return false;
		}

		return true;
	}
	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	

		$(window).unbind('beforeunload');

		return true;
	}

</script>

<style type="text/css">
	td .icon { color:#ccc }
	#color { padding:2px; }

	.userinfo { }
	.userinfo .name { color:#15aee3; margin-bottom:4px; }

	.rank { font-size:10px; text-transform:uppercase; color:#fff; background:#b1b1b1; display:inline; padding:2px 5px;  }
	.rank.super { background:#fba113 }
	table .date { float:right; font-size:11px; color:#888;  padding-bottom:10px; margin-bottom:15px; }
	table .comment-text { font-size:14px; line-height:1.7em; }
	.attach-content { margin-top:10px; padding-top:10px; border-top:1px solid #f1f1f1; }
	.attach-content ol { margin-left:15px; margin-top:6px; }
	.attach-content ol li { margin-bottom:4px; }
	table .comment-row td { border-bottom:1px solid #eee; padding:8px; }

	.datepicker { width:85px !important; }

</style>