
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="20%"><?php echo $this->translate("Name");?></th>
		<th width="40%"><?php echo $this->translate("Description")?></th>
		<th><?php echo $this->translate("Date")?></th>
	</tr>
	
	<?php 
	if ( !empty($this->documents) ):
	foreach ( $this->documents as $row ) :
	?>
	<tr>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/documents/view/id/<?php echo $row['id']?>"><?php echo $row['title']?></a></td>
		<td><?php echo $row['description']?></td>
		<td><?php echo format_date_to_view($row['created_date'],'full'); ?></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No documents found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
