
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/thesis/documents"><?php echo $this->translate('Documents')?></a></li>
		<li><strong><?php echo $this->info['title']?></strong></li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/thesis/documents/"><?php echo $this->translate('Back')?></a></div>
</div>

<h3><?php echo $this->info['title']?></h3>
<div class="description"><?php echo $this->info['description']?></div>

<br />

<?php if ( !empty($this->files) ) : ?>
<table class="table filetable" width="100%">
<tr>
	<th width="20"></th>
	<th><?php echo $this->translate('File')?></th>
	<th><?php echo $this->translate('Size')?></th>
</tr>
<?php foreach ( $this->files as $file ) : ?>
<tr id="filerow-<?php echo $file['af_id']?>">
	<td align='center'><span class="icon icon-attach"></span></td>
	<td><a href="<?php echo DOCUMENT_URL.$file['af_fileurl']?>" class='fancy'><?php echo $file['af_filename']?></a></td>
	<td><span class="size"><?php echo format_filesize($file['af_filesize'])?></td>
</tr>
<?php endforeach; ?>
</table>
<?php endif; ?>
