.fc-calendar-container {
	position: relative;
	height: 400px;
	width: 400px;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: #ccc;
	color: #fff;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
	border: 1px solid #ddd;
}

.fc-calendar .fc-row {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

/*.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%;
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);
	position: relative;
}
*/

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
float: left;
height: 100%;
width: 14.28%; /* 100% / 7 */
position: relative;
}

.fc-calendar-event { display:none }

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-row > div {
	border-right: 1px solid #ddd;
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-date {
	position: absolute;
	width: 30px;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	color: #ddd;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.fc-calendar .fc-row > div time {
	display: none;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #fff4c3;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
	border-right: none;
}

.fc-calendar .fc-row:last-child {
	border-bottom: none;
}
/* Custom calendar elements */
.custom-calendar-wrap { position: relative; overflow: hidden; }
.custom-inner {  }
.custom-header { background: #fff; height: 30px; position: relative; }
.custom-header h3 { text-align: center; text-transform: uppercase; margin: 0; padding: 0; }
.custom-header nav span { position: absolute; top: 0px; width: 30px; height: 30px; color: transparent; cursor: pointer; margin: 0 1px; font-size: 20px; line-height: 30px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.custom-header nav span:first-child { left: 5px; }
.custom-header nav span:last-child { right: 5px; }
.custom-header nav span:before { font-family: 'entypo'; color: #ccc; position: absolute; text-align: center; width: 100%; font-size: 14px; }
.custom-header nav span.custom-prev:before { content: '\25c2'; }
.custom-header nav span.custom-next:before { content: '\25b8'; }
.custom-header nav span:hover:before { color: #495468; }
.custom-content-reveal { background: #f6f6f6; background: rgba(246, 246, 246, 0.9); width: 100%; height: 100%; position: absolute; z-index: 10; top: 100%; left: 0px; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; }
.custom-content-reveal span.custom-content-close { position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; text-align: center; background: #ddd; cursor: pointer; line-height: 13px; padding: 0; }
.custom-content-reveal span.custom-content-close:after { content: 'x'; font-size: 18px; color: #fff; }
.custom-content-reveal a,
.custom-content-reveal span { font-size: 12px; padding: 0 10px; margin-bottom: 5px; display: block; }
.custom-content-reveal h4 { text-transform: uppercase; font-size: 13px; font-weight: 300; letter-spacing: 3px; color: #777; padding: 10px; background: #fff; border-bottom: 1px solid #ddd; box-shadow: 0 1px rgba(255,255,255,0.9); }
.custom-content-reveal span { color: #888; }
.custom-content-reveal a {  }
.custom-content-reveal a:hover { color: #333; }
/* Modifications */
.fc-calendar-container { height: 320px; width: auto; padding: 5px; background: #f6f6f6; box-shadow: inset 0 1px rgba(255,255,255,0.8); }
.fc-calendar .fc-head { background: transparent; color: #888; font-weight: normal; text-transform: uppercase; font-size: 10px; }
.fc-calendar .fc-row > div { background: #fff; cursor: pointer; }
.fc-calendar .fc-row > div:empty { background: transparent; }
.fc-calendar .fc-row > div > span.fc-date { top: 50%; left: 50%; text-align: center; margin: -10px 0 0 -15px; color: #686a6e; font-weight: 400; pointer-events: none; }
.fc-calendar .fc-row > div.fc-today { background: #5d9dca; box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1); }
.fc-calendar .fc-row > div.fc-today > span.fc-date { font-weight: bold; color:#fff; }
.fc-calendar .fc-row > div.fc-content:after {
	content: '\00B7';
	text-align: center;
	width: 20px;
	margin-left: -10px;
	position: absolute;
	color: #DDD;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: 3px;
}
.fc-calendar .fc-row > div.fc-content:hover:after{
	color: #0ea9d7;
}
.fc-calendar .fc-row > div.fc-content:hover:after { border-color: transparent #188ad3 transparent transparent; }
.fc-calendar .fc-row > div.fc-today.fc-content:hover:after { color: #fff; }
.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span { display: none; font-size: 22px; }
