<?php
$this->headLink()->appendStylesheet($this->baseUrl().'/js/calendario/calendario.css');
$this->headScript()->appendFile($this->baseUrl().'/js/calendario/jquery.calendario.js', 'text/javascript');
?>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>

<!-- grid -->
<div class="grid">
<div class="col-2-3">
<!-- content -->
	<div class="tabs">
		<ul>
			<li><a href="#tab1"><?php echo $this->translate('Examinee')?></a></li>
			<!--<li><a href="#tab2"><?php echo $this->translate('Activities')?></a></li>-->
		</ul>


		<br />

		<div id="tab1">

			<table width="100%" class="maintable">
				<tr>
					<th><?php echo $this->translate('Student Name')?></th>
					<th><?php echo $this->translate('Student ID')?></th>
					<th><?php echo $this->translate('Research Type')?></th>
					<th><?php echo $this->translate('Submitted Date')?></th>
				</tr>
				<?php foreach ($this->results as $row ) { ?>
				<tr>
					<td><?php echo $row['student_name']?></td>
					<td><?php echo $row['student_id']?></td>
					<td><?php echo Thesis_Model_DbTable_General::researchType($row['research_type'])?></td>
					<td><?php echo format_date($row['created_date'])?></td>
				</tr>
				<?php } ?>
			</table>
		</div>

		<div id="tab2">
			No activities found.
		</div>
	</div>
<!-- /content -->
</div>
<div class="col-1-3">
<!-- calendar -->
	<div class="custom-calendar-wrap">
		<div id="custom-inner" class="custom-inner">
			<div class="custom-header cf">
				<nav>
					<span id="custom-prev" class="custom-prev"></span>
					<span id="custom-next" class="custom-next"></span>
				</nav>
				<h3><span id="custom-month" class="custom-month"></span> <span id="custom-year" class="custom-year"></span></h3> 
			</div>
			<div id="calendar" class="fc-calendar-container"></div>
		</div>
	</div>
<!-- /calendar -->
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var CalEvents = [];

	$(".tabs").tabs();

	
	initCalendar(CalEvents);
});

function togglebox(what)
{
	$(what).parent().parent().find('.box-content').toggle();
	
	if ( $(what).find('span').hasClass('icon-plus') )
	{
		$(what).find('span').removeClass('icon-plus');
		$(what).find('span').addClass('icon-minus');
	}
	else
	{
		$(what).find('span').removeClass('icon-minus');
		$(what).find('span').addClass('icon-plus');
	}

	return false;
}
</script>

<style type="text/css">
	.attachments { margin-top:10px; }
	.attachments ul { list-style:none }
	.attachments ul li .icon { color:#ccc; font-size:12px }
</style>