<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/js/calendario/calendario.css');
$this->headScript()->appendFile($this->baseUrl() . '/js/calendario/jquery.calendario.js', 'text/javascript');
?>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>

<?php $totalimportant = $this->importantannouncements; ?>
<?php foreach ($this->importantannouncements as $announce) : ?>
    <div class="announcement" id="announce-<?php echo $announce['id'] ?>">
        <span class="opt"><a href="#" onclick="return readannouncement('<?php echo $announce['id'] ?>')"
                             title="<?php echo $this->translate('Click to hide') ?>"><span
                    class="icon icon-cancel"></span></a></span>
        <div class="title"><?php echo $announce['title'] ?></div>
        <div
            class="text"><?php echo $announce['html'] == 1 ? $announce['content'] : nl2br($announce['content']) ?></div>
        <?php if (!empty($announce['files'])) { ?>
            <div class="attachments">
                <ul>
                    <?php foreach ($announce['files'] as $file) : ?>
                        <li><span class="icon icon-attach"></span> <a
                                href="<?php echo DOCUMENT_URL . $file['fileurl'] ?>"
                                class="fancy"><?php echo $file['filename'] ?></a> <span
                                class="size"><?php echo format_filesize($file['filesize']) ?></span></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php } ?>
    </div>
<?php endforeach; ?>

<!-- grid -->
<div class="grid">
    <div class="col-2-3">

        <h3 class="title"><?php echo $this->translate('Profile') ?></h3>
        <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
            <tr>
                <th colspan="2">Student Profile</th>
            </tr>
            <tr>
                <td width="150">Name</td>
                <td><?php echo $this->studentinfo['appl_fname'] . ' ' . $this->studentinfo['appl_lname'] ?></td>
            </tr>
            <tr>
                <td>Student ID</td>
                <td><?php echo $this->studentinfo['registrationId'] ?></td>
            </tr>
            <tr>
                <td>Identification ID</td>
                <td><?php echo $this->studentinfo['appl_idnumber'] ?></td>
            </tr>
            <tr>
                <td>Programme</td>
                <td><?php echo $this->studentinfo['ProgramName'] ?></td>
            </tr>
            <tr>
                <td>Intake</td>
                <td><?php echo $this->studentinfo['intake'] ?></td>
            </tr>
            <tr>
                <td>Learning Centre</td>
                <td><?php echo $this->studentinfo['BranchName'] ?></td>
            </tr>
        </table>

        <br>

        <?php
        if (!empty($this->proposal)):
        ?>
        <h3 class='title'><?php echo $this->translate('Research Title') ?></h3>
        <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
            <tr>
<!--                <th>--><?php //echo $this->translate("Category"); ?><!--</th>-->
<!--                <th>--><?php //echo $this->translate("Topic"); ?><!--</th>-->
                <th><?php echo $this->translate("Title"); ?></th>
                <th><?php echo $this->translate("Status"); ?></th>
                <th><?php echo $this->translate("Date Submitted"); ?></th>
            </tr>
            <tr>
<!--                <td>--><?php //echo $this->proposal['category_name'] ?><!--</td>-->
<!--                <td>--><?php //echo $this->proposal['topic_name'] ?><!--</td>-->
<!--                <td>--><?php //echo $this->proposal['p_title'] ?><!--</td>-->
                <td><?php echo $this->proposal['p_title'] != '' ? $this->proposal['p_title'] : '-' ?></td>
                <td><?php echo strtoupper($this->proposal['status_name']) ?></td>
                <td><?php echo format_date_to_view($this->proposal['created_date'], 'full'); ?></td>
            </tr>

        </table>

        <br>

        <table>
            <h3 class='title'><?php echo $this->translate('Supervisor') ?></h3>
            <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
                <tr>
                    <th><?php echo $this->translate("Name"); ?></th>
                    <th><?php echo $this->translate("Role"); ?></th>
                    <th><?php echo $this->translate("Email"); ?></th>
                    <th><?php echo $this->translate("Contact No."); ?></th>
                </tr>
                <tr>
                    <?php
                    foreach ($this->supervisors as $sup) { ?>
                <tr>
                    <td><?php echo $sup['supervisor_name'] ?> </td>
                    <td><?php echo $sup['role_name'] ?> </td>
                    <td><?php echo $sup['supervisor_email'] ?> </td>
                    <td><?php echo $sup['Phone'] ?> </td>
                </tr>
                <?php } ?>


                </tr>
            </table>

            <?php
            endif;
            ?>

            <?php
            if (!empty($this->articleship)):
                ?>
                <h3><?php echo $this->translate('Articleship') ?></h3>
                <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
                    <tr>
                        <th><?php echo $this->translate("Semester"); ?></th>
                        <th><?php echo $this->translate("Status"); ?></th>
                        <th><?php echo $this->translate("Date Submitted"); ?></th>
                    </tr>
                    <tr>
                        <td><?php echo $this->articleship['semester_name'] ?></td>
                        <td><?php echo $this->articleship['status_code'] ?></td>
                        <td><?php echo format_date_to_view($this->articleship['created_date'], 'full'); ?></td>
                    </tr>
                </table>
                <?php
            endif;
            ?>


            <?php
            if (!empty($this->exemption)):
                $data = $this->exemption;
                ?>
                <h3><?php echo $this->translate('Professional Practice Paper') ?></h3>
                <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
                    <tr>
                        <th><?php echo $this->translate("Status"); ?></th>
                        <th><?php echo $this->translate("Date Submitted"); ?></th>
                    </tr>
                    <tr>
                        <td><?php echo $data['status_code'] ?></td>
                        <td><?php echo format_date_to_view($data['created_date'], 'full'); ?></td>
                    </tr>
                </table>
                <?php
            endif;
            ?>
    </div>
    <div class="col-1-3">
        <!-- calendar -->
        <div class="custom-calendar-wrap">
            <div id="custom-inner" class="custom-inner">
                <div class="custom-header cf">
                    <nav>
                        <span id="custom-prev" class="custom-prev"></span>
                        <span id="custom-next" class="custom-next"></span>
                    </nav>
                    <h3><span id="custom-month" class="custom-month"></span> <span id="custom-year"
                                                                                   class="custom-year"></span></h3>
                </div>
                <div id="calendar" class="fc-calendar-container"></div>
            </div>
        </div>
        <!-- /calendar -->
    </div>
</div>

<script type="text/javascript">
    <?php jspack_start(); ?>

    $(document).ready(function () {
        var CalEvents = [];

        initCalendar(CalEvents);

        var ann = $(".announcement:not(:first)").length;
        if ((ann + 1) > 2) {
            $(".announcement:not(:first)").hide();
            $(".announcement").last().after('<a href="#" onclick="return showAnnouncements()" class="midline">' + ann + ' more announcements</a>');
        }
    });

    function togglebox(what) {
        $(what).parent().parent().find('.box-content').toggle();

        if ($(what).find('span').hasClass('icon-plus')) {
            $(what).find('span').removeClass('icon-plus');
            $(what).find('span').addClass('icon-minus');
        }
        else {
            $(what).find('span').removeClass('icon-minus');
            $(what).find('span').addClass('icon-plus');
        }

        return false;
    }

    function readannouncement(id) {
        $.ajax({
            url: "<?php echo $this->baseUrl()?>/ajax-utility/readannouncement",
            type: "post",
            data: {'id': id},
            success: function (data) {
                $('#announce-' + id).remove();

            },
            error: function () {
                alert("failure");
            }
        });

        return false;
    }
    <?php jspack_output(); ?>

</script>

<style type="text/css">
    .attachments {
        margin-top: 10px;
    }

    .attachments ul {
        list-style: none
    }

    .attachments ul li .icon {
        color: #ccc;
        font-size: 12px
    }
</style>