<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/js/calendario/calendario.css');
$this->headScript()->appendFile($this->baseUrl() . '/js/calendario/jquery.calendario.js', 'text/javascript');
?>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>

<!-- grid -->
<div class="grid">
    <div>
        <h3 class="title"><?php echo $this->translate('Supervisor Profile') ?></h3>
        <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
            <tr>
                <td width="150">Name</td>
                <td><?php echo $this->profile['FullName'] ?></td>
            </tr>
            <tr>
                <td>Primary Email</td>
                <td><?php echo $this->profile['Email'] ?></td>
            </tr>
            <form method="post" onsubmit="return checkContact()">
            <tr>
                <td>Secondary Email</td>
<!--                <td>--><?php //echo $this->profile['Email2'] ?><!--</td>-->
                <td><input type="text" class="input-txt" name="email2" id="email2"
                           value="<?php echo $this->staff['Email2'] ?>" size="30"/>
                    <input type="submit" class="input-txt" name="save_email2" id="save_email2"
                           value="Update"/><br><label id="error_email" style="color: red;"></label></td>

            </tr>
                </form>
            <tr>
                <td>Identification ID</td>
                <td><?php echo $this->profile['NationalIdendificationNumber1'] ?></td>
            </tr>
        </table>
    </div>
</div>
<!-- content -->
<div class="tabs">
    <ul>
<!--        <li><a href="#tab1">--><?php //echo $this->translate('Registrations') ?><!--</a></li>-->
<!--        <li><a href="#tab2">--><?php //echo $this->translate('Activities') ?><!--</a></li>-->
        <h3 class="title"><?php echo $this->translate('Registrations') ?></h3>
    </ul>


    <br/>

    <div id="tab1">
        <form method="post">
            <fieldset>
                <legend><?php echo $this->translate('Search') ?></legend>
                <table>
                    <tr>
                        <td width="30%"><?php echo $this->translate('Student') ?></td>
                        <td colspan="3">
                            <input type="text" class="input-txt" name="student-search" id="student-search"
                                   value=""/>
                            <input type="radio" name="search-type" value="id"
                                   checked="checked"/> <?php echo $this->translate('Student ID') ?>
                            <input type="radio" name="search-type"
                                   value="name"/> <?php echo $this->translate('Name') ?>
                        </td>
                    </tr>
                </table>
                <?php echo $this->form; ?>
            </fieldset>
        </form>
        <br/>

        <table width="100%" class="maintable">
            <tr>
                <th><?php echo $this->translate('Student Name') ?></th>
                <th><?php echo $this->translate('Student ID') ?></th>
                <th><?php echo $this->translate('Course') ?></th>
                <th><?php echo $this->translate('Activity') ?></th>
                <th><?php echo $this->translate('Research Title') ?></th>
                <!--					<th>--><?php //echo $this->translate('Research Type')?><!--</th>-->
                <th><?php echo $this->translate('Registered Date') ?></th>
                <th><?php echo $this->translate('Status') ?></th>
                <!--					<th></th>-->
            </tr>
            <?php foreach ($this->results as $row) { ?>
                <tr>
                    <td>
                        <a href="<?php echo $this->baseUrl() ?>/thesis/manage/proposal-view/id/<?php echo $row['id'] ?>"><?php echo $row['student_name'] ?></a>
                    </td>
                    <td><?php echo $row['student_id'] ?></td>
                    <td><?php echo $row['SubCode'] ?? '-' ?></td>
                    <td><?php echo $row['StatusName'] ?? '-' ?></td>
                    <td><?php echo $row['p_title'] ?? '-' ?></td>
                    <!--					<td>-->
                    <?php //echo Thesis_Model_DbTable_General::researchType($row['research_type'])?><!--</td>-->
                    <td><?php echo format_date($row['date']) ?></td>
                    <td><?php
                        if ($row['DefinitionCode'] == 'registration') {
                            echo $row['status_description'];
                        } else {
                            echo $row['pd_status_description'];
                        } ?></td>
                    <!--<td class="options">
						<a href="<?php /*echo $this->baseUrl()*/ ?>/thesis/manage/<?php /*echo $row['research_type']*/ ?>-view/id/<?php /*echo $row['id']*/ ?>"><?php /*echo $this->translate('View')*/ ?></a>
						| <a href="mailto:<?php /*echo $row['student_email']*/ ?>"><?php /*echo $this->translate('Contact')*/ ?></a>
					</td>-->
                </tr>
            <?php } ?>
        </table>
    </div>

    <div id="tab2">

        <?php if (count($this->notifies) > 0) { ?>
            <ul class="activities">
                <?php foreach ($this->notifies as $not) { ?>
                    <li class="<?php echo $not['haveread'] == 1 ? 'read' : 'unread' ?>"><span
                            class="icon <?php echo Thesis_Model_DbTable_Notify::parseIcon($not['notify']) ?>"></span> <?php echo Thesis_Model_DbTable_Notify::parseNotify($not) ?>
                        <span class="date"
                              title="<?php echo time_ago(strtotime($not['created_date'])) ?>"><?php echo format_date_to_view($not['created_date'], 'full'); ?></span>
                    </li>
                <?php } ?>
            </ul>
        <?php } else { ?>
<!--            No activities found.-->
        <?php } ?>
    </div>
</div>
<!-- /content -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var CalEvents = [];

        $(".tabs").tabs();


        initCalendar(CalEvents);
    });

    function togglebox(what) {
        $(what).parent().parent().find('.box-content').toggle();

        if ($(what).find('span').hasClass('icon-plus')) {
            $(what).find('span').removeClass('icon-plus');
            $(what).find('span').addClass('icon-minus');
        }
        else {
            $(what).find('span').removeClass('icon-minus');
            $(what).find('span').addClass('icon-plus');
        }

        return false;
    }

    var email_validation1 = 0;

    $("#email2").keyup(function () {
        var email = $("#email2").val();
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if(email != '') {
            if (!filter.test(email)) {
                $("#error_email").text(email + " is not a valid email");
                email.focus;
                email_validation1 = 1;
                return false;
            } else {
                email_validation1 = 0;
                $("#error_email").text("");
            }
        }
    });

    function checkContact() {
        var email2 = $('#email2').val();

        if (email_validation1 == 1) {
            return false;
        }
    }
</script>

<style type="text/css">
    .attachments {
        margin-top: 10px;
    }

    .attachments ul {
        list-style: none
    }

    .attachments ul li .icon {
        color: #ccc;
        font-size: 12px
    }

    ul.activities {
        list-style: none;
        border: 1px solid #e1e1e1
    }

    ul.activities li {
        padding: 8px;
        border-bottom: 1px solid #ccc;
        background: #fefefe;
        color: #999
    }

    ul.activities li .icon {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        color: #3ec2f3
    }

    ul.activities li:last-child {
        border-bottom: none
    }

    ul.activities li label {
        color: #444
    }

    ul.activities li .date {
        color: #99a4b2;
        font-size: 11px;
        display: block;
        margin-top: 3px;
        margin-left: 22px
    }
</style>