<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>

<div class="notice"><span class="icon icon-info"></span> You can only change your photo at the e-University Student Portal. <a href="<?php echo $this->baseUrl()?>/portal/euni" class="btn">Go</a></div>