
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Student Name")?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Research Type");?></th>
	</tr>
	
	<?php 
	if ( !empty($this->results) ):
	foreach ( $this->results as $row ) :
	?>
	<tr>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/grading/list/student_id/<?php echo $row['student_id']?>"><?php echo $row['student_name']?></a></td>
		<td><?php echo $row['registrationId']?></td>
		<td><?php echo $row['type']?></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No results found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
