<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<!--<div class="breadcrumbs">
	<ul>
		<li><a href="<?php /*echo $this->baseUrl()*/ ?>/"><?php /*echo $this->translate('Home')*/ ?></a></li>
		<li><a href="<?php /*echo $this->baseUrl()*/ ?>/thesis/grading/ip"><?php /*echo $this->translate('Grading')*/ ?></a></li>
	</ul>
	<div class="back"><a href="<?php /*echo $this->baseUrl()*/ ?>/thesis/grading/ip"><?php /*echo $this->translate('Back')*/ ?></a></div>
</div>-->
<div id="search_form">
    <fieldset>
        <legend><?php echo $this->translate('Search') ?></legend>
        <?php echo $this->form; ?>
    </fieldset>
</div>
<br/>
<form method="post" action="" name="form_appr" onsubmit="return checkForm()">
    <input type="hidden" name="semester_id" value="<?php echo $this->data['semester_id'] ?>"/>
    <input type="hidden" name="course_id" value="<?php echo $this->data['course_id'] ?>"/>

    <table class="maintable bordered" width="100%" cellpadding="5" cellspacing="2" border="0">
        <tr>
            <th><?php echo $this->translate("Student"); ?></th>
            <th class="centered"><?php echo $this->translate("Student ID") ?></th>
            <th class="centered"><?php echo $this->translate("Semester") ?></th>
            <th class="centered"><?php echo $this->translate("Course") ?></th>
            <th class="centered"><?php echo $this->translate("Activity") ?></th>
            <th class="centered"><?php echo $this->translate("Grade") ?></th>
            <th class="centered"><?php echo $this->translate("Mark") ?></th>
            <th class="centered"><?php echo $this->translate("Remarks") ?></th>
<!--            <th></th>-->
        </tr>

        <?php
        $i = 0;
        if (count($this->paginator) > 0):
            foreach ($this->paginator as $data):
                if(!is_null($data['grade_status'])){

                }
                ?>
                <tr>
                    <td>
                        <?php echo $data['student_name']; ?>
                    </td>
                    <td><?php echo $data['registrationId'] ?></td>
                    <td><?php echo $data['SemesterMainCode'] ?> - <?php echo $data['SemesterMainName'] ?></td>
                    <td><?php echo $data['SubCode'] ?></td>
                    <td><?php echo $data['DefinitionDesc'] ?></td>
                    <?php
                    $icem = new Thesis_Model_DbTable_General();
                    $icem_grade = $icem->researchIcemData($data['registrationId'],$data['SemesterMainCode']);
                    ?>
                    <td align="center"><?php echo $icem_grade['COURSEREGIS_GRADE'] ?></td>
<!--                    <td align='center'>-->
<!--                        <select name="grade[--><?php //echo $data['p_id'] ?><!--]"-->
<!--                                class="select small" disabled="disabled">-->
<!--                                class="select small" --><?php //echo !is_null($data['grade_status']) ? 'disabled="disabled"' : '' ?><!-->
<!--                            --><?php
//                            foreach ($this->gradinglist as $grade) :
//                                $selected = '';
//                                if($data['grade_status'] == $grade['key']){
//                                    $selected = 'selected = "selected"';
//                                }
//                                ?>
<!--                                <option value="--><?php //echo $grade['key'];?><!--" --><?php //echo $selected;?><!--><?php //echo $grade['value'];?><!--</option>-->
<!--                            --><?php //endforeach; ?>
<!--                        </select>-->
<!--                    </td>-->
                    <td align='center'><?php echo $data['total_marks'] ?></td>
<!--                    <td align='center'><input type="text" name="total_marks[--><?php //echo $data['p_id'] ?><!--]" id="total_marks[--><?php //echo $data['p_id'] ?><!--]" value="--><?php //echo $data['total_marks'] ?><!--" class="inputtext quarter"></td>-->
                    <td align='center'><?php echo $data['grade_remarks'] ?></td>
<!--                    <td align='center'><input type="text" name="remarks[--><?php //echo $data['p_id'] ?><!--]" id="remarks[--><?php //echo $data['p_id'] ?><!--]" value="--><?php //echo $data['grade_remarks'] ?><!--" class="inputtext"></td>-->
                   <!-- <td align='center' class='options'>
                        <input type="checkbox" name="student[]" value="<?php /*echo $data['p_id'] */?>"
                               class="chk" <?php /*echo !is_null($data['grade_status']) ? 'disabled="disabled"' : '' */?> />
                    </td>-->
                </tr>
                <?php
                $i++;
            endforeach;
        else:
            ?>
            <tr>
                <td colspan="6"><?php echo $this->translate('No research found') ?></td>
            </tr>
            <?php
        endif;
        ?>
    </table>

    <?php if (count($this->paginator) > 0): ?>

    <!--<div class="form-opt">
        <input type="submit" class="btn-submit" name="gradesubmit" value="Submit"/>
    </div>-->

    <?php endif;?>

</form>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml');
?>

<script type="text/javascript">
    function checkForm() {
        var total = $('.chk:checked').length;

        if (total == 0) {
            alert('<?php echo $this->translate('You must select atleast one proposal');?>');
            return false
        }

        if (sure('<?php echo $this->translate('Are you sure?')?>') == false) {
            return false;
        }

        return true;
    }

    $(function () {
        $('.checkall').on('click', function () {
            $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
        });

        $('.chk').on('click', function () {
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
        });
    });
</script>
<style type="text/css">
    .hlchk {
        background: #fffcae !important;
    }

    select.small {
        width: 80px
    }

    .inputtext small {
        width: 80px;
    }

</style>