<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/thesis/grading"><?php echo $this->translate('Grading')?></a></li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/thesis/grading/"><?php echo $this->translate('Back')?></a></div>
</div>

<br />
<?php if ( !empty($this->errMsg) ) { ?>
<div class="error"><span class="icon icon-alert"></span> <?php echo $this->errMsg ?></div>
<?php } else { ?>
<form method="post" action="" name="form_appr" onsubmit="return checkForm()">
<table class="table" width="100%">
	<tr>
		<td width="150" class="alt"><?php echo $this->translate("Student");?></td>
		<td><?php echo $this->results[0]['student_name']; ?></td>
	</tr>
	<tr>
		<td class="alt"><?php echo $this->translate("Student ID")?></td>
		<td><?php echo $this->results[0]['registrationId']?></td>
	</tr>
	<tr>
		<td class="alt"><?php echo $this->translate("Research Type")?></td>
		<td><?php echo Thesis_Model_DbTable_General::researchType($this->results[0]['research_type'])?></td>
	</tr>
	<tr>
		<td class="alt"><?php echo $this->translate("Sheet")?></td>
		<td><?php echo $this->results[0]['set_name']?></td>
	</tr>
</table>
<br />
<?php if ( $this->set['evaluation_type'] == 1 ) {?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate('Examiner')?></th>
		<th>Recommendation</th>
	</tr>
	<tr>
		<?php foreach ($this->results as $data): ?>
		<td><?php echo $data['internal_fullname'] != '' ? $data['internal_fullname'] : $data['supervisor_name'];?></td>
		<td align="center" width="30%">
			<?php $sheet_data = json_decode($data['sheet_data'], true);
			if ( $this->set['evaluation_type'] == 1 ) {
				echo Thesis_Model_DbTable_Evaluation::recommendationText($sheet_data['recommendation']);
			} else {
			}
			?>
		</td>
	</tr>
	<?php endforeach; ?>
</table>
<br />
<?php } else { ?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate('Examiner')?></th>
		<th>Total Marks</th>
	</tr>
	<tr>
		<?php if ( $this->set['evaluation_type'] == 0 )
		{
				$totalmarks = 0;
		}
		?>
		<?php foreach ($this->results as $data): ?>
		<td><?php echo $data['internal_fullname'] != '' ? $data['internal_fullname'] : $data['supervisor_name'];?></td>
		<td align="center" width="30%">
			<?php $sheet_data = json_decode($data['sheet_data'], true);
			if ( $this->set['evaluation_type'] == 0 ) {
				$marks = Thesis_Model_DbTable_Evaluation::sumMarks($sheet_data);
				echo $marks;
				$totalmarks += $marks;
			}
			?>
		</td>
	</tr>
	<?php endforeach; ?>
</table>
<br />
<?php } ?>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>	
		<th width="10%">Final Marks</th>
		<th width="10%" class="centered">Final Evaluation</th>
	</tr>
	
	<tr>
		<td align='center'>
		<?php 
			$_marks = $this->set['evaluation_type'] == 0 ? ( $totalmarks / count($this->results) ): '';
		?>
		<input type="text" class="inputtext small marks" value="<?php echo $this->set['evaluation_type'] == 0 && $this->research['eval_marks'] == '' ? $_marks : $this->research['eval_marks']?>" name="marks"  />
		</td>
		<td align='center' class="valign">
			<label><input type="radio" name="eval" value="1" <?php echo !is_null($this->research['eval_grade']) && $this->research['eval_grade'] == 1 ? 'checked="checked"':''?>/> Pass</label>
			<label><input type="radio" name="eval" value="0" <?php echo !is_null($this->research['eval_grade']) && $this->research['eval_grade'] == 0 ? 'checked="checked"':''?>/> Fail</label>
		</td>
	</tr>
</table>
<?php if ( !empty($this->research['eval_date']) ) { ?>
<div class="info">
	<span class="icon icon-clock"></span>
	<div class="text">
	<span class="name">Last Updated:</span> <?php echo format_date($this->research['eval_date'], 'full') ?> <br />
	<span class="name">By:</span> <?php echo $this->updated['user_name'] ?>
	</div>
</div>
<?php } ?>
<div class="form-opt">
	<input type="submit" class="btn-submit" name="submit" value="Submit" />
</div>
</form>

<script type="text/javascript">
function checkForm()
{
	var ask = sure();

	if ( ask == false )
	{
		return false;
	}
}

$(function()
{
	$(".marks").on('change', function(){
		var val = $(this).val();

		var isnum = /^\d+$/.test(val);

		if ( isNaN( parseFloat(val) ) )
		{
			alert('Final Marks must be a valid number');
			$(this).val('').focus();
			return false;
		}
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
	.table td.valign { vertical-align:middle }
	.marks { text-align:center }
	div.info { margin-top:10px; }
	div.info .icon { float:left; font-size:12px; color:#ccc; margin:5px 0 0 5px;}
	div.info .text { margin-left:30px }
	span.name { color:#9b9b9b }
	.inputtext.small { width:100px }
</style>
<?php } ?>