<?php if ( $this->Msg  != '' ) { ?>
	<div class="success message">
		<?php echo $this->Msg ?>
	</div>
<?php } if ( $this->errorMsg  != '' ) { ?>
	<div class="error message">
		<?php echo $this->errorMsg ?>
	</div>
<?php }?>

<?php if ( $this->sent == 1 ) { ?>

	<script type="text/javascript">
		setTimeout(function(){
			window.location.href = '<?php echo $this->baseUrl()?>/';
		}, 2000);
	</script>

<?php } ?>

<form method="post" action="#">
	<div class="login-message2">
		<div class="text" align="left">
			<?php echo $this->translate('Please select user type to reset your password') ?>
		</div>
	</div>
	<div class="row padded">
		<div class="element-wrap">
			<div class="row">
				<div class="element-wrap">
					<span class="element"><?php echo $this->form->type;?></span>
				</div>
			</div>
			<div class="row">
				<div class="element-wrap">
					<span class="element"><?php echo $this->form->username;?></span>
				</div>
			</div>
		</div>
	</div>

	<div class="row submit">
		<input type="submit" name="submit" id="submit" value="Submit" class="login-submit">
	</div>
</form>

<style type="text/css">
	input[type="radio"]{
		vertical-align: baseline;
	}
	.row.padded { margin-bottom:10px; }
	.row.padded .element-wrap { padding:10px; font-size:13px; }
</style>

<script type="text/javascript">
		$("input[name=type]").on('change', function()
		{
			var vals = $(this).val();

			if (vals == 1)
			{
				$("#username").attr('placeholder','<?php echo $this->translate('Please enter your student ID')?>');
			}
			else
			{
				$("#username").attr('placeholder','<?php echo $this->translate('Please enter your email address')?>');
			}
		});
</script>