<form method="post" action="#">	
	<div class="row">
		<div class="element-wrap">
			<span class="element"><?php echo $this->form->username;?></span>
		</div>
	</div>
	<div class="row">
		<div class="element-wrap">
			<span class="element"><?php echo $this->form->password;?></span>
		</div>
	</div>
	<div class="row padded">
		<div class="element-wrap">
			<span class="element"><?php echo $this->form->type;?></span>
		</div>
	</div>

	<div class="row submit">
		<input type="submit" name="submit" id="submit" value="Login" class="login-submit">
	</div>
</form>

<style type="text/css">
input[type="radio"]{
    vertical-align: baseline;
}
.row.padded { margin-bottom:10px; }
.row.padded .element-wrap { padding:10px; font-size:13px; }
</style>

<script type="text/javascript">
$(function()
{
	$("input[name=type]").on('change', function()
	{
		var val = $(this).val();

		if (val != '2')
		{
			$("#username").attr('placeholder','<?php echo $this->translate('Username')?>');
		}
		else
		{
			$("#username").attr('placeholder','<?php echo $this->translate('Email')?>');
		}
	});
});
</script>