<?php if ($this->Msg != '') { ?>
    <div class="success message">
        <?php echo $this->Msg ?>
    </div>
<?php } ?>

<?php if ($this->errorMsg != '') { ?>
    <div class="error message">
        <?php echo $this->errorMsg ?>
    </div>
<?php } ?>

<?php if ( $this->sent == 1 ) { ?>

    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = '<?php echo $this->baseUrl()?>/';
        }, 2000);
    </script>

<?php } ?>

    <form method="post" action="" onsubmit="return validateForm()">
        <div class="formnice">
            <div class="login-message2">
                <div class="text" align="center">
                    <?php echo $this->translate('Set your new password below') ?>
                </div>
            </div>
            <div class="row padded">
                <div class="element-wrap">
                    <div class="row">
                        <div class="element-wrap">
                            <span class="element"><?php echo $this->form->password; ?></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="element-wrap">
                            <span class="element"><?php echo $this->form->confirmpass; ?></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row submit">
                <input type="submit" name="submit" id="submit" value="Submit" class="login-submit">
            </div>
    </form>
<?php //} ?>
<script type="text/javascript">
        function validateForm() {
            var password = $("#password").val();
            var confirmpass = $("#confirmpass").val();

            if (confirmpass != password) {
                alert("<?php echo $this->translate('Passwords does\'t match. Please check and try again')?>");
                return false;
            }

        return true;
        }
</script>

