#ie-msg, #ie-modal { display:none }
#login-container { padding-top:50px; margin-bottom:100px; }

.login-card { width: 400px; min-height:450px; padding-bottom:30px; background:#fff; margin:40px auto 0 auto;  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);  position:relative; }
.login-card .card-info{ padding:20px; }
.login-card header h3 { border-bottom:1px solid #eee; font-weight:700; padding-bottom:10px; }
.login-card .logo { width:267px; height:74px; background:url('../images/logo.png') no-repeat; margin:0 auto; display:block; }
.login-card .login-message { margin:25px 0; font-size:13px; overflow:hidden; position:relative; min-height:30px; }
.login-card .login-message .icon { font-size:25px; position:absolute; top:0; left:0; right:auto; bottom:0; margin: auto;  height:25px; text-align:center; color:#4ab9f8; width:45px; }
.login-card .login-message .text { margin-left:45px; }
.login-card .login-message.alert .icon { color:#cc5956; top:0; }
.login-card .login-message.alert .text { padding-top:5px; }
.login-card footer { margin-top:15px; border-top:1px solid #eee; position:absolute; height:40px; bottom:0; left:0; width:100%; background:#f7f7f7; padding-top:10px;}
.login-card footer .login-help { float: right; width:400px; }
.login-card footer ul { list-style: none; overflow:hidden }
.login-card footer ul li { float:left; text-align:center; width:33%; width: -moz-calc(100%/3); width: -webkit-calc(100%/3); width: calc(100%/3); }
.login-card footer ul li.last { float:right }
.login-card input[type=submit] 
{
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family:  'Open Sans', Arial, sans-serif;
}

.login-card .row.padded { margin-bottom:5px }
.login-card .row.padded .dropdown { width:100% }

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login-submit 
{
	text-align: center;
	font-size: 14px;
	font-family:  'Open Sans', Arial, sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe;
	background: -moz-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #5c9bfa), color-stop(100%, #4786ed));
	background: -webkit-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -o-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -ms-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: linear-gradient(to bottom, #5cc0fa 0%, #47b8ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9bfa', endColorstr='#4786ed', GradientType=0 );
}

.login-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background: -moz-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #5c9bfa), color-stop(100%, #357ae8));
	background: -webkit-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -o-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -ms-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: linear-gradient(to bottom, #4dafe8 0%, #3fa6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9bfa', endColorstr='#3da5d6', GradientType=0 );
}

#tip-help { padding:10px; 
	background:#3b8bb9; 
	position:absolute; 
	width:400px; 
	z-index:10;
	border:1px solid #eee; 
	color:#fff;
	margin-top:105px;
	display:none;
}

#tip-help::after
{
	  position: absolute;
	  right:50px;
	  top:-8px;
	  display: inline-block;
	  border-right: 8px solid transparent;
	  border-bottom: 8px solid #3b8bb9;
	  border-left:8px solid transparent;
	  content: '';
	
}


/* high-res/retina-specific */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi) 
{
	.login-card .logo { background:url('../images/logo2x.png') no-repeat; background-size:267px 74px; }
}


/* responsive */
@media only screen and (max-width: 800px)
{
	.login-card { width:90%;  }
	.login-card .image { width:260px; background-position:top right; }
}