@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/* html5 reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
textarea:focus, input:focus, select:focus { outline: 0; }


/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* Start site CSS */
body					{ color:#000; font:300 12px 'Open Sans', Arial, sans-serif; background:#d9d9d9 url('../images/bg-loop.png'); -webkit-font-smoothing: antialiased; }
body.login				{ background-color:#f7f7f7; }
img						{ border: none; }
p						{ font-size: 1em; line-height:1.5em; }

a						{ color: #0074bd; text-decoration:none;  }
a:hover					{ color:#005a93;  }
a:visited				{ color:#6a899c }

h1, h2, h3, h4 { font-family: 'Open Sans', Arial, sans-serif; font-weight:300; color:#3b3b3b; margin-bottom:10px; }
h1 { color:#3b3b3b; font-size:28px }
h2 { color:#3b3b3b; font-size:24px;  }
h3 { font-size:18px; color:#555 }
h4 { color:#3b3b3b; }

/* start layout */
.wrap { width:98%; margin:0 auto; }

#header {  }
#header .wrap { padding:15px 0 5px 0; height:88px;  }
#header .logo { width:267px; height:74px; background:url('../images/logo.png') no-repeat; display:block; float:left; }
#header h1 { color:#4b7481; float:right;  }

#topbar { background:#0198cd; height:40px; padding-top:10px; position:fixed; width:100%; top:0; z-index:10 }
#topbar .wrap { padding:0 10px }
#topbar .logo { width:71px; height:20px; background:url('../images/logo-top.png') no-repeat; display:block; float:left; margin-right:25px; }
#topbar .title { font: 700 14px/20px 'Open Sans Condensed', Arial, sans-serif; letter-spacing:1px; color:#fff; text-transform:uppercase; float:left; }
#topbar .title span { color:#bbefff }
#topbar .opt-wrap { float:right; width:280px;  }
#topbar .opt-wrap .language, #topbar .opt-wrap .auth-logout { float:right; }
#topbar .opt-wrap .auth-logout { margin-left:10px; text-transform:uppercase; }

#main-nav { }

#main-nav ul, #main-nav ul * { margin: 0; padding: 0; list-style: none; }
#main-nav ul li { position: relative; }
#main-nav ul ul { position: absolute; display: none; top: 120%; left: 0; z-index: 99; }
#main-nav ul > li { float: left; }
#main-nav ul li:hover > ul,
#main-nav ul li.sfHover > ul { display: block; }
#main-nav ul a { display: block; position: relative; }
#main-nav ul ul { padding:10px 20px; box-shadow: 0px 2px 5px rgba(0,0,0,.2); min-width: 12em; *width: 12em; background:#fff; }
#main-nav ul a { font: bold 14px/20px   Arial, sans-serif; color:#deeff6; text-transform:uppercase; margin-right:15px;  }
#main-nav ul .entypo { }
#main-nav ul a:hover { color:#fff  }


#main-nav ul > li > ul > li { float:none; }
#main-nav ul > li > ul > li > a { border-bottom:1px solid #f1f1f1; text-transform:none; color:#666; font:300 13px "Open Sans", Arial, sans-serif; padding:5px; display:block; margin:0; }
#main-nav ul > li > ul > li > a:hover { border-bottom:1px solid #27a0d1; color:#666; }
#main-nav ul > li > ul > li:last-child > a  { border-bottom:none; }


#topbar .opt-wrap .language .select { background:#439ed7; padding:2px; border:none; }
#topbar .auth-logout .icon { color:#bfe1ed; font-size:14px; margin-right:5px;  }
#topbar a { color:#d2e4f0 }
#topbar a:hover { color:#fff; }
#topbar .auth-logout a:hover .icon { color:#fff;  }

#main { padding-bottom:20px; }
#main .wrap { position:relative; }

#content { padding:20px 20px 120px 20px; background:#fff; border:1px solid #eee; min-height:600px; height:600px; height: auto !important;  }
#content.sidebar {  margin-left:230px; }
#sidebar { position:absolute; width:230px; top:0; left:0; background:#3a95cf }

/* profile photo */
#sidebar .profile-photo { margin:0; background:#555; }
#sidebar .profile-photo .photo { position:relative; overflow:hidden; }
#sidebar .profile-photo .photo:hover .img
{
	opacity: 1;
	transform: translateY(-30px);
	-webkit-transform:translateY(-30px);
	-moz-transform:translateY(-30px);
	-ms-transform:translateY(-30px);
	-o-transform:translateY(-30px);
}

#sidebar .profile-photo .photo .img
{
	-webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

#sidebar .profile-photo .photo img { display:block; }
#sidebar .profile-photo .photo .caption { opacity:0; position:absolute; bottom:5px; left:10px; }
#sidebar .profile-photo .photo:hover .caption { opacity:1; text-align: center; position:absolute; z-index:5 }
#sidebar .profile-photo .photo a { color:#fff }
#sidebar .profile-photo .default { background:#b4cfd7; color:#fff; text-align:center; padding:20px; position:relative; }
#sidebar .profile-photo .default .icon { font-size:64px; }
#sidebar .student-info { background:#187996; border-bottom:1px solid #4293ac; padding:10px; letter-spacing:0;  font-size: 16px;  color:#fff; }
#sidebar .student-info .name {font-weight:700; font-size:14px; }
#sidebar .student-info .stud-id { color:#98c9e7; }

#sidebar .menu { -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.05);
	-moz-box-shadow:    0px 2px 0px rgba(50, 50, 50, 0.05);
	box-shadow:         0px 2px 0px rgba(50, 50, 50, 0.05); } 
#sidebar .menu ul { list-style:none }
#sidebar .menu ul > li { }
#sidebar .menu ul > li > a { outline:0; background: #1982a2; display: block; position: relative; color: #fff; padding:6px 12px; font-size:13px; }
#sidebar .menu ul > li > a:hover , #sidebar .menu ul > li > a.active { background:#3aa4c4; color:#fff; }
#sidebar .menu ul li ul li a { background: #0b5b74; border-bottom: 1px solid #187591; display: block; position: relative;	color: #83c1d4; font-size:12px; }
#sidebar .menu ul li ul li a:hover { background:#0b5b74; color:#fff; }
#sidebar .menu ul li ul li:last-child a { border:none }
#sidebar .menu ul li a .icon { margin-right:5px }
#sidebar .menu ul li .arrow { position:absolute; top:7px; right:5px; color:#fff; opacity:0.5; font-size:16px; }
#sidebar .menu ul li > a:hover .icon, #sidebar .menu ul li > a.active .icon { color:#fff; }
#sidebar .menu ul > li > a.active:after
{
	
}

#sidebar .menu ul li a.active .icon { color: #ffe65a; }

/*#sidebar .menu ul > li > a:hover:after, #sidebar .menu ul > li > a.active:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 8px 9px 0;
	border-color: transparent #f5f5f5;
	display: block;
	width: 0;
	z-index: 1;
	right: 0;
	top:5px;
}*/

#footer { border-top:3px solid #5fb748; background:#f6f6f6; color:#555; padding:20px 0; font-size:11px; margin-top:30px  }
#footer .foot-wrap { overflow:hidden; padding-bottom:10px; margin-bottom:15px; }
#footer .info { font-size:11px; margin-bottom:15px; }
#footer .foot-wrap .copyright { float:left; }
#footer .foot-wrap .contact { float:right; }
#footer .notes {  border-top:1px solid #d7e4e7; padding-top:10px; }
#footer .socials { float:right; width:100px; }
#footer .socials ul { list-style:none; }
#footer .socials ul li { overflow:hidden; display:inline; }
#footer .socials ul li a:hover { color:#e7f1f7 }
#footer .socials ul li a.fb:hover .icon { background:#3B5998; color:#fff; }
#footer .socials ul li a.twitter:hover .icon { background:#00aced; color:#fff; }
#footer .socials ul li .icon { float:right; margin-right:10px; background:#86d5f1; width:25px; height:25px; text-align:center; padding-top:3px; color:#fff }

/* high-res/retina-specific */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi) 
{
	#header .logo { background:url('../images/logo2x.png') no-repeat; background-size:267px 74px; }
}



/* end layout */

/* boxes */
.box
{ 
	background:#fff;
	border:1px solid #eee;
	padding:10px;
	-webkit-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.05);
	-moz-box-shadow:    2px 2px 0px rgba(50, 50, 50, 0.05);
	box-shadow:         2px 2px 0px rgba(50, 50, 50, 0.05);
	margin-bottom:15px;
}

.box.minheight { min-height:240px; }

.box .icon { color:#ccc }

.boxes { overflow:hidden; }
.boxes .box { float:left; width: 48%; margin-right:15px; border-color:#ddd; padding:0; }
.boxes .box:nth-child(2n) { margin-right:0; } /* 2nd element */
.boxes .box h3 { padding:5px 10px; border-bottom:1px solid #ddd; font-size:14px; font-weight:700; margin:0; }
.boxes .box .box-content { padding:10px }

.box ul.news { list-style:none }
.box ul.news li { overflow:hidden }
.box ul.news li .tag { float:right; background:#ddd; color:#fff; font-size:10px; text-transform:uppercase; text-align:center; padding:2px 4px; }
.box ul.news li .tag.red { background:#ed460c }
.box ul.news li .tag.green { background:#4fbc57 }
.box ul.news li .date { color:#ccc; font-size:11px; }
.box ul.news li { margin-bottom:4px; }
.box ul.news li .sticky { float:right; margin-right:5px; color:#bbb }

.box table th { text-align:left; color:#ccc; padding:4px; border-bottom:1px solid #eee; }


/* notifications */
div.success, div.error, div.notice 
{ 
	-webkit-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.05);
	-moz-box-shadow:    2px 2px 0px rgba(50, 50, 50, 0.05);
	box-shadow:         2px 2px 0px rgba(50, 50, 50, 0.05);
}

div.error { font-size:13px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff3ee; padding:10px; border-left:3px solid #FC7479; margin-bottom:10px; }
div.success { font-size:13px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#f9ffed; padding:10px; border-left:3px solid #99dc16; margin-bottom:10px; }
div.notice { font-size:13px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; padding:10px; border-left:3px solid #a4daff; margin-bottom:10px; }

div.error .icon { color:#ed5959; font-size:18px;  }
div.success .icon { color:#99dc16; font-size:18px; }
div.notice .icon { color:#a4daff; font-size:18px; }


/* misc */
.icon { font-size:16px; font-weight:normal; }
input.inputtext { border:1px solid #ccc; padding:4px; color:#333; font:11px 'Open Sans', Arial, sans-serif;  width:280px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
input.inputtext:focus { outline:none;  border-color:#93d3f4; -webkit-box-shadow: 0px 0px 3px 3px #eef9ff;-moz-box-shadow: 0px 0px 3px 3px #eef9ff;box-shadow: 0px 0px 3px 3px #eef9ff;  }
input.inputtext.half { width:180px; }
input.inputtext.quarter { width:60px; }
.formnice select, select.select { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;border:1px solid #ccc; font:11px 'Open Sans', Arial, sans-serif; color:#333; padding:3px; }
.formnice .btn.submit {  }
.formnice .btn.cancel { }
textarea { border:1px solid #ccc; padding:5px; color:#333; font:11px 'Open Sans', Arial, sans-serif;  width:280px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width:280px; height:100px; }
textarea:focus {  outline:none;  border-color:#93d3f4; -webkit-box-shadow: 0px 0px 3px 3px #eef9ff;-moz-box-shadow: 0px 0px 3px 3px #eef9ff;box-shadow: 0px 0px 3px 3px #eef9ff; }
.formnice textarea { height:120px;  }
small.desc { display:block; margin-top:4px; color:#888 }



/* login */
/* moved to login.css */

/* content */
#content .lastlogin { float:right; color: #c6c5c5 ; }


/* main table */
table td { vertical-align: top; padding:5px; }
table td label input { vertical-align:top; margin-right:2px }
table.maintable { border:1px solid #cecece; width:100%; margin:10px 0; 	font-size:12px; }
table.maintable tr {  }
table.maintable td { padding:6px; border:1px solid #e2e2e2; }
table.maintable th 
{ 
	text-align:left; 
	padding:6px;
	font-weight:bold; 

	color:#6d6d6d;
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	text-shadow: 0px 1px 0px #fff;
	text-transform:uppercase;
}

table.maintable td.forum { background: #f2f2f2; color:#333; font-weight:bold; }
table.maintable td .icon.topic { color:#666; }
table.bordered td { border:1px solid #e2e2e2 }

table.maintable td.spacer 
{ 
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	text-shadow: 0px 1px 0px #fff;
	text-transform:uppercase;
}

table.maintable th.centered, table td.centered { text-align:center }
table.maintable tbody tr { background-color:#fff; }
table.maintable tbody tr:nth-child(odd){ background-color:#f7f7f7; }

table.table { border:1px solid #cecece; width:100%; margin:10px 0; }
table.table tr { background:#fafafa }
table.table td { padding:5px; border-bottom:1px solid #e2e2e2; }
table.table th { text-align:left; padding:5px; font-weight:bold; font-size:12px; color:#666; background-color: #efefef; border-bottom: 1px solid #cecece; border-top: 1px solid #cecece; text-shadow: 0px 1px 0px #fff; text-transform:uppercase; }

table.table th.centered, table td.centered { text-align:center }
table.table tbody tr:nth-child(odd){ background-color:#fff; }
table.table tr.new { background:#fefae7; }

table.bordered { border-collapse:collapse; }
table.bordered tr { }
table.bordered th { border:1px solid #e2e2e2; font-size:11px; }

table.compact th { font-size:10px; }
table.compact td { font-size:11px; }

table.borderless { }
table.borderless tr { background:transparent !important; }
table.borderless td, table.borderless th { border:none; }

table td.options { text-align:center; color:#ccc }

/* clearfix */
.cf:before,
.cf:after { content: " "; /* 1 */ display: table; /* 2 */ }
.cf:after { clear: both; }
.cf { *zoom: 1;}

/* nice forms */
.formnice						{ background:#fff; border:1px solid #efefef; margin-bottom:10px; }
.formnice div.row strong,
.formnice p strong				{ float:left; width:150px; text-align:right; color:#666; font-weight:bold; margin-right:10px; padding-top:2px;  }
.formnice p, .formnice div.row  { overflow:hidden }
.formnice p .wrap,
.formnice div.row .wrap  		{ margin-left:160px; }
.formnice div.row				{ border-bottom: 1px solid #eee; padding:14px; background:#fff; margin:0; color:#898177 }
.formnice div.row:last-child	{ border:none }
.formnice div.submit 			{ padding:10px; }

.zend_form { margin-bottom:10px; }
.zend_form dt { float:left; clear:left; width:120px; margin-right:10px; padding:5px; }
.zend_form dd { padding:5px; margin-left:135px;  }
.zend_form .zfpad {  }

/* button */ 
.btn { display: inline-block; *display: inline; padding: 4px 12px; margin-bottom: 0; *margin-left: .3em; font-size: 12px; line-height: 20px; color: #333333; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: #f5f5f5; *background-color: #e6e6e6; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x; border: 1px solid #cccccc; *border: 0; border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  }
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] { color: #333333; background-color: #e6e6e6; *background-color: #d9d9d9; }
.btn:active,
.btn.active { background-color: #cccccc 9; }
.btn:first-child { *margin-left: 0; }
.btn:hover,
.btn:focus { color: #333333; text-decoration: none; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn.active,
.btn:active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn.submit { background: #5ac9e8; background: -moz-linear-gradient(top, #5ac9e8 0%, #009ec3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ac9e8), color-stop(100%,#009ec3)); background: -webkit-linear-gradient(top, #5ac9e8 0%,#009ec3 100%); background: -o-linear-gradient(top, #5ac9e8 0%,#009ec3 100%); background: -ms-linear-gradient(top, #5ac9e8 0%,#009ec3 100%); background: linear-gradient(to bottom, #5ac9e8 0%,#009ec3 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5ac9e8', endColorstr='#009ec3',GradientType=0 ); color: #fff; text-shadow: none; }
.btn.submit:hover,
.btn.submit:focus,
.btn.submit:active,
.btn.submit.active,
.btn.submit.disabled,
.btn.submit[disabled] { color: #fff; background: #5ac9e8; }
.btn.square { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.btn2 .icon { font-size:12px }
.btn.flat { background:#fff; color:#555; border-color:#fff }
.btn.flat:hover { border-color:#eee }
.btn.flat .icon { color:#aaa }

div.opt  { text-align:right; margin:10px 0 }
div.opt a.btn:visited { color:#333 }
div.opt.float { float:right }
div.nomargin { margin:0 !important }

table.print th { text-align:left; padding:10px; text-transform:uppercase }
table.print td { border:1px solid #eee; }
table.noborder td { border:none }
table td.req { color:red }
select.error { border:1px solid red; }

/* app form */
.appform { margin-top:20px; }
.appform h3 { font-weight:700; padding-bottom:10px; border-bottom:1px solid #efefef; margin-bottom:10px; text-transform:uppercase; font-size:12px; color:#2b8ac1 }
.appform .group { margin-bottom:35px; }
.appform .group:after { content: ""; display: table; clear: both; } /* markupless clearfix */
.appform .group .row { padding:10px; min-height:85px; height:80px; height: auto !important; position:relative; }
.appform .group .row.half { float:left; width:48%; margin-right:10px; }

.appform .group .row.clear { clear:both }
.appform label { display:block; margin-bottom:4px; font-size:13px; }
.appform .row .element .inputtext { width:250px; margin-bottom:3px; padding:5px 7px; font-size:13px; }
.appform .row .element .inputtext.half { width:100px; }
.appform .row .element .inputtext.quarter { width:125px; }
.appform .row .element .help { display:block; font-size:11px; }
.appform .row .element .inputtext.disabled { background:#f1f1f1 }
.appform .row .element label { float:left; width:50px; font-size:12px; }
.appform .row .element .select { margin-bottom:3px;  width:250px;  }
.appform .row .element .select, .appform .row .element .select option { font-size:12px; }
select.select { width:250px; -webkit-border-radius: 4px; -moz-border-radius: 2px; border-radius: 4px;border:1px solid #ccc; font:11px 'Open Sans', Arial, sans-serif; color:#333; padding:3px; }
select.select optgroup { font-style:normal }
.appform .reqMark { color:red }
.appform .row .element .errormsg { display:block; font-size:11px; color:red }
.appform .row .element .inputtext.error, .appform .row .element select.error { border:1px solid red; }

.btn-submit 
{
	text-align: center;
	font-size: 13px;
	text-transform:uppercase;
	font-family:  'Open Sans', Arial, sans-serif;
	font-weight: 700;
	height: 30px;
	padding: 0 12px;
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe;
	background: -moz-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #5c9bfa), color-stop(100%, #4786ed));
	background: -webkit-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -o-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -ms-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: linear-gradient(to bottom, #5cc0fa 0%, #47b8ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9bfa', endColorstr='#4786ed', GradientType=0 );
}

.btn-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background: -moz-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #5c9bfa), color-stop(100%, #357ae8));
	background: -webkit-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -o-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -ms-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: linear-gradient(to bottom, #4dafe8 0%, #3fa6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9bfa', endColorstr='#3da5d6', GradientType=0 );
}
.btn-submit.disabled {background-color: #ccc;
	background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
	background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
	background: -o-linear-gradient(top, #eee 0%, #ccc 100%);
	background: -ms-linear-gradient(top, #eee 0%, #ccc 100%);
	background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#ccc', GradientType=0 );
}
/* rtl 
	- inceif doesnt support RTL
	- removed
*/

/* tooltip */
.tooltip-info, .tooltip-inline { display:none; }
.tooltip-info .icon, .tooltip-inline .icon { color:#189b26; float:left; font-size:18px; }
.tooltip-info .tooltip-content, .tooltip-inline .tooltip-content { margin-left:30px; }
.tooltip-inline { position:absolute; top:15px; right:10px; width:300px; }
table tr:hover.info-rows .tooltip-inline { display:block; }
.tooltip-info { /*padding:10px; background:#fefefe;*/ position:absolute; width:310px; }
.appform .row:hover .tooltip-inline { display:block; }

/* loading */
#loading { display:none;  -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25); -moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 0.25); box-shadow:   0px 0px 15px rgba(50, 50, 50, 0.25); position: fixed; padding:10px; top:50%; left:50%; color:#ccc; background:#fff; margin-left:-10px; z-index:9999 }

/* responsive */
@media only screen and (max-width: 768px)
{
	.wrap {  width: 100%;  margin:0 auto; padding:0 10px; }
	.boxes .box { float:none; width:100%; }
	#content { margin-left:230px; padding:20px 20px 120px 20px; background:#f5f5f5; min-height:600px; height:600px; height: auto !important;  }
	#main .wrap { padding: 0 }

	/* incomplete */
}

.ui-tabs { 
    background: transparent !important; 
    border: none !important; 
}

.ui-tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #ccc; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

.ui-tabs  .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 

.ui-tabs  .ui-tabs-nav li:hover, .ui-tabs  .ui-tabs-nav .ui-state-active { 
    background: transparent; 
    border-bottom:4px solid #03b5eb !important;
} 

.ui-tabs  .ui-tabs-nav .ui-state-default a { 
    color: #b1b1b1; 
	font-family: 'Open Sans', Arial, sans-serif
} 

.ui-tabs  .ui-tabs-nav .ui-state-active a { 
    color: #333; 
	font-family: 'Open Sans', Arial, sans-serif
}

.page-sec .notes {
	line-height:1.6em;
	font-size:13px;
	background:#e8f8ff;
	border:1px solid #cbe9f5;
	padding:10px;
	color:#2f5463;
	margin-bottom:10px;

}

.text p { margin-bottom:15px; }
.text p:last-child { margin-bottom:0 }

.toolbar { margin-bottom:10px; }
.toolbar h2 { font-weight:700 }

.page-sec { margin-bottom:15px; font-weight:400 }

.page-sec .disclaimer { margin:20px 0; }
.page-sec .disclaimer strong { color:#555; text-decoration:underline;  } 
.page-sec .content {}
.page-sec ol { margin: 15px }
.page-sec li { margin-bottom:10px }
.page-sec .hl { text-decoration:underline }
.page-sec ul { margin:15px 0 0 30px; }


.page-sec h3 { color:#fff; background:#479fd1; padding:5px 10px; border-left:4px solid #8ad125; font-size:13px; text-transform:uppercase; font-weight:700;  }
.page-sec .options { overflow:hidden; padding:15px; background:#f6f6f6; margin:10px 0; }
.page-sec .options .icon { float:left; color:#58bcef; font-size:24px; margin-top:4px; }
.page-sec .options ul { margin-left:50px; margin-top:0; } 
.page-sec .options ul li {margin-bottom:4px; }
.page-sec .reminder { font-size:11px; color:#555; }


.form-opt { margin-top:10px; border:1px solid #eee; padding:10px; }

p.desc { font-size:11px; margin-top:5px; color:#aaa }

ul.errors { margin:10px 0 10px 15px; }
ul.errors { color:red }

.opt.time { color:#aaa }
.opt strong { font-weight: bold }

.reqMark { color:red }

.textarea.large { width:100%; height:150px }

ul.list{  margin:5px 0 0 20px }

small.red { color:red; font-weight: normal; font-size:9px; }
small.normal { color:#a4a4a4;  font-weight: normal; font-size:9px; }

td.depth-2 { padding-left:25px !important; }
td.depth-3 { padding-left:40px; }
td.depth-4 { padding-left:60px; }
strong { font-weight:700 }