<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
		<li>Supervisee</li>
	</ul>
	    <div class="back"><a href="<?php echo $this->baseUrl() ?>/thesis/progress-report/list/id/<?php echo $this->id?>/type/proposal/studid/<?php echo $this->studid ?>"><?php echo $this->translate('Back') ?></a></div>
</div>

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
<input type="hidden" name="student_id" value="<?php echo $this->studid ?>" />
<input type="hidden" name="research_id" value="<?php echo $this->id?>" />
<input type="hidden" name="research_type" value="<?php echo $this->type?>" />

<table width="100%" class="table">
	<tr>
		<th colspan="2"><?php echo $this->translate('Report Details')?></th>
	</tr>
    <tr>
        <td><?php echo $this->translate('Semester')?> <span class="reqMark">*</span></td>
        <td><?php echo $this->form->semester_id->setValue($this->currentSemester['IdSemesterMaster'])?></td>
    </tr>
	<tr>
		<td width="25%">
			<?php echo $this->translate('Meeting Date')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->meeting_date ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Time')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->time_from ?> - <?php echo $this->form->time_to ?>
		</td>
	</tr>
	<tr>
		<td width="25%">
			<?php echo $this->translate('Next Meeting Date')?></td>
		<td>
			<?php echo $this->form->next_date ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Items Discussed')?> <span class="reqMark">*</span>
		</td>
		<td>
<!--			<textarea id="test" class="tpl_content"> --><?php //echo $this->form->itemdiscussed ?><!-- </textarea>-->
			<?php echo $this->form->itemdiscussed ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Next Action')?>
		</td>
		<td>
			<?php echo $this->form->nextaction ?>
		</td>
	</tr>
	
</table>

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>

<script type="text/javascript">

	$(function()
	{
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true,changeYear: true});

		enableEditor();
	});

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	

		$(window).unbind('beforeunload');

		return true;
	}

	function enableEditor()
	{
		CKEDITOR.replace( 'itemdiscussed',{
			toolbar : [
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
				{ name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
				{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
				{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] }

			],
			height: '100px'
		} );

		CKEDITOR.replace( 'nextaction',{
			toolbar : [
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },

				{ name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
				{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
				{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] }

			],
			height: '100px'
		} );
	}


	function getSemester(element) {

		var registerDate = $(element).val();
		var schemeid = "<?php echo $this->schemeid; ?>";

		console.log(registerDate);

		$.ajax({
			url: "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'progress-report', 'action' => 'get-semester'), 'default', true);?>",
			data: {
				'date': registerDate,
				'IdScheme': schemeid

			},
			type: 'POST',
			dataType: 'json',
			success: function (data) {

				$('#semester_id').empty();
				$.each(data, function (index) {
					$('#semester_id').append('<option value="' + data[index].IdSemesterMaster + '">' + data[index].SemesterMainCode + ' - ' + data[index].SemesterMainName + ' (' + data[index].SchemeName + ')</option>');
				});

			},
			error: function () {
				alert("failure");
			},
			beforeSend: function () {
				showLoading('semester_id');

			},
			complete: function () {
				hideLoading('semester_id');
			}
		});
	}

	function showLoading(target) {
		$('#' + target).hide();
		$('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target) {
		$('#loading').remove();
		$('#' + target).show();
	}

</script>

<style type="text/css">
	td .icon { color:#ccc }
	#color { padding:2px; }
	.textarea.large { width:95%; height:150px; }
	.select.small { width:80px; }
</style>