<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>

<?php if (!empty($this->proposal)): ?>
<!--    --><?php //echo '<pre>'; print_r($row = $this->proposal); ?>
    <table class="maintable vtop" width="100%" cellpadding="5" cellspacing="2" border="0">
        <tr>
            <th width="10%"><?php echo $this->translate('Course') ?></th>
            <th width="10%"><?php echo $this->translate('Semester') ?></th>
            <th width="30%"><?php echo $this->translate('Title') ?></th>
            <th width="20%"><?php echo $this->translate('Supervisors') ?></th>
<!--            <th width="10%">--><?php //echo $this->translate("Proposal Defence Status"); ?><!--</th>-->
            <th width="10%"><?php echo $this->translate("Activity"); ?></th>
            <th width="10%"><?php echo $this->translate("Submitted"); ?></th>
            <th width="10%"><?php echo $this->translate("Last Updated") ?></th>
        </tr>
        <?php foreach ($this->proposal as $proposal): ?>
            <tr>
                <td><?php echo $proposal['SubCode'] ?></td>
                <td><?php echo $proposal['SemesterMainDefaultLanguage'] ?></td>
                <td>
                    <a href="<?php echo $this->baseUrl() ?>/thesis/progress-report/list/id/<?php echo $proposal['p_id'] ?>/type/proposal/studid/<?php echo $proposal['student_id'] ?>"><strong><?php echo $proposal['p_title'] ?></strong></a>

                <td>
                    <ol><?php foreach ($proposal['supervisors'] as $sup) {
                            echo '<li>' . $sup['supervisor_name'] . '</li>';
                        }
                        ?></ol>
                </td>
<!--                <td>--><?php //echo $proposal['pd_status_description'] ?><!--</td>-->
                <td><?php echo $proposal['DefinitionDesc'] ?></td>
                <td><?php echo format_date_to_view($proposal['created_date']); ?></td>
                <td><?php echo $proposal['updated_date'] == '' ? '' : time_ago(strtotime($proposal['updated_date'])); ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
    <?php
endif;
?>


<?php if (!empty($this->articleship)): ?>
    <?php $row = $this->articleship; ?>
    <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
        <tr>
            <th><?php echo $this->translate('Company') ?></th>
            <th><?php echo $this->translate('Start Date') ?></th>
            <th><?php echo $this->translate('End Date') ?></th>
            <th><?php echo $this->translate('Supervisor') ?></th>
            <th><?php echo $this->translate("Status"); ?></th>
            <th><?php echo $this->translate("Submitted"); ?></th>
            <th><?php echo $this->translate("Last Updated") ?></th>
        </tr>
        <tr>
            <td>
                <a href="<?php echo $this->baseUrl() ?>/thesis/progress-report/list/id/<?php echo $row['a_id'] ?>/type/articleship/studid/<?php echo $row['student_id'] ?>"><strong><?php echo $row['company'] ?></strong></a>
            <td><?php echo format_date($row['start_date']) ?></td>
            <td><?php echo format_date($row['end_date']) ?></td>
            <td>
                <ol><?php foreach ($this->supervisors as $sup) {
                        echo '<li>' . $sup['supervisor_name'] . '</li>';
                    }
                    ?></ol>
            </td>
            <td><?php echo $row['status_code'] ?></td>
            <td><?php echo format_date_to_view($row['created_date'], 'full'); ?></td>
            <td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
        </tr>
    </table>
    <?php
endif;
?>

<?php if (!empty($this->exemption)): ?>
    <?php $row = $this->exemption; ?>
    <table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
        <tr>
            <th></th>
            <th><?php echo $this->translate('Start Date') ?></th>
            <th><?php echo $this->translate('End Date') ?></th>
            <th><?php echo $this->translate('Supervisor') ?></th>
            <th><?php echo $this->translate("Status"); ?></th>
            <th><?php echo $this->translate("Submitted"); ?></th>
            <th><?php echo $this->translate("Last Updated") ?></th>
        </tr>
        <tr>
            <td>
                <a href="<?php echo $this->baseUrl() ?>/thesis/progress-report/list/id/<?php echo $row['e_id'] ?>/type/exemption/studid/<?php echo $row['student_id'] ?>"><?php echo $this->translate('View') ?></a>
            <td><?php echo format_date($row['start_date']) ?></td>
            <td><?php echo format_date($row['end_date']) ?></td>
            <td>
                <ol><?php foreach ($this->supervisors as $sup) {
                        echo '<li>' . $sup['supervisor_name'] . '</li>';
                    }
                    ?></ol>
            </td>
            <td><?php echo $row['status_code'] ?></td>
            <td><?php echo format_date_to_view($row['created_date'], 'full'); ?></td>
            <td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
        </tr>
    </table>
    <?php
endif;
?>