
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li>Submission</li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Back')?></a></div>
</div>


<h3 class="alt">Submit Final Report</h3>	

<?php  if ( !empty($this->errMsg ) ) { ?>
<div class="error"><span class="icon icon-alert"></span> <?php echo $this->errMsg ?></div>

<table width="100%" class="maintable">
		<tr>
			<td width="200"><?php echo $this->translate('Upload Final Report')?></td>
			<td>
				<a href="<?php echo DOCUMENT_URL . $this->submit['file_url']?>" class="fancy"><?php echo $this->submit['file_name']?></a>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Submitted Date')?></td>
			<td><?php echo format_date($this->submit['created_date'])?></td>
		</tr>
	</table>

	<h3 class="alt">PERMISSION FOR ACADEMIC USE OF WORK BY INCEIF</h3>
	<table width="100%" class="maintable">
		<tr>
			<td align="center"><input type="checkbox" value="1" name="perm_student" disabled="disabled" <?php echo $this->submit['perm_student'] == 1 ? 'checked="checked"':''?>/></td>
			<td>
				<p>I hereby allow INTERNATIONAL CENTRE FOR EDUCATION IN ISLAMIC FINANCE (INCEIF) to upload it in the INCEIF's  KMC database and make it available to INCEIF students for educational purposes.</p>
			</td>
		</tr>
		<tr>
			<td align="center"><input type="checkbox" value="1" name="perm_public"  disabled="disabled"  <?php echo $this->submit['perm_public'] == 1 ? 'checked="checked"':''?>/></td>
			<td>
				<p>I hereby allow INTERNATIONAL CENTRE FOR EDUCATION IN ISLAMIC FINANCE  (INCEIF) to upload it in INCEIF's website and make it available to the public.</p>
			</td>
		</tr>
	</table>
	
	<div class="form-opt">
		<input type="submit" class="btn-submit" value="<?php echo $this->translate('Submit')?>" name="submit" />
	</div>

<?php } else { ?>

<form method="post" id="form_submit" onsubmit="return checkForm()" enctype="multipart/form-data">
	<table width="100%" class="maintable">
		<tr>
			<td><?php echo $this->translate('Upload Final Report')?></td>
			<td>
				<input type="file" name="finalfile" id="finalfile" />
				<small class='desc'><?php echo $this->translate('Allowed types')?>: xls, jpg, jpeg, png, gif, doc, pdf, docx</small>
			</td>
		</tr>
	</table>
	
	<h3 class="alt">PERMISSION FOR ACADEMIC USE OF WORK BY INCEIF</h3>
	<table width="100%" class="maintable">
		<tr>
			<td align="center"><input type="checkbox" value="1" name="perm_student" /></td>
			<td>
				<p>I hereby allow INTERNATIONAL CENTRE FOR EDUCATION IN ISLAMIC FINANCE (INCEIF) to upload it in the INCEIF's  KMC database and make it available to INCEIF students for educational purposes.</p>
			</td>
		</tr>
		<tr>
			<td align="center"><input type="checkbox" value="1" name="perm_public" /></td>
			<td>
				<p>I hereby allow INTERNATIONAL CENTRE FOR EDUCATION IN ISLAMIC FINANCE  (INCEIF) to upload it in INCEIF's website and make it available to the public.</p>
			</td>
		</tr>
	</table>
	
	<div class="form-opt">
		<input type="submit" class="btn-submit" value="<?php echo $this->translate('Submit')?>" name="submit" />
	</div>

</form>

<script type="text/javascript">
function checkForm()
{
	if ( $("#finalfile").val() == '' )
	{
		alert('Please select a file to upload first');
		return false;
	}
	
	var ask = sure();
	if ( ask == false )
	{
		return false;
	}

	return true;
}
</script>
<?php } ?>

