<div class="message toolbar">
    <h2><?php echo $this->translate('Activity Details ('.$this->submit['DefinitionDesc']).')'; ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>Submission</li>
    </ul>
    <div class="back"><a
            href="<?php echo $this->baseUrl() ?>/thesis/submission/proposal-list"><?php echo $this->translate('Back') ?></a>
    </div>
</div>


<!--<h3 class="alt">Notice Of Intention To Submit A Proposal Defence</h3>-->

<?php if (!empty($this->errMsg)) { ?>
    <div class="error"><span class="icon icon-alert"></span> <?php echo $this->errMsg ?></div>
<?php } ?>

<form method="post" id="form_submit" onsubmit="return checkForm()" enctype="multipart/form-data">
    <table width="100%" class="maintable">
        <tr>
            <td width="20%"><?php echo $this->translate('Course') ?></td>
            <td><?php echo $this->submit['SubCode'] ?> - <?php echo $this->submit['SubjectName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester') ?></td>
            <td><?php echo $this->submit['SemesterMainCode'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Title') ?></td>
            <td><?php echo $this->submit['p_title'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Category') ?></td>
            <td><?php echo $this->submit['category_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Topic') ?></td>
            <td><?php echo $this->submit['topic_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Description') ?></td>
            <td><?php echo $this->submit['p_description'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Supervisors') ?></td>
            <td>
                <ol style="margin-left: 15px;">
                    <?php
                    //                    print_r($this->supervisors);
                    foreach ($this->supervisors as $sup) { ?>
                        <li><?php echo $sup['role_name'] . ' - ' . $sup['supervisor_name'] ?> </li>
                    <?php } ?>
                </ol>

            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('RegistrationStatus') ?></td>
            <td><?php echo $this->submit['status_description'] ?></td>
        </tr>
        <?php if ($this->submit['pid'] == 0) { ?>
            <tr>
                <td><?php echo $this->translate('Attachment') ?></td>
                <td colspan="3">
                    <?php echo $this->form->uploadfile ?>
                    <small class='desc'><?php echo $this->translate('Allowed types') ?>: jpg, jpeg, png, gif, doc,
                        pdf, docx
                    </small>

                    <?php if (!empty($this->uploadedfiles)) : ?>
                        <br/>
                        <table class="table filetable inline">
                            <tr>
                                <th><?php echo $this->translate('File') ?></th>
                                <!--                            <th></th>-->
                            </tr>
                            <?php foreach ($this->uploadedfiles as $file) : ?>
                                <tr id="filerow-<?php echo $file['af_id'] ?>">
                                    <td><a href="<?php echo DOCUMENT_URL . $file['af_fileurl'] ?>"
                                           class='fancy'><?php echo $file['af_filename'] ?></a></td>
                                    <!--                                <td><a href="#"-->
                                    <!--                                       onclick="return deleteFileAjax(-->
                                    <?php //echo $file['af_id'] ?><?php //echo $this->translate('Delete') ?><!--</a>-->
                                    <!--                                </td>-->
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    <?php endif; ?>
                </td>
            </tr>
        <?php } ?>
<!--        <tr>-->
<!--            <td>--><?php //echo $this->translate('Proposal Defence Status') ?><!--</td>-->
<!--            <td>-->
<!--<!--                --><?php ////echo $this->submit['pd_status_description'] ?? '<font color="red">Not yet registered</font>' ?><!--<!--</td>-->
<!--            --><?php //echo $this->submit['DefinitionDesc']?>
<!--        </tr>-->
        <tr>
            <td><?php echo $this->translate('Submitted Date') ?></td>
            <td><?php echo format_date_to_view($this->submit['pd_date'], 'full') ?? '-'; ?></td>
        </tr>

        <!--<tr>
            <td width="200"><?php /*echo $this->translate('Proposed Date of Submission') */ ?>:</td>
            <td><input type="text" name="submit_date"
                       id="submit_date" <?php /*echo isset($this->submit['submit_date']) ? 'disabled="disabled" value="' . $this->submit['submit_date'] . '"' : '' */ ?>
                       class="inputtext datepicker half" placeholder="yyyy-mm-dd"/></td>
        </tr>-->

        <!--        --><?php //if ($this->error == 0) { ?>
        <!--            <tr>-->
        <!--                <td colspan="2"><input type="checkbox" id="confirm" name="confirm"-->
        <!--                                       value="1" -->
        <?php //echo isset($this->submit['agree']) ? 'disabled="disabled" checked="checked"' : '' ?><!--/>-->
        <!--                    I confirm to submit proposal defence.-->
        <!--                </td>-->
        <!--            </tr>-->
        <!--        --><?php //} ?>
        <?php if ($this->submit['pid'] == 0) { ?>
            <?php if ($this->form->activity_id->options == array()) { ?>
                <tr>
                    <td><a class="alt"><?php echo $this->translate('Already applied for all activities') ?></a></td>
                </tr>
            <?php } else { ?>
                <tr>
                    <td><?php echo $this->translate('I confirm to apply for') ?></td>
                    <td><?php echo $this->form->activity_id; ?></td>
                </tr>
            <?php } ?>
        <?php } ?>


    </table>

    <!--    --><?php //if ($this->error == 0) { ?>
    <!--        <div class="form-opt">-->
    <!--            <input type="submit" class="btn-submit" value="-->
    <?php //echo $this->translate('Submit') ?><!--" name="submit"/>-->
    <!--        </div>-->
    <!--    --><?php //} ?>
    <?php if ($this->submit['pid'] == 0) { ?>
        <?php if ($this->form->activity_id->options != array()) { ?>
            <div class="form-opt">
                <input type="submit" class="btn-submit" value="<?php echo $this->translate('Submit') ?>" name="submit"/>
            </div>
        <?php } ?>
    <?php } ?>
</form>

<br>

<div class="presentation" id='presentation' style='display: none;'>
    <div>
        <h2>NOTE:</h2>
        <h3><b>Research Progress Presentation</b></h3>
        <p>
            The Research Progress Presentation Application form should be submitted together with the
            slide presentation and other relevant documents, e.g. research instruments, pilot study results, etc.
        </p>
        <br>
        <p>
            The slide presentation should highlight the changes especially improvements that have made on the following:
        </p>
        <br>
        <ul>
            <li>Research title</li>
            <li>Background to the study</li>
            <li>Significance of the study</li>
            <li>Problem statement & Objectives/Research Questions/Hypotheses</li>
            <li>Literature review (key references/citations)</li>
            <li>Theoretical & conceptual frameworks</li>
            <li>Methodology (brief description)</li>
            <li>Framework for data analysis</li>
        </ul>
    </div>
</div>

<div class="presentation" id='preliminary' style='display: none;'>
    <div>
        <h2>NOTE:</h2>
        <h3><b>Presentation of Preliminary Findings</b></h3>
        <p>
            The Application for Presentation of Preliminary Findings form must be submitted together with the slide
            presentation, and other relevant documents, if any.
        </p>
        <br>
        <p>
            The slide presentation should cover the following:
        </p>
        <br>
        <ul>
            <li><p>An overview of the data analysis framework using the following presentation format:</p>
                <br>
                <table class="res">
                    <tr>
                        <th>Objective</th>
                        <th>Research Question</th>
                        <th>Hypothesis</th>
                        <th>Sources of data</th>
                        <th>Type of data</th>
                        <th>Technique of Analysis</th>
                    </tr>
                    <tr>
                        <td height="100"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <br>
            </li>
            <li>Description of data analysis and interpretation</li>
            <li>Major findings and their implications</li>
            <li>Discussion of major findings in relation to theory and past research</li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    function checkForm() {
        var error = 0;
//            if ($("#confirm").is(':checked')) {
//
//                if (sure('<?php //echo $this->translate('Are you sure to submit this proposal defence?')?>//') == false) {
//                    return false;
//                }
//                return true;
//            }
//            else {
//                alert('You must confirm submission first.');
//                return false;
//            }

        var total = $('.chk:checked').length;

        if (total == 0) {
            error = 1;
        }

        if (error == 1) {
            alert('Please fill in all the required fields');
            return false;
        }
    }

    $(function () {
        $(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true});
    });

    function getActivityId(sender) {

        var id = sender.value;

        $.getJSON("<?php echo $this->baseUrl()?>/thesis/submission/get-def/id/" + id, function (data) {

            var display = data.DefinitionCode;

            switch (display) {
                case 'presentation':
                    $("#presentation").show();
                    $("#preliminary").hide();
                    break;
                case 'preliminary':
                    $("#presentation").hide();
                    $("#preliminary").show();
                    break;
                default:
                    $("#presentation").hide();
                    $("#preliminary").hide();
            }
//                document.getElementById(data.DefinitionCode).style.display = (sender.value == data.idDefinition) ? "block" : "none";

        });
    }


</script>

<style type="text/css">

    .presentation ul {
        /*margin:0;*/
        padding: 0 0 0 2em;
    }

    .res table {
        /*border-collapse: collapse;*/
    }

    .res td, th {

        border: 1px solid #999;
        padding: 0.5rem;
        /*text-align: left;*/
    }

</style>
