<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>Submission</li>
    </ul>
    <div class="back"><a
            href="<?php echo $this->baseUrl() ?>/thesis/submission/proposal-list"><?php echo $this->translate('Back') ?></a>
    </div>
</div>

<form method="post" id="form_submit" onsubmit="return checkForm()">
    <table width="100%" class="maintable">
        <?php if ($this->proposal['DefinitionDesc'] == 'Viva') { ?>
            <tr>
                <td width="20%"><?php echo $this->translate('Student must submit correction within') ?></td>
                <td width="5%">:</td>
                <td colspan="3">
                    <?php
                    if ($this->proposal['correction'] != '') {
                        echo $this->proposal['correction'];
                    } else
                        echo '-';
                    ?>

                </td>
            </tr>

            <tr>
                <td width="20%"><?php echo $this->translate('Amended thesis/dissertation must be endorsed by the reviewer') ?></td>
                <td width="5%">:</td>
                <td width="10%"><li>Name</li></td>
                <td width="5%">:</td>
                <td width="60%"><?php echo $this->proposal['fullname'] ?></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td width="10%"><li>Institution</li></td>
                <td width="5%">:</td>
                <td width="60%"><?php echo $this->proposal['institution'] ?></td>
            </tr>

        <?php }
        elseif ($this->proposal['DefinitionDesc'] == 'Proposal Defence'){ ?>
            <tr>
            <td width="20%"><?php echo $this->translate('Grade') ?></td>
            <td width="5%">:</td>
            <td width="75%">
                <?php
                if ($this->proposal['grade_status'] != '') {
                    foreach ($this->grade as $grade) :

                        if ($this->proposal['grade_status'] == $grade['key']) {
                            echo $grade['value'];
                        }

                    endforeach;
                } else
                    echo '-';
                ?>

            </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Files') ?></td>
                <td>:</td>
                <td>
                    <?php if ($this->evaluationfiles) : ?>
                        <ul>
                            <?php foreach ($this->evaluationfiles as $efile) : ?>
                                <li><a href="<?php echo DOCUMENT_URL . $efile['ef_fileurl'] ?>"
                                       class='fancy'><?php echo $efile['ef_filename'] ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php else: ?>
                        -
                    <?php endif; ?>
                </td>
            </tr>
      <?php  }
        else
        {
        ?>
        <tr>
            <td width="20%"><?php echo $this->translate('Files') ?></td>
            <td width="5%">:</td>
            <td>
                <?php if ($this->evaluationfiles) : ?>
                    <ul>
                        <?php foreach ($this->evaluationfiles as $efile) : ?>
                            <li><a href="<?php echo DOCUMENT_URL . $efile['ef_fileurl'] ?>"
                                   class='fancy'><?php echo $efile['ef_filename'] ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                <?php else: ?>
                    -
                <?php endif; ?>
            </td>
        </tr>
       <?php }
        ?>
    </table>
</form>
