<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>Submission</li>
    </ul>
    <div class="back"><a
            href="<?php echo $this->baseUrl() ?>/thesis/submission/proposal-list"><?php echo $this->translate('Back') ?></a>
    </div>
</div>

<form method="post" id="form_submit" onsubmit="return checkForm()">
    <table width="100%" class="maintable">
            <tr>
                <td width="20%"><?php echo $this->translate('Event Name') ?></td>
                <td width="5%">:</td>
                <td colspan="3"><?php echo $this->event['event_name']; ?></td>
            </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Event Type') ?></td>
            <td width="5%">:</td>
            <td colspan="3"><?php echo $this->event['DefinitionDesc']; ?></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Event Venue') ?></td>
            <td width="5%">:</td>
            <td colspan="3"><?php echo $this->event['event_venue']; ?></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Event Date') ?></td>
            <td width="5%">:</td>
            <td colspan="3"><?php echo $this->event['event_date']; ?></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Event Time') ?></td>
            <td width="5%">:</td>
            <td colspan="3"><?php echo $this->event['start_time'].' - '.$this->event['end_time'] ?></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Remark') ?></td>
            <td width="5%">:</td>
            <td colspan="3"><?php echo $this->event['event_remark']; ?></td>
        </tr>
    </table>
</form>
