<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th colspan="2"><?php echo $this->translate("Semester") ?></th>
        <th><?php echo $this->translate("Course"); ?></th>
        <th><?php echo $this->translate("Title"); ?></th>
        <th><?php echo $this->translate("Activity Status"); ?></th>
        <th><?php echo $this->translate("Activity"); ?></th>
        <th><?php echo $this->translate("Registered Date"); ?></th>
        <th></th>
    </tr>

    <?php
    if (!empty($this->proposal)):
        foreach ($this->proposal as $index => $row) :
            ?>
            <tr>
                <td><?php echo $index + 1 ?>)</td>
                <td><?php echo $row['SemesterMainDefaultLanguage'] ?></td>
                <td>
                    <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'submission', 'action' => 'proposal-defence', 'id' => $row['p_id']), 'default', true); ?>">
                    <?php echo $row['SubCode'] ?></td>
                <td><?php echo $row['p_title'] ?></td>

                <?php
                if ($row['event_display'] == 0 && $row['pd_status_code'] == 'approved' && $row['dir_status_name'] != 'rejected') {
                    $mes = 'In-Process for event details';
                }
                elseif($row['dir_status_name'] == 'rejected'){
                    $mes = $row['dir_status_description'];
                }
                else {
                    $mes = $row['pd_status_description'];
                }
                ?>

                <td><?php if ($row['pid'] != 0) {
                        echo $mes;
                    } else {
                        echo '-';
                    }
                    ?></td>
                <!--                <td>-->
                <?php //echo $row['pd_status_description'] ?? '<font color="red">Not yet registered</font>'
                ?><!--</td>-->
                <td><?php echo $row['DefinitionDesc'] ?></td>
                <td><?php echo format_date_to_view($row['applied_date']); ?></td>
                <td>

                    <!--                    --><?php
                    //                    if ($row['pd_status_description'] == ''):
                    ?>
                    <!--                    <a href="-->
                    <?php //echo $this->url(array('module' => 'thesis', 'controller' => 'submission', 'action' => 'proposal-defence', 'id' => $row['p_id']), 'default', true);
                    ?><!--">-->
                    <!--                        --><?php //echo $this->translate('Apply');
                    //                        elseif ($row['pd_status_description'] == 'APPROVED'):
                    ?>
                    <!--                        <a href="-->
                    <?php //echo $this->url(array('module' => 'thesis', 'controller' => 'submission', 'action' => 'proposal-result', 'id' => $row['p_id']), 'default', true);
                    ?><!--">-->
                    <!--                            --><?php //echo $this->translate('View Result');
                    //                            else:
                    ////                            echo $this->translate('View');
                    //                                echo '';
                    //                            endif;
                    //
                    ?>
                    <!--                        </a>-->

                    <?php
                    if ($row['pid'] == 0): ?>

                    <?php
                    $db1 = new Thesis_Model_DbTable_Registration;
                    $db2 = new Thesis_Model_DbTable_General;

                    $research = $db1->getProposal($row['p_id']);

                    $act = $db2->selectType('registed', $research['course_id'], $research['student_id']);
                    ?>


                    <?php if ($act): ?>
                    <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'submission', 'action' => 'proposal-defence', 'id' => $row['p_id']), 'default', true); ?>">
                        <?php echo $this->translate('Apply');
                        endif;

                        endif;
                        ?>

                        <?php
                        if ($row['grade_status'] != NULL): ?>
                        <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'submission', 'action' => 'proposal-result', 'id' => $row['p_id']), 'default', true); ?>">
                            <?php echo $this->translate('View Result');
                            endif;
                            ?>

                            <?php
                            if ($row['event_display'] == 1): ?>
                            <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'submission', 'action' => 'proposal-event', 'id' => $row['event_id']), 'default', true); ?>">
                                <?php echo '</br>' . $this->translate('View Event');
                                endif;
                                ?>
                </td>
            </tr>


            <?php
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No research found') ?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
