<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />
<?php  if ( !empty($this->errMsg ) ) { ?>
<div class="error"><span class="icon icon-alert"></span> <?php echo $this->errMsg ?></div>
<?php } else { ?>
<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">

<input type="hidden" name="student_id" value="<?php echo $this->studid?>" />
<input type="hidden" name="research_id" value="<?php echo $this->id?>" />
<input type="hidden" name="research_type" value="<?php echo $this->type?>" />

<table width="100%" class="table">
	<tr>
		<td width="25%">
			<?php echo $this->translate('Evaluation Set')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->set_id ?>
		</td>
	</tr>
</table>

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Continue')?>" class="btn-submit" />
</div>

</form>

<script type="text/javascript">

	$(function()
	{
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true,changeYear: true});
	});

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	
		$(window).unbind('beforeunload');

		return true;
	}

</script>

<style type="text/css">
	td .icon { color:#ccc }
	#color { padding:2px; }
	.textarea.large { width:95%; height:300px; }
	.select.small { width:80px; }
</style>
<?php } ?>