
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<?php if ( empty($this->sheets) ) { ?>
<div class="opt">
	<a class="btn" href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'add', 'id' => $this->id, 'type' => $this->type, 'studid' => $this->studid ), 'default', true);?>"><?php echo $this->translate('Add Evaluation Sheet')?></a>
</div>
<?php } ?>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="1%"></th>
		<th><?php echo $this->translate("Evaluation Set")?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Research Type");?></th>
		<th><?php echo $this->translate("Created Date");?></th>
		<th><?php echo $this->translate("Last Updated")?></th>
		<th></th>
	</tr>
	
	<?php 
	if ( !empty($this->sheets) ):
	foreach ( $this->sheets as $row ) :
	?>
	<tr>
		<td align='center'><?php echo $row['locked'] == 1 ? '<span class="icon icon-lock tooltip"></span><span class="tooltiptext">Evaluation Already Submitted</span>':''?></td>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/evaluation/detail/id/<?php echo $row['id']?>"><?php echo $row['student_name']?></a></td>
		<td><?php echo $row['registrationId']?></td>
		<td><?php echo $row['research_type']?></td>
		<td><?php echo format_date_to_view($row['created_date'],'full'); ?></td>
		<td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
		<td><?php if ( $row['locked'] == 0 ) { ?><a href="<?php echo $this->baseUrl()?>/thesis/evaluation/submit/id/<?php echo $row['id']?>" onclick="return sure()" class="btn"><span class="icon icon-fast-forward"></span> <?php echo $this->translate('Confirm Evaluation')?></a><?php } ?></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No evaluation found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
