<?php
$auth = Zend_Auth::getInstance();
$authns = new Zend_Session_Namespace($auth->getStorage()->getNamespace());
$authns->setExpirationSeconds(30*60); //this will kill the session after 30 mins of no activity

if ( $auth->getIdentity()->role == 'supervisor' )
{
	$thesisModel = new Thesis_Model_DbTable_General();
	$count = $thesisModel->getColloquiumSupervisee(  $auth->getIdentity()->iduser, 1 );
	$colloquium_total = $count;

	$count = $thesisModel->getSubmissionSupervisee(  $auth->getIdentity()->iduser, 'pre', 1);
	$presub_total = $count;

}
?>
<?php  echo $this->doctype(); ?>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php echo $this->headTitle(); ?>
<?php echo $this->headMeta(); ?>
<link rel="shortcut icon" href="<?php echo $this->baseUrl()?>/images/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />

<?php
$this->headLink()->appendStylesheet($this->baseUrl().'/css/jqueryui/smoothness/jquery-ui.css');

$this->headLink()->appendStylesheet($this->baseUrl().'/font/entypo/entypo.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/fancybox/jquery.fancybox.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/qtip/jquery.qtip.min.css');
$this->headScript()->appendFile($this->baseUrl().'/js/global.js', 'text/javascript');
$this->headScript()->appendFile($this->baseUrl().'/js/modernizr.js', 'text/javascript');
$this->headScript()->appendFile($this->baseUrl().'/js/superfish.js', 'text/javascript');
$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/fancybox/jquery.fancybox.js', 'text/javascript');
$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/maskedinput/maskedinput.js', 'text/javascript');
$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/qtip/jquery.qtip.min.js', 'text/javascript');

$this->jQuery()->enable();
$this->jQuery()->useCdn(false);
$this->jQuery()->setVersion('1.11.1');
$this->jQuery()->setLocalPath($this->baseUrl().'/js/jquery/jquery-1.11.0.min.js');

$this->jQuery()->uiEnable();
$this->jQuery()->setUiVersion('1.10.2');
$this->jQuery()->useUiCdn(false);
$this->jQuery()->setUiLocalPath($this->baseUrl().'/js/jquery/jquery-ui.1.11.0.min.js');

$this->headLink()->appendStylesheet($this->baseUrl().'/css/style.css');

echo $this->headLink();
echo $this->jQuery();
echo $this->headScript();
?>
</head>
<body>
<header id="header">
	<div class="wrap">
		<button class="toggle-menu"><span class="icon-menu"></span></button>
		<a href="<?php echo $this->baseUrl()?>/" class="logo" title="INCEIF"></a>
		<ul>
			<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		</ul>
		<div class="user-opt">
			<a href="<?php echo $this->url(array('module'=>'default','controller'=>'authentication','action'=>'logout'),'default',true) ?>"><span class="icon icon-lock-open"></span> <?php echo $this->translate('Logout')?></a>
		</div>
	</div>
</header>
<section id="subheader">
	<div class="wrap">
		<h1><?php echo $this->translate('Research Portal')?></h1>
	</div>
</section>

<?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger'); ?>
<?php if (count($flashMessenger->getMessages())) : ?>
<section id="infoheader">
<?php foreach ($flashMessenger->getMessages() as $message) : ?>
<div class="fsm message <?php echo key($message)?>">
<?php if ( key($message) == 'success' ) { ?><span class="icon icon-check"></span><?php } ?>
<?php if ( key($message) == 'error' ) { ?><span class="icon icon-attention"></span><?php } ?>
<?php if ( key($message) == 'notice' ) { ?><span class="icon icon-info-circled"></span><?php } ?>
<?php echo $this->translate(current($message)); ?>
</div>
<?php endforeach; ?>
</section>
<?php endif; ?>

<div id="main">
	<div class="wrap cf">
		<div id="content" class="sidebar">
		<!-- content -->
		<?php echo $this->layout()->content; ?>
		<!-- /content -->
		</div>
		<div id="sidebar">

			<div class="profile-photo">
				<div class="photo">
					<?php
					$userphoto = isset($auth->getIdentity()->photo) ? $auth->getIdentity()->photo : '';

					$thumburl = $userphoto == '' ? '' : $this->baseUrl().'/thumb.php?w=230&amp;f='.DOCUMENT_PATH.'/'.$userphoto;
					?>
					<div class="img <?php echo $userphoto == '' ? 'default' : 'pic' ?>">
						<?php
						if ( $userphoto == '' ) {
						?>
						<span class="icon icon-user"></span>
						<?php } else {?>
						<img src="<?php echo $thumburl ?>" alt="photo" />
						<?php
						}
						?>
						<div class="student-info">
							<?php if ( $auth->getIdentity()->role == 'supervisor' ) { ?>
							<div class="name">
								<?php echo $auth->getIdentity()->info['FullName']!=""?$auth->getIdentity()->info['FullName']:"";?>
							</div>
							<div class="stud-id"><?php echo $this->translate('Supervisor') ?></div>
							<?php } else if ( $auth->getIdentity()->role == 'examiner' ) { ?>
							<div class="name">
								<?php echo $auth->getIdentity()->info['staff_name']!=""?$auth->getIdentity()->info['staff_name']:$auth->getIdentity()->info['fullname'];?>
							</div>
							<div class="stud-id"><?php echo $this->translate('Examiner')?></div>
							<?php } else { ?>
							<div class="name">
								<?php echo $auth->getIdentity()->appl_fname!=""?$auth->getIdentity()->appl_fname." ":"";?>
								<?php echo $auth->getIdentity()->appl_mname!=""?$auth->getIdentity()->appl_mname." ":"";?>
								<?php echo $auth->getIdentity()->appl_lname!=""?$auth->getIdentity()->appl_lname." ":"";?>
							</div>
							<div class="stud-id"><?php echo $auth->getIdentity()->registrationId ?></div>
							<?php } ?>
						</div>

					</div>
					<div class="caption">
						<a href="<?php echo $this->url(array('module'=>'portal','controller'=>'photo','action'=>'index'),'default',true) ?>"><i class="icon-camera"></i> <?php echo $this->translate('Change Photo')?></a>
					</div>
				</div>
			</div>

			<div class="menu">
				<ul>
					<li><a href="<?php echo $this->url(array('module'=>'default','controller'=>'portal','action'=>'home'),'default',true) ?>" <?php checkActive() ?>><span class="icon icon-home"></span><?php echo $this->translate('Home'); ?></a></li>

					<?php if ( $auth->getIdentity()->role == 'supervisor' ) { ?>
					<li><a href="#" <?php checkActive('manage') ?>><span class="icon icon-users"></span><span class="arrow icon-down-dir"></span> <?php echo $this->translate("Supervisee")?></a>
						<ul>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/manage/proposal"><?php echo $this->translate('Proposal')?></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/manage/articleship"><?php echo $this->translate('Articleship')?></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/manage/exemption"><?php echo $this->translate('Professional Practice Paper')?></a></li>
						</ul>
					</li>
					<li><a href="#" <?php checkActive('approval')?>><span class="icon icon-check"></span> <?php echo $this->translate("Approval")?></a>
						<ul>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/approval/colloquium"><?php echo $this->translate('Colloquium')?> <label <?php echo $colloquium_total  == 0 ? 'class="empty"':''?>><?php echo $colloquium_total ?></label></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/approval/pre"><?php echo $this->translate('Proposal Defence')?> <label <?php echo $presub_total  == 0 ? 'class="empty"':''?>><?php echo $presub_total ?></label></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/approval/final"><?php echo $this->translate('Final Submission')?></a></li>
						</ul>
					</li>
					<li><a href="<?php echo $this->baseUrl()?>/thesis/managetracking" <?php checkActive('managetracking') ?>><span class="icon icon-calendar"></span> <?php echo $this->translate("Progress Tracking")?></a></li>
					<li><a href="<?php echo $this->baseUrl()?>/thesis/report" <?php checkActive('report') ?>><span class="icon icon-doc-text"></span><?php echo $this->translate("Progress Report")?></a></li>
					<li><a href="#"><span class="icon icon-book"></span><?php echo $this->translate("Grading")?></a>
						<ul>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/grading/"><?php echo $this->translate('Final')?></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/grading/ip/"><?php echo $this->translate('IP')?></a></li>
						</ul>
					</li>
					<?php } else if ( $auth->getIdentity()->role == 'examiner' ) { ?>

					<li><a href="<?php echo $this->baseUrl()?>/thesis/evaluation" <?php checkActive('evaluation')?>><span class="icon icon-docs"></span><?php echo $this->translate("Evaluation")?></a></li>


					<?php } else { ?>
					<!--<li><a href="#"><span class="icon icon-book-open"></span><span class="arrow icon-down-dir"></span> <?php echo $this->translate("Research")?></a>
						<ul>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/registration/proposal"><?php echo $this->translate('Proposal')?></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/registration/articleship"><?php echo $this->translate('Articleship')?></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/registration/exemption"><?php echo $this->translate('PPP')?></a></li>
						</ul>
					</li>-->

					<?php if ( $auth->getIdentity()->research_type == 'proposal' ) { ?>
					<li><a href="<?php echo $this->baseUrl()?>/thesis/progress-report" <?php checkActive('progressreport') ?>><span class="icon icon-doc-text"></span><?php echo $this->translate("Progress Report")?></a></li>
					<?php } ?>

					<!-- <li><a href="<?php echo $this->baseUrl()?>/thesis/tracking/" <?php checkActive('tracking') ?>><span class="icon icon-calendar"></span> <?php echo $this->translate("Tracking")?></a></li> -->

					<li><a href="#" <?php checkActive('submission') ?>><span class="icon icon-archive"></span><span class="arrow icon-down-dir"></span> <?php echo $this->translate("Submission")?></a>
						<ul>
							<?php if ( $auth->getIdentity()->research_type == 'proposal' ) { ?>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/submission/pre"><?php echo $this->translate('Pre-Submission')?></a></li>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/submission/proposal-defence"><?php echo $this->translate('Proposal Defence')?></a></li>
							<?php } ?>
							<li><a href="<?php echo $this->baseUrl()?>/thesis/submission/final"><?php echo $this->translate('Final Submission')?></a></li>
						</ul>
					</li>

					<?php if ( $auth->getIdentity()->research_type == 'proposal' ) { ?>
					<!-- <li><a href="<?php echo $this->baseUrl()?>/thesis/colloquium/" <?php checkActive('colloquium') ?>><span class="icon icon-calendar"></span> <?php echo $this->translate("Colloquium")?></a></li> -->
					<?php } ?>

					<li><a href="<?php echo $this->baseUrl()?>/thesis/documents/" <?php checkActive('documents') ?>><span class="icon icon-download"></span> <?php echo $this->translate("Documents")?></a></li>
					<?php } ?>

					<li><a href="<?php echo $this->url(array('module'=>'default','controller'=>'authentication','action'=>'logout'),'default',true) ?>"><span class="icon icon-lock-open"></span><?php echo $this->translate('Logout')?></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<footer id="footer">
	<div class="wrap">
		<div class="foot-wrap">
			<div class="socials">
				<ul>
					<li><a href="https://www.facebook.com/INCEIF" class="fb"><span class="icon icon-facebook"></span> </a></li>
					<li><a href="https://twitter.com/INCEIF" class="twitter"><span class="icon icon-twitter"></span> </a></li>
				</ul>
			</div>

			<div class="info">
				Please contact IT Helpdesk via email at <a href="mailto:helpdesk@inceif.org">helpdesk@inceif.org</a> or call +603-76514100. (+8.00 GMT Monday - Friday from 8.30am - 8.30pm) if you experience any technical difficulties.
			</div>

			<div class="notes">
				<div class="copyright"> &copy; 2012-<?php echo date('Y')?> The Global University of Islamic Finance. </div>
				<div class="contact"><a href="mailto:helpdesk@inceif.org">Contact Us</a></div>
			</div>
		</div>
	</div>
</footer>
</body>
</html><?php
function checkActive($active='')
{
	 $view = Zend_Layout::getMvcInstance()->getView();
	if ( $view->layout()->navActive == $active )
	{
		echo 'class="active"';
	}
}
?>