<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <link rel="shortcut icon" href="<?php echo $this->baseUrl() ?>/images/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes"/>

    <link href="<?php echo $this->baseUrl() ?>/css/style.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="<?php echo $this->baseUrl() ?>/css/login.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="<?php echo $this->baseUrl() ?>/font/entypo/entypo.css" media="screen" rel="stylesheet" type="text/css"/>

    <?php
    //////////////////////// JQUERY ////////////////////////
    $this->jQuery()->enable();
    $this->jQuery()->useCdn(false);
    $this->jQuery()->setVersion('1.11.1');
    $this->jQuery()->setLocalPath($this->baseUrl() . '/js/jquery/jquery-1.11.0.min.js');

    $this->jQuery()->uiEnable();
    $this->jQuery()->setUiVersion('1.10.2');
    $this->jQuery()->useUiCdn(false);
    $this->jQuery()->addStylesheet($this->baseUrl() . '/js/jquery/jquery-ui.1.11.0.css');
    $this->jQuery()->setUiLocalPath($this->baseUrl() . '/js/jquery/jquery-ui.1.11.0.min.js');

    //////////////////////// END JQUERY ////////////////////////

    echo $this->headLink();
    echo $this->jQuery();
    echo $this->headScript();
    ?>
    <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/js/modernizr.js"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/js/global.js"></script>

    <!-- dropping support for IE lower than 8 -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie.css"/>
    <![endif]-->
    <style type="text/css">
        .login-card .login-message2 {
            margin: 25px 25px 0;
            font-size: 13px;
            font-weight: bold;
            /*overflow: hidden;*/
            /*position: relative;*/
            /*min-height: 10px;*/
        }
    </style>
</head>
<body class="login">

<!-- login container -->
<div id="login-container">

    <div class="login-card">
        <div class="card-info">

            <!-- wrap -->
            <header>
                <a href="<?php echo $this->baseUrl() ?>/" class="logo" title="OUM"></a>
            </header>

<!--            <div class="login-message2">-->
<!--                <div class="text" align="left">-->
<!--                    --><?php //echo $this->translate('Please select user type to reset your password') ?>
<!--                </div>-->
<!--            </div>-->

            <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger'); ?>
            <?php if (count($flashMessenger->getMessages())) : ?>
                <?php foreach ($flashMessenger->getMessages() as $message) : ?>
                    <div class="fsm message <?php echo key($message) ?>">
                        <?php if (key($message) == 'success') { ?><span class="icon icon-check"></span><?php } ?>
                        <?php if (key($message) == 'error') { ?><span class="icon icon-attention"></span><?php } ?>
                        <?php if (key($message) == 'notice') { ?><span class="icon icon-info-circled"></span><?php } ?>
                        <?php echo $this->translate(current($message)); ?>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>

            <?php if (isset($this->layout()->alertError)) { ?>
                <div class="message error"><strong><?php echo $this->layout()->alertError; ?></strong>.</div>
            <?php } ?>
            <?php echo $this->layout()->content; ?>

            <footer>
                <div class="login-help">
                    <ul>
                        <!--					<li><a href="-->
                        <?php //echo $this->url(array('module'=>'default','controller'=>'authentication','action'=>'forgotpassword'),'default',true) ?><!--">Forgot Password?</a></li>-->
                        <!--					<li class="last"><a href="#" onclick="$('#tip-help').fadeToggle('fast');return false;">Need Help?</a></li>-->
                    </ul>
                </div>
            </footer>

            <!-- /wrap -->
        </div>


        <div id="tip-help">
            <p>Please contact IT Helpdesk via email at helpdesk@inceif.org or call +603-76514100. (+8.00 GMT Monday -
                Friday from 8.30am - 8.30pm) if you experience any technical difficulties while processing your online
                application</p>
        </div>

    </div>
</div>
<!-- /login container -->


<!-- Drop IE Support -->
<div id="ie-msg">
    <span class="icon icon-attention"></span> You are using an older version of Internet Explorer. Upgrade to the <a
        href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">latest version</a> or download
    alternatives like <a href="https://www.google.com/chrome">Chrome</a> or <a
        href="http://www.getfirefox.com">Firefox</a>.
</div>
<div id="ie-modal"></div>
<!-- /Drop IE Support -->

</body>
</html>