<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/colorpicker/evol.colorpicker.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/colorpicker/evol.colorpicker.min.css');
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/thesis/tracking/overview/id/<?php echo $this->id?>/type/<?php echo $this->type?>"><?php echo $this->translate('Tracking')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/thesis/tracking/overview/id/<?php echo $this->id?>/type/<?php echo $this->type?>"><?php echo $this->translate('Back')?></a></div>
</div>

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
<input type="hidden" name="research_id" value="<?php echo $this->id?>" />
<input type="hidden" name="research_type" value="<?php echo $this->type?>" />

<table width="100%" class="table">
	<tr>
		<td width="25%">
			<?php echo $this->translate('Activity Parent')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->pid ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Title')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->title ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Description')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->description ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Status')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->status ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Date')?> <span class="reqMark">*</span>
		</td>
		<td>
			<span class="icon icon-calendar"></span> <?php echo $this->form->start_date ?> - <?php echo $this->form->end_date ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Color')?>
		</td>
		<td>
			<?php echo $this->form->color ?>
			<small class="desc"><?php echo $this->translate('Optional: Color used in Gantt chart')?></small>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Attachment')?>
		</td>
		<td>
			<div class="files">
				<input type="file" name="attachment[]" /><br />
			</div>
			<a href="#" onclick="return addMore()">+ Add More</a>
			<small class="desc"><?php echo $this->translate('Allowed Filetypes')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
		</td>
	</tr>
</table>

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>

<script type="text/javascript">

	$(function()
	{
        $("#color").colorpicker({
			displayIndicator: false
		});
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true,changeYear: true});
	});

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	

		$(window).unbind('beforeunload');

		return true;
	}
	
	function addMore()
	{
		var files = $('input[type=file]').length;

		if ( (files+1) == 5 ) 
		{
			return false;
		}

		$(".files").append('<input type="file" name="attachment[]" /><br />');
		return false;
	}
</script>

<style type="text/css">
	td .icon { color:#ccc }
	#color { padding:2px; }
	.files { margin-bottom:3px }
</style>