<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<?php 	if ( !empty($this->proposal) ): ?>
<?php $row = $this->proposal; ?>
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate('Title')?></th>
		<th><?php echo $this->translate('Description')?></th>
		<th><?php echo $this->translate('Supervisor')?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Submitted");?></th>
		<th><?php echo $this->translate("Last Updated")?></th>
	</tr>
	<tr>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/tracking/overview/id/<?php echo $row['p_id']?>/type/proposal"><strong><?php echo $row['p_title']?></strong></a>
		<td><?php echo $row['p_description']?></td>
		<td><ol><?php foreach ( $this->supervisors as $sup ) { 
			echo '<li>'.$sup['supervisor_name'].'</li>';
		}
		?></ol></td>
		<td><?php echo $row['status_name']?></td>
		<td><?php echo format_date_to_view($row['created_date'],'full'); ?></td>
		<td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
	</tr>
</table>
<?php
endif;
?>

<?php 	if ( !empty($this->articleship) ): ?>
<?php $row = $this->articleship; ?>
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate('Company')?></th>
		<th><?php echo $this->translate('Start Date')?></th>
		<th><?php echo $this->translate('End Date')?></th>
		<th><?php echo $this->translate('Supervisor')?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Submitted");?></th>
		<th><?php echo $this->translate("Last Updated")?></th>
	</tr>
	<tr>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/tracking/overview/id/<?php echo $row['a_id']?>/type/articleship/studid/<?php echo $row['student_id']?>"><strong><?php echo $row['company']?></strong></a>
		<td><?php echo format_date($row['start_date'])?></td>
		<td><?php echo format_date($row['end_date'])?></td>
		<td><ol><?php foreach ( $this->supervisors as $sup ) { 
			echo '<li>'.$sup['supervisor_name'].'</li>';
		}
		?></ol></td>
		<td><?php echo $row['status_code']?></td>
		<td><?php echo format_date_to_view($row['created_date'],'full'); ?></td>
		<td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
	</tr>
</table>
<?php
endif;
?>

<?php 	if ( !empty($this->exemption) ): ?>
<?php $row = $this->exemption; ?>
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th></th>
		<th><?php echo $this->translate('Start Date')?></th>
		<th><?php echo $this->translate('End Date')?></th>
		<th><?php echo $this->translate('Supervisor')?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Submitted");?></th>
		<th><?php echo $this->translate("Last Updated")?></th>
	</tr>
	<tr>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/tracking/overview/id/<?php echo $row['e_id']?>/type/exemption/studid/<?php echo $row['student_id']?>"><?php echo $this->translate('View')?></a>
		<td><?php echo format_date($row['start_date'])?></td>
		<td><?php echo format_date($row['end_date'])?></td>
		<td><ol><?php foreach ( $this->supervisors as $sup ) { 
			echo '<li>'.$sup['supervisor_name'].'</li>';
		}
		?></ol></td>
		<td><?php echo $row['status_code']?></td>
		<td><?php echo format_date_to_view($row['created_date'],'full'); ?></td>
		<td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
	</tr>
</table>
<?php
endif;
?>