<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/gantt/js/jquery.fn.gantt.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/gantt/css/style.css');
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<!--<div class="opt nomargin">
	<a class="btn flat" href="<?php echo $this->url(array('module'=>'thesis','controller'=>'tracking','action'=>'download'), 'default', true);?>"><span class="icon icon-export"></span> <?php echo $this->translate('Download as Excel')?></a>
</div>-->
<!-- gantt -->
<div class="gantt"></div>
<!-- /gantt -->

<!--
<div class="opt float">
	<a class="btn" href="<?php echo $this->url(array('module'=>'thesis','controller'=>'tracking','action'=>'add','id'=>$this->id, 'type'=>$this->type), 'default', true);?>"><span class="icon icon-list-add"></span> <?php echo $this->translate('Add New Activity')?></a>
</div>
-->

<h3><?php echo $this->translate('Activities')?></h3>
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="2%"></th>
		<th width="45%"><?php echo $this->translate("Activity");?></th>
		<th width="10%"><?php echo $this->translate("Date From");?></th>
		<th width="10%"><?php echo $this->translate("Date To");?></th>
		<th><?php echo $this->translate("Status")?></th>
		<th width="5%"><?php echo $this->translate("Comments")?></th>
		<th><?php echo $this->translate("Latest Comment")?></th>
	</tr>
	<?php if ( !empty($this->activities) ) : ?>
	<?php $i = 0; ?>
	<?php foreach ( $this->activities as $act ) { $i++;?>
	<tr>
		<td><?php echo $i?>.</td>
		<td class="<?php echo $act['depth'] == 1 ? 'mainact' : 'depth-'.$act['depth']?>"><a href="<?php echo $this->baseUrl()?>/thesis/tracking/view/id/<?php echo $act['info']['id']?>"><strong><?php echo $act['info']['title']?></strong></a><br /><?php echo $act['info']['time_ago']?></td>
		
		<?php if ( $act['info']['start_date'] == '' ) { ?>
		<td colspan="2"><span class="red">Please Update Start / End Date</span></td>
		<?php } else { ?>
		<td><?php echo $act['info']['start_date']?></td>
		<td><?php echo $act['info']['end_date']?></td>
		<?php } ?>

		<td><?php echo $act['info']['status_name']?></td>
		<td align="center"><?php echo $act['info']['totalcomments']?></td>
		<td>
			<?php if ( $act['info']['lastcomment_name'] != '' ) {?>
			<div class="lastcomment">
				<p><?php echo $act['info']['lastcomment_name']?></p>
				<p><small class="desc"><?php echo format_date_to_view($act['info']['lastcomment_date'],'full'); ?></small></p>
			</div>
			<?php } ?>
		</td>
	</tr>
	<?php 
	}
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No activities found.')?></td>
	</tr>
	<?php endif; ?>
</table>

<style type="text/css">
.maintable td.mainact { font-size:13px;  }
.maintable td.depth-2 { padding-left:20px; }
.red { color:red }
<?php echo $this->colors ?>
</style>

<script>
	$(function() {
		data = <?php echo $this->jsonGantt?>;
		$(".gantt").gantt({
			source: data,
			navigate: "scroll",

			maxScale: "months",
			itemsPerPage: 50,
			onItemClick: function(data) {
				
			},
			onAddClick: function(dt, rowId) {
				
			},
			onRender: function() {
				
			}
		});
	});
</script>