
  <div class="message error"><?php echo $this->message ?></div>

  <?php if ('development' == APPLICATION_ENV): ?>

  <h4>Exception information:</h4>
  <p>
      <b>Message:</b> Invalid ACL
  </p>
  <?php endif ?>
