
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">

<input type="hidden" name="student_id" value="<?php echo $this->studentInfo['IdStudentRegistration']?>" id="student_id" />

<h3 class="info"><?php echo $this->translate('Articleship Details')?></h3>
<table width="100%" class="maintable">
	<tr>
		<td width="20%"><?php echo $this->translate('Semester')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->semester_id ?>
		</td>
	</tr>

	<tr>
		<td><?php echo $this->translate('Require Assistance?')?></td>
		<td>
			<?php echo $this->form->assistance ?>
		</td>
	</tr>
	<tr>
		<td rowspan="2"><?php echo $this->translate('Field of Interest')?></td>
		<td>
			<table width="100%" class='borderless'>
			<?php foreach ($this->interests as $interest) {?>
				<tr>
					<td width="30%"><?php echo $interest['i_title']?></td>
					<td><input type="text" class="inputtext small" name="interest[<?php echo $interest['i_id']?>]" value="" /></td>
				</tr>
			<?php } ?>
			<tr>
				<td colspan="2"><small class='desc'><?php echo $this->translate('Please rank your preference')?></small></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Others')?> : <?php echo $this->form->fieldofinterest_others ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Upload CV')?></td>
		<td>
			<?php echo $this->form->uploadfile ?>
			<small class='desc'><?php echo $this->translate('Allowed types')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
		</td>
	</tr>
</table>

<br />

<h3 class="info"><?php echo $this->translate('Organisation Details')?></h3>
<table width="100%" class="table">
	<tr>
		<td width="20%"><?php echo $this->translate('Company')?></td>
		<td>
			<?php echo $this->form->company ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Designation')?></td>
		<td>
			<?php echo $this->form->designation ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Contact Person')?></td>
		<td>
			<?php echo $this->form->contactperson ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Address')?></td>
		<td>
			<?php echo $this->form->address ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Postcode')?></td>
		<td>
			<?php echo $this->form->postcode ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Country')?></td>
		<td>
			<?php echo $this->form->country ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('State')?></td>
		<td>
			<?php echo $this->form->state ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('City')?></td>
		<td>
			<?php echo $this->form->city ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Email')?></td>
		<td>
			<?php echo $this->form->email ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Phone No')?></td>
		<td>
			<?php echo $this->form->phoneno ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Fax No')?></td>
		<td>
			<?php echo $this->form->faxno ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Are you an employee here?')?></td>
		<td>
			<?php echo $this->form->isemployee ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Years of Service')?></td>
		<td>
			<?php echo $this->form->yearsofservice ?>
		</td>
	</tr>
</table>


<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>

<script type="text/javascript">
	var supervisor_array = [];

	$(function()
	{
		
	});

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	

		$(window).unbind('beforeunload');

		return true;
	}

	function getState(idCountry,stateIdFormName,selectedState){
		
		var targetElement = '#'+stateIdFormName;
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'get-state'),'default',true);?>",
			data: {'country_id':idCountry},
			type: 'POST',
			dataType: 'json',
			beforeSend: function() {
				showLoading(targetElement,'loading');
			},
			complete: function() {
				hideLoading(targetElement,'loading');
			}	
		}).done(function ( data ) {
			
			$(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

			$.each(data, function(index) {
				if(selectedState==data[index].idState){
					var selected = 'selected';
				}else{
					var selected = '';
				}
				$(targetElement).append('<option value="'+data[index].idState+'" '+selected+'> '+data[index].StateName+' </option>');
			});
		});
	}

	function getCity(idState,cityIdFormName,selectedCity){
			
		var targetElement = '#'+cityIdFormName;
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'get-city'),'default',true);?>",
			data: {'state_id':idState},
			type: 'POST',
			dataType: 'json',
			beforeSend: function() {
				showLoading(targetElement,'loading');
			},
			complete: function() {
				hideLoading(targetElement,'loading');
			}	
		}).done(function ( data ) {
			
			$(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

			$.each(data, function(index) {
				if(selectedCity==data[index].idCity){
					var selected = 'selected';
				}else{
					var selected = '';
				}
				$(targetElement).append('<option value="'+data[index].idCity+'" '+selected+'> '+data[index].CityName+' </option>');
			});
		});
	}

	function showLoading(target,loading_id){
		$(target).hide();
		$(target).parent().append("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
	}

	function hideLoading(target,loading_id){
		$('#'+loading_id).remove();
		$(target).show();
	}

</script>

<style type="text/css">
div.opt.nomargin { margin:-5px 0 0 0 }
div.opt.nomargin button { margin:0; }

.inputtext.small { width:60px }
</style>