
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<?php if ( empty($this->articleship) ) { ?>
<div class="opt">
	<a class="btn" href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'articleship-add'), 'default', true);?>"><?php echo $this->translate('Register Articleship')?></a>
</div>
<?php } ?>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Date Submitted");?></th>
		<th></th>
	</tr>
	<?php
	if ( !empty($this->articleship) ):
	?>
	<tr>
		<td><?php echo $this->articleship['semester_name']?></td>
		<td><?php echo $this->articleship['status_code']?></td>
		<td><?php echo format_date_to_view($this->articleship['created_date'],'full'); ?></td>
		<td><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration', 'action'=>'articleship-edit', 'id'=>$this->articleship['a_id']),'default',true);?>"><?php echo $this->translate('Review')?></a></td>
	</tr>
	<?php 
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No articleship submitted')?></td>
	</tr>
	<?php
	endif;
	?>
</table>