
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<div class="opt time">
	<?php echo $this->translate('Submitted')?> : <?php echo format_date_to_view($this->articleship['created_date'],'full')?> <br />
	<?php echo $this->translate('Last Updated')?> : <?php echo $this->articleship['updated_date'] == '' ? $this->translate('Never') : format_date_to_view($this->articleship['updated_date'],'full')?>
</div>

<div class="box">
	<table width="100%" id="supervisor_table">
		<tr>
			<th><?php echo $this->translate('Supervisor')?></th>
			<th><?php echo $this->translate('Role')?></th>
		</tr>
		<?php if ( !empty($this->supervisors) ) : ?>
		<?php foreach ( $this->supervisors as $supervisor ) : ?>
		<tr id="row-<?php echo $supervisor['ps_id']?>">
			<td><?php echo $supervisor['supervisor_name']?></td>
			<td><?php echo $supervisor['role_name']?></td>
		</tr>
		<?php endforeach; ?>
		<?php else: ?>
		<tr class='emptyrow'>
			<td colspan='3'><?php echo $this->translate('No supervisors has been assigned yet')?></td>
		</tr>
		<?php endif; ?>
	</table>

</div>

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">

<input type="hidden" name="student_id" id="student_id" value="<?php echo $this->studentInfo['IdStudentRegistration']?>" />

<h3 class="info"><?php echo $this->translate('Articleship Details')?></h3>
<table width="100%" class="table">
	<tr>
		<td width="20%"><?php echo $this->translate('Semester')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->semester_id ?>
		</td>
	</tr>

	<tr>
		<td><?php echo $this->translate('Require Assistance?')?></td>
		<td>
			<?php echo $this->form->assistance ?>
		</td>
	</tr>
	<tr>
		<td rowspan="2"><?php echo $this->translate('Field of Interest')?></td>
		<td>
			<table width="100%" class='borderless'>
			<?php foreach ($this->interests as $interest) {?>
				<tr>
					<td width="30%"><?php echo $interest['i_title']?></td>
					<td><input type="text" class="inputtext small" name="interest[<?php echo $interest['i_id']?>]" value="<?php echo isset($this->interest[$interest['i_id']]) ? $this->interest[$interest['i_id']] : ''?>" /></td>
				</tr>
			<?php } ?>
			<tr>
				<td colspan="2"><small class='desc'><?php echo $this->translate('Please rank your preference')?></small></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Others')?> : <?php echo $this->form->fieldofinterest_others ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Upload CV')?></td>
		<td>
			<?php echo $this->form->uploadfile ?>
			<small class='desc'><?php echo $this->translate('Allowed types')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>

			<?php if ( !empty($this->uploadedfiles) ) : ?>
			<table class="table filetable inline">
			<tr>
				<th><?php echo $this->translate('File')?></th>
				<th></th>
			</tr>
			<?php foreach ( $this->uploadedfiles as $file ) : ?>
			<tr id="filerow-<?php echo $file['af_id']?>">
				<td><a href="<?php echo DOCUMENT_URL.$file['af_fileurl']?>" class='fancy'><?php echo $file['af_filename']?></a></td>
				<td><a href="#" onclick="return deleteFileAjax(<?php echo $file['af_id']?>)"><?php echo $this->translate('Delete')?></a></td>
			</tr>
			<?php endforeach; ?>
			</table>
			<?php endif; ?>
		</td>
	</tr>
</table>

<br />

<h3 class="info"><?php echo $this->translate('Organisation Details')?></h3>
<table width="100%" class="table">
	<tr>
		<td width="20%"><?php echo $this->translate('Company')?></td>
		<td>
			<?php echo $this->form->company ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Designation')?></td>
		<td>
			<?php echo $this->form->designation ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Contact Person')?></td>
		<td>
			<?php echo $this->form->contactperson ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Address')?></td>
		<td>
			<?php echo $this->form->address ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Postcode')?></td>
		<td>
			<?php echo $this->form->postcode ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Country')?></td>
		<td>
			<?php echo $this->form->country ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('State')?></td>
		<td>
			<?php echo $this->form->state ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('City')?></td>
		<td>
			<?php echo $this->form->city ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Email')?></td>
		<td>
			<?php echo $this->form->email ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Phone No')?></td>
		<td>
			<?php echo $this->form->phoneno ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Fax No')?></td>
		<td>
			<?php echo $this->form->faxno ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Are you an employee here?')?></td>
		<td>
			<?php echo $this->form->isemployee ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Years of Service')?></td>
		<td>
			<?php echo $this->form->yearsofservice ?>
		</td>
	</tr>
</table>


<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>

<script type="text/javascript">

	$(function()
	{

		$(".fancy").fancybox();

		
		getState($('#country').val(),'state',<?php echo $this->articleship['state']?>);
		getCity($('#state').val(),'city',<?php echo $this->articleship['city']?>);

		
	});

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
		

		$(window).unbind('beforeunload');

		return true;
	}

	function getState(idCountry,stateIdFormName,selectedState){
		
		var targetElement = '#'+stateIdFormName;
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'get-state'),'default',true);?>",
			data: {'country_id':idCountry},
			type: 'POST',
			dataType: 'json',
			beforeSend: function() {
				showLoading(targetElement,'loading');
			},
			complete: function() {
				hideLoading(targetElement,'loading');
			}	
		}).done(function ( data ) {
			
			$(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

			$.each(data, function(index) {
				if(selectedState==data[index].idState){
					var selected = 'selected';
				}else{
					var selected = '';
				}
				$(targetElement).append('<option value="'+data[index].idState+'" '+selected+'> '+data[index].StateName+' </option>');
			});
		});
	}

	function getCity(idState,cityIdFormName,selectedCity){
			
		var targetElement = '#'+cityIdFormName;
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'get-city'),'default',true);?>",
			data: {'state_id':idState},
			type: 'POST',
			dataType: 'json',
			beforeSend: function() {
				showLoading(targetElement,'loading');
			},
			complete: function() {
				hideLoading(targetElement,'loading');
			}	
		}).done(function ( data ) {
			
			$(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

			$.each(data, function(index) {
				if(selectedCity==data[index].idCity){
					var selected = 'selected';
				}else{
					var selected = '';
				}
				$(targetElement).append('<option value="'+data[index].idCity+'" '+selected+'> '+data[index].CityName+' </option>');
			});
		});
	}

	function showLoading(target,loading_id){
		$(target).hide();
		$(target).parent().append("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
	}

	function hideLoading(target,loading_id){
		$('#'+loading_id).remove();
		$(target).show();
	}

	function deleteFileAjax(id)
	{
		var ret = confirm("Are you sure to delete");
		
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-file",
			type: "post",
			data: {'id':id},
			dataType: 'json',
			success: function(data)
			{
				if (data.msg == '' )
				{
					$('#filerow-'+id).remove();
				}
				else
				{
					alert(data.msg);
				}
			},
			error:function(){
				  alert("failure");
			}  
		});

		return false;
	}

</script>

<style type="text/css">
div.opt.nomargin { margin:-5px 0 0 0 }
div.opt.nomargin button { margin:0; }

.table.inline { margin-top:10px; width:250px; }

.inputtext.small { width:60px }
</style>