
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
<input type="hidden" name="student_id" value="<?php echo $this->studentInfo['IdStudentRegistration']?>" />

<h3 class="info"><?php echo $this->translate('Articleship Exemption Details')?></h3>
<table width="100%" class="table">
	<tr>
		<td width="20%"><?php echo $this->translate('Reason for Applying')?></td>
		<td>
			<?php echo $this->form->reason ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Proposed area of PPP')?></td>
		<td>
			<?php echo $this->form->proposedarea ?>
		</td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Upload')?></td>
		<td>
			<input type="file" name="files[]" /> <br />
			<input type="file" name="files[]" /> <br />
			<input type="file" name="files[]" />

			<small class='desc'><?php echo $this->translate('Allowed types')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
			
			<br />

			<p>Supporting letter from your employer confirming your experience </p>
			<ul class='list'>
				<li>Copy of CIFP Academic Transcript</li>
				<li>Curriculum Vitae</li>
			</ul>
		</td>
	</tr>
</table>

<br /><br /><br />

<div class="opt float nomargin">
	<a href="#" class='btn' onclick="return addEmployment();"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Employment Detail')?></a>
</div>

<h3 class="info"><?php echo $this->translate("Employment Details")?></h3>
<table width="100%" class="table" id="employementtable">
	<tr>
		<th><?php echo $this->translate('Company Name')?></th>
		<th><?php echo $this->translate('Position')?></th>
		<th><?php echo $this->translate('Job Function')?></th>
		<th><?php echo $this->translate('Year')?></th>
		<th></th>
	</tr>
	<tr class='emptyrow'>
		<td colspan='5'><?php echo $this->translate('No employment details yet')?></td>
	</tr>
</table>


<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>


<!-- employment dialog -->
<div id="dialog-employment" title="Add Employment Detail" style="display:none">
	<table width="100%">
	<tr>
		<td width="20%"><?php echo $this->translate("Company Name")?> <span class="reqMark">*</span></td>
		<td><input type="text" class="inputtext reqfield" id="employment_compname" name="employment_compname" value="" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Company Address")?><span class="reqMark">*</span></td>
		<td><textarea id="employment_compaddress" name="employment_compaddress" class="textarea reqfield"></textarea></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Position")?> <span class="reqMark">*</span></td>
		<td><input type="text" id="employment_position" class="inputtext reqfield" name="employment_position" value="" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Job Function")?> <span class="reqMark">*</span></td>
		<td><input type="text" class="inputtext reqfield" id="employment_jobfunction" name="employment_jobfunction" value="" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Year")?> <span class="reqMark">*</span></td>
		<td><input type="text" class="inputtext small year reqfield" id="employment_year" name="employment_year" value="" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Name")?><span class="reqMark">*</span></td>
		<td><input type="text" class="inputtext reqfield" id="employment_refname" name="employment_refname" value="" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Address")?><span class="reqMark">*</span></td>
		<td><textarea id="employment_refaddress" name="employment_refaddress" class="textarea reqfield"></textarea></td>
	</tr>
	</table>
</div>
<!-- /employment dialog -->


<script type="text/javascript">
	$(function()
	{
		$(".year").mask("9999");


		$( "#dialog-employment" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					var error = 0;

					$("#dialog-employment .reqfield").each(function()
					{
						if ( $(this).attr("type") != 'radio' )
						{
							var field = $(this).parent().prev().html();

							var p = $(this).val();

							if ( p == '' )
							{
								error = 1;
								//return false;
							}
						}
					});

					if ( error == 1 )
					{
						alert('Please fill in all the required fields');
						return false;
					}

					//successful
					addNewEmployement();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});

	
	});
	
	function addNewEmployement()
	{
		
		var html  = "<tr class='emprow'>"
					+"<td>"+htmlRow('employment_compname',1)+"</td>"
					+"<td>"+htmlRow('employment_position',1)+"</td>"
					+"<td>"+htmlRow('employment_jobfunction',1)+"</td>"
					+"<td>"+htmlRow('employment_year',1)
					+htmlRow('employment_compaddress',0)
					+htmlRow('employment_refname',0)
					+htmlRow('employment_refaddress',0)
					+"</td>"
					+"<td>"+"<a href='#' onclick='deleteEmploymentRow(this); return false;'><?php echo $this->translate('Delete')?></a>"+"</td>"
					+"</tr>";
		
		$("#employementtable tr.emptyrow").remove();
        $("#employementtable").append( html );
	}
	
	function htmlRow(name,html)
	{
		var value = $("#"+name).val();
		
		if (html == 1 )
		{
			return value+'<input type="hidden" name="'+name+'[]" value="'+value+'" />';
		}
		else
		{
			return '<input type="hidden" name="'+name+'[]" value="'+value+'" />';
		}
	}


	

	function addEmployment()
	{
		$("#dialog-employment").dialog('open');
		return false;
	}
	
	function deleteEmploymentRow(what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}

		//remove row
		$(what).parent().parent().remove();
	}

	
	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	

		if ($(".emprow").length == 0)
		{
			alert('Please add atleast one employement detail');
			return false;
		}

		$(window).unbind('beforeunload');

		return true;
	}


</script>

<style type="text/css">
div.opt.nomargin { margin:-6px 0 0 0 }
div.opt.nomargin button { margin:0; }
textarea.large { width:100%; height:150px; }
#dialog-employment table td { font-size:11px; }
</style>