
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data" class="appform">

<input type="hidden" id="student_id" value="<?php echo $this->studentInfo['IdStudentRegistration']?>" name="student_id" />

<!-- group -->
<div class="group">
<h3><?php echo $this->translate('Proposal Details')?></h3>

	<div class="row">
		<label><?php echo $this->translate('Research Category')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->p_category ?><br/>
			<input class="inputtext" type="text" name="p_category_others" id="p_category_others" value="" style="display:none" />
		</div>
		<div class="tooltip-inline">
			<span class="icon icon-info-circled"></span>
			<div class="tooltip-content small">
				You can suggest new research category by selecting 'Others'
			</div>
		</div>
	</div>
	<div class="row">
		<label><?php echo $this->translate('Research Topic')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->p_topic ?><br/>
			<input class="inputtext" type="text" name="p_topic_others" id="p_topic_others" value="" style="display:none" />
		</div>
		<div class="tooltip-inline">
			<span class="icon icon-info-circled"></span>
			<div class="tooltip-content small">
				You can suggest new research topic by selecting 'Others'
			</div>
		</div>
	</div>
	<div class="row">
		<label><?php echo $this->translate('Description')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->p_description ?>
		</div>
	</div>
	
	<div class="row">
		<label><?php echo $this->translate('Upload File')?></label>
		<div class="element">
			<?php echo $this->form->uploadfile ?>
			<small class='desc'><?php echo $this->translate('Allowed types')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
		</div>
		<div class="tooltip-inline">
			<span class="icon icon-info-circled"></span>
			<div class="tooltip-content small">
				Upload documents related to your research proposal.
			</div>
		</div>
	</div>
</div>
<!-- /group -->

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>


<script type="text/javascript">

	$(function()
	{
		checkOthers($("#p_category"));
		checkOthers($("#p_topic"));
	});
	
	function checkOthers(val)
	{
		var e_val = $(val).val();
		var name = $(val).attr("name");
		
		if (e_val == '99')
		{
			$("#"+name+"_others").show();
		}
		else
		{
			$("#"+name+"_others").hide();
		}
	}

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( $("#p_topic").val() == 99 && $("#p_topic_others").val() == '' )
		{
			error = 1;
		}

		if ( $("#p_category").val() == 99 && $("#p_category_others").val() == '' )
		{
			error = 1;
		}

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                


		$(window).unbind('beforeunload');

		return true;
	}
</script>

<style type="text/css">
div.opt.nomargin { margin:-5px 0 0 0 }
div.opt.nomargin button { margin:0; }


</style>