
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<div class="opt time">
	<?php echo $this->translate('Submitted')?> : <?php echo format_date_to_view($this->proposal['created_date'],'full')?> <br />
	<?php echo $this->translate('Last Updated')?> : <?php echo $this->proposal['updated_date'] == '' ? $this->translate('Never') : format_date_to_view($this->proposal['updated_date'],'full')?>
</div>

<div class="box">
	<table width="100%" id="supervisor_table">
		<tr>
			<th><?php echo $this->translate('Supervisor')?></th>
			<th><?php echo $this->translate('Role')?></th>
		</tr>
		<?php if ( !empty($this->supervisors) ) : ?>
		<?php foreach ( $this->supervisors as $supervisor ) : ?>
		<tr id="row-<?php echo $supervisor['ps_id']?>">
			<td><?php echo $supervisor['supervisor_name']?></td>
			<td><?php echo $supervisor['role_name']?></td>
		</tr>
		<?php endforeach; ?>
		<?php else: ?>
		<tr class='emptyrow'>
			<td colspan='3'><?php echo $this->translate('No supervisors has been assigned yet')?></td>
		</tr>
		<?php endif; ?>
	</table>

</div>

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data" class="appform">

<input type="hidden" id="student_id" value="<?php echo $this->studentInfo['IdStudentRegistration']?>" name="student_id" />

<!-- group -->
<div class="group">
<h3><?php echo $this->translate('Proposal Details')?></h3>

	<div class="row">
		<label><?php echo $this->translate('Proposed Title')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->p_title ?>
		</div>
	</div>
	<div class="row">
		<label><?php echo $this->translate('Research Cluster')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->p_category ?><br/>
			<input class="inputtext" type="text" name="p_category_others" id="p_category_others" value="" style="display:none" />
		</div>
	</div>
	<div class="row">
		<label><?php echo $this->translate('Thesis Committee Meeting')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->meeting_date ?><br/>
		</div>
	</div>
	<!--<div class="row">
		<label><?php echo $this->translate('Research Topic')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->p_topic ?><br/>
			<input class="inputtext" type="text" name="p_topic_others" id="p_topic_others" value="" style="display:none" />
		</div>
	</div>-->
	<input type="hidden" name="p_topic_others" value="" />
	<div class="row">
		<label><?php echo $this->translate('Synopsis')?> <span class="reqMark">*</span></label>
		<div class="element">
			<?php echo $this->form->p_description ?>
		</div>
	</div>
	
	<div class="row">
		<label><?php echo $this->translate('Upload File')?></label>
		<?php if ( empty($this->uploadedfiles) ) : ?>
		<div class="element">
			<?php echo $this->form->uploadfile ?>
			<small class='desc'><?php echo $this->translate('Allowed types')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
		</div>
		<div class="tooltip-inline">
			<span class="icon icon-info-circled"></span>
			<div class="tooltip-content small">
				Upload documents related to your research proposal.
			</div>
		</div>
		<?php else : ?>
			<table class="table filetable inline">
			<tr>
				<th><?php echo $this->translate('File')?></th>
				<th></th>
			</tr>
			<?php foreach ( $this->uploadedfiles as $file ) : ?>
			<tr id="filerow-<?php echo $file['af_id']?>">
				<td><a href="<?php echo DOCUMENT_URL.$file['af_fileurl']?>" class='fancy'><?php echo $file['af_filename']?></a></td>
				<td><a href="#" onclick="return deleteFileAjax(<?php echo $file['af_id']?>)"><?php echo $this->translate('Delete')?></a></td>
			</tr>
			<?php endforeach; ?>
			</table>
			<?php endif; ?>
		
	</div>
</div>
<!-- /group -->

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Update')?>" class="btn-submit" />
</div>

</form>


<script type="text/javascript">

	$(function()
	{
		$(".fancy").fancybox();
		checkOthers($("#p_category"));
		checkOthers($("#p_topic"));
	});
	
	function checkOthers(val)
	{
		var e_val = $(val).val();
		var name = $(val).attr("name");
		
		if (e_val == '99')
		{
			$("#"+name+"_others").show();
		}
		else
		{
			$("#"+name+"_others").hide();
		}
	}
	
	function deleteFileAjax(id)
	{
		var ret = confirm("Are you sure to delete");
		
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-file",
			type: "post",
			data: {'id':id},
			dataType: 'json',
			success: function(data)
			{
				if (data.msg == '' )
				{
					$('#filerow-'+id).remove();
				}
				else
				{
					alert(data.msg);
				}
			},
			error:function(){
				  alert("failure");
			}  
		});

		return false;
	}

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( $("#p_topic").val() == 99 && $("#p_topic_others").val() == '' )
		{
			error = 1;
		}

		if ( $("#p_category").val() == 99 && $("#p_category_others").val() == '' )
		{
			error = 1;
		}

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                


		$(window).unbind('beforeunload');

		return true;
	}
</script>

<style type="text/css">
div.opt.nomargin { margin:-5px 0 0 0 }
div.opt.nomargin button { margin:0; }


</style>