<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<?php if ( empty($this->proposal) ) { ?>
<div class="opt">
	<a class="btn" href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'proposal-add'), 'default', true);?>"><?php echo $this->translate('Register Proposal')?></a>
</div>
<?php } ?>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Category");?></th>
		<th><?php echo $this->translate("Topic");?></th>
		<th><?php echo $this->translate("Description");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Date Submitted");?></th>
		<th></th>
	</tr>
	
	<?php 
	if ( !empty($this->proposal) ):
	?>
	<tr>
		<td><?php echo $this->proposal['category_name']?></td>
		<td><?php echo $this->proposal['topic_name']?></td>
		<td><?php echo $this->proposal['p_description']?></td>
		<td><?php echo $this->proposal['status_name']?></td>
		<td><?php echo format_date_to_view($this->proposal['created_date'],'full'); ?></td>
		<td><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration', 'action'=>'proposal-edit', 'id'=>$this->proposal['p_id']),'default',true);?>">
				<?php echo $this->translate('Review'); ?>
			</a>
		</td>
	</tr>
	<?php 
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No proposals yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

