@font-face {

    font-family: "Intrepid";

    src: url(/ckeditor4/fonts/intrepid/Intrepid.eot); /* IE */

    src: local("Intrepid"), url("/ckeditor4/fonts/intrepid/Intrepid.ttf") format("truetype"); /*non-IE*/

}