<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
<input type="hidden" name="student_id" value="<?php echo $this->studid?>" />
<input type="hidden" name="research_id" value="<?php echo $this->id?>" />
<input type="hidden" name="research_type" value="<?php echo $this->type?>" />
<table width="100%" class="table">
	<tr>
		<td><?php echo $this->translate('Semester')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->semester_id->setValue($this->currentSemester['IdSemesterMaster'])?></td>
	</tr>
	<tr>
		<td width="25%">
			<?php echo $this->translate('Meeting Date')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->meeting_date ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Time')?> <span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->form->time_from ?> - <?php echo $this->form->time_to ?>
		</td>
	</tr>
	<tr>
		<td width="25%">
			<?php echo $this->translate('Next Meeting Date')?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->form->next_date ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Items of Discussed')?>
		</td>
		<td>
			<?php echo $this->form->itemdiscussed ?>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $this->translate('Next Action')?>
		</td>
		<td>
			<?php echo $this->form->nextaction ?>
		</td>
	</tr>
	
</table>

<div class="submit">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>

</form>

<script type="text/javascript">

	$(function()
	{
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true,changeYear: true});
	});

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
	

		$(window).unbind('beforeunload');

		return true;
	}

</script>

<style type="text/css">
	td .icon { color:#ccc }
	#color { padding:2px; }
	.textarea.large { width:95%; height:150px; }
	.select.small { width:80px; }
</style>