<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="1" xmlns="http://www.w3.org/1999/html">
    <tr>
        <th><?php echo $this->translate("Student ID"); ?></th>
        <th><?php echo $this->translate("Student Name"); ?></th>
        <th><?php echo $this->translate("Semester"); ?></th>
        <th><?php echo $this->translate("Title"); ?></th>
        <th><?php echo $this->translate("Meeting Date"); ?></th>
        <th><?php echo $this->translate("Next Meeting"); ?></th>
        <th><?php echo $this->translate("Item Discussed") ?></th>
        <th><?php echo $this->translate("Next Action") ?></th>
<!--        <th class='center'>--><?php //echo $this->translate("Total Comments") ?><!--</th>-->
<!--        <th>--><?php //echo $this->translate("Latest Comment") ?><!--</th>-->
        <th><?php echo $this->translate("Status"); ?></th>
        <th><?php echo $this->translate("Created By"); ?></th>
        <th><?php echo $this->translate("Created Date"); ?></th>
    </tr>
    <?php
    if (!empty($this->listing)):
        foreach ($this->listing as $row) :
            ?>
            <tr>
                <td align=''><?php echo $row['registrationId'] ?></td>
                <td align=''><?php echo $row['student_name'] ?></td>
                <td align='center'><?php echo $row['SemesterMainCode'] ?></td>
                <td align=''><?php echo $row['p_title'] ?></td>
                <td align='center'><?php echo format_date_to_view($row['meeting_date'], 'd-m-Y'); ?></td>
                <td align='center'><?php echo format_date_to_view($row['next_date'], 'd-m-Y'); ?></td>
                <td align=''><?php echo $row['itemdiscussed'] ?></td>
                <td align=''><?php echo $row['nextaction'] ?></td>
                <td align='center'>
                    <?php
                    if ($row['status'] == '1') {
                        echo 'Approved';
                    } elseif ($row['status'] == '0') {
                        echo 'Rejected';
                    } else {
                        echo '-';
                    }
                    ?>
                </td>
                <td align='center'><?php echo $row['created_role'] ?></td>
                <td align='center'><?php echo format_date_to_view($row['created_date'], 'full'); ?></td>
            </tr>

            <?php
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No reports found') ?></td>
        </tr>
        <?php
    endif;
    ?>
</table>