<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br/>

<form method="post">
    <fieldset>
        <legend><?php echo $this->translate('Search') ?></legend>
        <table>
            <tr>
                <td width="31%"><?php echo $this->translate('Student') ?></td>
                <td colspan="3">
                    <label><input type="text" class="input-txt" name="student-search" id="student-search"
                                  value=""/></label>
                    <label><input type="radio" name="search-type" value="id"
                                  checked="checked"/> <?php echo $this->translate('Student ID') ?></label>
                    <label><input type="radio" name="search-type"
                                  value="name"/> <?php echo $this->translate('Name') ?></label>
                </td>
            </tr>
            <tr>
                <td width="31%"><?php echo $this->translate('Course') ?></td>
                <td colspan="3">
                    <label><input type="text" class="input-txt" name="SubCode" id="SubCode"
                                  value=""/></label>
                </td>
            </tr>
            <tr>
                <td width="31%"></td>
                <td><?php echo $this->form->save; ?><?php echo $this->form->clear; ?></td>
            </tr>
        </table>
    </fieldset>
</form>
<br/>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th><?php echo $this->translate("Student ID"); ?></th>
        <th><?php echo $this->translate("Student Name") ?></th>
        <th width="8%"><?php echo $this->translate("Course") ?></th>
        <th><?php echo $this->translate("Title") ?></th>
<!--        <th>--><?php //echo $this->translate("Research Type"); ?><!--</th>-->
        <th><?php echo $this->translate("Registration Status"); ?></th>
<!--        <th>--><?php //echo $this->translate("Proposal Defence Status"); ?><!--</th>-->
        <th><?php echo $this->translate("Submitted"); ?></th>
        <th><?php echo $this->translate("Last Updated") ?></th>
    </tr>

    <?php
    if (!empty($this->tracking)):
        foreach ($this->tracking as $row) :
            ?>
            <tr>
                <td><?php echo $row['registrationId'] ?></td>
                <td><a href="<?php echo $this->baseUrl() ?>/thesis/report/list/id/<?php echo $row['research_id'] ?>/type/<?php echo strtolower($row['type']) ?>/studid/<?php echo $row['student_id'] ?>/courseid/<?php echo $row['course_id'] ?>"><?php echo $row['student_name'] ?></a></td>
                <td><?php echo $row['SubCode'] ?></td>
                <td><?php echo $row['p_title'] ?></td>
<!--                <td>--><?php //echo $row['type'] ?><!--</td>-->
                <td><?php echo $row['status_description'] ?></td>
<!--                <td>--><?php //echo $row['pd_status_description'] ?><!--</td>-->
                <td><?php echo format_date_to_view($row['created_date'], 'full'); ?></td>
                <td><?php echo $row['updated_date'] == '' ? '' : time_ago(strtotime($row['updated_date'])); ?></td>
            </tr>
            <?php
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No results found') ?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
