<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>

<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>Progress Report</li>
        <li>View Feedback</li>
    </ul>
    <div class="back"><a
            href="<?php echo $this->baseUrl() ?>/thesis/report/list/id/<?php echo $this->report['p_id']; ?>/type/proposal/studid/<?php echo $this->report['student_id']; ?>/courseid/<?php echo $this->report['course_id']; ?>"><?php echo $this->translate('Back') ?></a>
    </div>
</div>
<?php //print_r($this->report);exit; ?>
<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
    <table width="100%" class="table">
        <tr>
            <td width="20%"><?php echo $this->translate('Reseach Title') ?></td>
            <td width="5%">:</td>
            <td width="75%"><?php echo $this->report['p_title'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Meeting Date') ?></td>
            <td>:</td>
            <td><?php echo format_date_to_view($this->report['meeting_date'],'d-m-Y'); ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Time') ?></td>
            <td>:</td>
            <td><?php echo $this->report['time_from'] ?> - <?php echo $this->report['time_to'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Next Meeting Date') ?></td>
            <td>:</td>
            <td><?php echo $this->report['next_date'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Items of Discussed') ?></td>
            <td>:</td>
            <td><?php echo $this->report['itemdiscussed'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Next Action') ?></td>
            <td>:</td>
            <td><?php echo $this->report['nextaction'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Status') ?></td>
            <td>:</td>
            <td>
                <?php
                if ($this->report['status'] == '1') {
                    echo 'Approved';
                } elseif ($this->report['status'] == '0') {
                    echo 'Rejected';
                } else {
                    echo '-';
                }
                ?></td>
        </tr>
    </table>
    <?php if ($this->super['role_name'] == "MAIN SUPERVISOR") : ?>
    <?php if ($this->report['status'] == NULL) : ?>
    <div class="form-opt">
        <input type="submit" class="btn-submit btn-green" name="approval"
               value="<?php echo $this->translate("Approve") ?>"/>
        <input type="submit" class="btn-submit btn-red" name="approval"
               value="<?php echo $this->translate("Reject") ?>"/>
    </div>
    <?php endif; ?>
    <?php endif; ?>

</form>


<br/>
<br/>

<h3><?php echo $this->translate('Feedback') ?></h3>

<table width="100%" class="maintable borderless" id="comments">
    <tr>
        <th width="20%"><?php echo $this->translate('Poster') ?></th>
        <th width="70%"><?php echo $this->translate('Comment') ?></th>
        <th width="10%"></th>
    </tr>
    <?php foreach ($this->comments as $cmt) {    ?>
        <tr class="comment-row">
            <td><?php echo $cmt['posted_name'] ?><br>
                <?php if ($cmt['posted_type'] == 'supervisor') { ?>
                    <div class="rank super"><?php echo $cmt['role_name'] ?></div><?php } else { ?>
                    <div class="rank student">Student</div>
                <?php } ?>
            </td>
            <td><?php echo nl2br($cmt['comment']) ?>
                <div class="attachments">
                    <?php $attachments = Thesis_Model_DbTable_Tracking::getFiles($cmt['c_id'], 'comments');
                    if (!empty($attachments)) { ?>
                        <div class="attach-content">
                            <p><strong><?php echo $this->translate('Attachment(s)') ?></strong></p>
                            <ol>
                                <?php foreach ($attachments as $attach) { ?>
                                    <li><a class="fancy"
                                           href="<?php echo DOCUMENT_URL . $attach['af_fileurl'] ?>"><?php echo $attach['af_filename'] ?></a>
                                    </li>
                                <?php } ?>
                            </ol>
                        </div>
                        <?php
                    }
                    ?>
                </div>
            </td>
            <td><span class="icon icon-clock"></span> <?php echo time_ago(strtotime($cmt['posted_date'])); ?></td>
           <!-- <td><a href="<?php /*echo $this->baseUrl() */?>/thesis/report/delete/id/<?php /*echo $cmt['c_id'] */?>">Delete</a>
            </td>-->

        </tr>
    <?php } ?>
</table>

<br/>

<form method="post" id="form_comment" onsubmit="return checkComment()" enctype="multipart/form-data">

    <h3><?php echo $this->translate('Add Feedback Via Supervisor') ?></h3>
    <table width="100%">
        <tr>
            <td colspan="2"><textarea id="comment" name="comment" class="textarea large"></textarea></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Attachment') ?></td>
            <td>
                <input type="file" name="attachment_1"/> <br/>
<!--                <input type="file" name="attachment_2"/> <br/>-->
<!--                <input type="file" name="attachment_3"/>-->
                <small class="desc"><?php echo $this->translate('Allowed Filetypes') ?>: jpg, jpeg, png, gif, doc, pdf,
                    docx
                </small>
            </td>
        </tr>
    </table>
    <input type="submit" name="addcomment" value="<?php echo $this->translate('Post Feedback') ?>" class="btn-submit"/>
</form>

<br/>

<form method="post" id="form_comment" onsubmit="return checkComment()" enctype="multipart/form-data">

    <h3><?php echo $this->translate('Add Feedback Via Student') ?></h3>
    <table width="100%">
        <tr>
            <td colspan="2"><textarea id="comment" name="comment" class="textarea large"></textarea></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Attachment') ?></td>
            <td>
                <input type="file" name="attachment_1"/> <br/>
                <!--                <input type="file" name="attachment_2"/> <br/>-->
                <!--                <input type="file" name="attachment_3"/>-->
                <small class="desc"><?php echo $this->translate('Allowed Filetypes') ?>: jpg, jpeg, png, gif, doc, pdf,
                    docx
                </small>
            </td>
        </tr>
    </table>
    <input type="submit" name="addcommentstudent" value="<?php echo $this->translate('Post Feedback') ?>" class="btn-submit"/>
</form>


<script type="text/javascript">

    $(function () {
        $(".fancy").fancybox();

        $("#color").colorpicker({
            displayIndicator: false
        });
        $(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true});
    });

//    function checkComment() {
//
//        if ($("#comment").val() == '') {
//            alert('<?php //echo $this->translate('Enter your feedback first')?>//');
//
//            return false;
//        }
//
//        return true;
//    }

</script>

<style type="text/css">
    td .icon {
        color: #ccc
    }

    #color {
        padding: 2px;
    }

    .userinfo {
    }

    .userinfo .name {
        color: #15aee3;
        margin-bottom: 4px;
    }

    .rank {
        font-size: 10px;
        text-transform: uppercase;
        color: #fff;
        background: #b1b1b1;
        display: inline;
        padding: 2px 5px;
    }

    .rank.super {
        background: #fba113
    }

    table .date {
        float: right;
        font-size: 11px;
        color: #888;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    table .comment-text {
        font-size: 14px;
        line-height: 1.7em;
    }

    .attach-content {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #f1f1f1;
    }

    .attach-content ol {
        margin-left: 15px;
        margin-top: 6px;
    }

    .attach-content ol li {
        margin-bottom: 4px;
    }

    table .comment-row td {
        border-bottom: 1px solid #eee;
        padding: 8px;
        vertical-align: top;
    }
</style>

<script type="text/javascript">

    $(function () {
        $(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true});
    });

    function checkForm() {
        var error = 0;

        $("#form_topic .reqfield").each(function () {
            if ($(this).attr("type") != 'radio') {
                var field = $(this).parent().prev().html();

                var p = $(this).val();

                if (p == '') {
                    //alert(field+" cannot be empty");
                    $(this).parent().prev().addClass("req");
                    $(this).focus();

                    error = 1;
                    //return false;
                }
                else {
                    $(this).parent().prev().removeClass("req");
                }
            }
        });

        if (error == 1) {
            alert('Please fill in all the required fields');
            return false;
        }


        $(window).unbind('beforeunload');

        return true;
    }

</script>

<style type="text/css">
    td .icon {
        color: #ccc
    }

    #color {
        padding: 2px;
    }

    .textarea.large {
        width: 95%;
        height: 150px;
    }

    .select.small {
        width: 80px;
    }

    .hlchk {
        background: #fffcae !important;
    }

    .btn-green {
        background: #59a230
    }

    .btn-green:hover {
        background: #65bc35
    }

    .btn-red {
        background: #cc4736
    }

    .btn-red:hover {
        background: #ea4933
    }
</style>