
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Date Submitted");?></th>
		<th></th>
	</tr>
	<?php
	if ( !empty($this->articleship) ):
	foreach ( $this->articleship as $row ):
	?>
	<tr>
		<td><?php echo $row['student_name']?></td>
		<td><?php echo $row['semester_name']?></td>
		<td><?php echo $row['status_code']?></td>
		<td><?php echo format_date_to_view($row['created_date'],'full'); ?></td>
		<td><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'manage', 'action'=>'articleship-edit', 'id'=>$row['a_id']),'default',true);?>"><?php echo $this->translate('Review')?></a></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No articleships found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>