<table width="100%">
	<tr>
		<td width="20%"><?php echo $this->translate("Company Name")?></td>
		<td><input type="text" readonly="readonly" class="inputtext reqfield" id="employment_compname" name="employment_compname" value="<?php echo $this->emp['ae_compname']?>" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Company Address")?></td>
		<td><textarea readonly="readonly" id="employment_compaddress" name="employment_compaddress" class="textarea reqfield"><?php echo $this->emp['ae_compaddress']?></textarea></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Position")?></td>
		<td><input readonly="readonly" type="text" id="employment_position" class="inputtext reqfield" name="employment_position" value="<?php echo $this->emp['ae_position']?>" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Job Function")?></td>
		<td><input readonly="readonly" type="text" class="inputtext reqfield" id="employment_jobfunction" name="employment_jobfunction" value="<?php echo $this->emp['ae_jobfunction']?>" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Year")?></td>
		<td><input readonly="readonly" type="text" class="inputtext quarter  year reqfield" id="employment_year_from" name="employment_year_from" value="<?php echo $this->emp['ae_year_from']?>" /> - <input readonly="readonly" type="text" class="inputtext quarter  year reqfield" id="employment_year_to" name="employment_year_to" value="<?php echo $this->emp['ae_year_to']?>" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Name")?></td>
		<td><input readonly="readonly" type="text" class="inputtext reqfield" id="employment_refname" name="employment_refname" value="<?php echo $this->emp['ae_refname']?>" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Address")?></td>
		<td><textarea readonly="readonly" id="employment_refaddress" name="employment_refaddress" class="textarea reqfield"><?php echo $this->emp['ae_refaddress']?></textarea></td>
	</tr>
</table>

<style type="text/css">
.textarea { font-size:11px !important}
</style>