
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<div class="opt time">
	<?php echo $this->translate('Submitted')?> : <?php echo format_date_to_view($this->exemption['created_date'],'full')?> <br />
	<?php echo $this->translate('Last Updated')?> : <?php echo $this->exemption['updated_date'] == '' ? $this->translate('Never') : format_date_to_view($this->exemption['updated_date'],'full')?>
</div>

<div class="box">
	<table width="100%" id="supervisor_table">
		<tr>
			<th><?php echo $this->translate('Supervisor')?></th>
			<th><?php echo $this->translate('Role')?></th>
		</tr>
		<?php if ( !empty($this->supervisors) ) : ?>
		<?php foreach ( $this->supervisors as $supervisor ) : ?>
		<tr id="row-<?php echo $supervisor['ps_id']?>">
			<td><?php echo $supervisor['supervisor_name']?></td>
			<td><?php echo $supervisor['role_name']?></td>
		</tr>
		<?php endforeach; ?>
		<?php else: ?>
		<tr class='emptyrow'>
			<td colspan='3'><?php echo $this->translate('No supervisors has been assigned yet')?></td>
		</tr>
		<?php endif; ?>
	</table>

</div>

<h3 class="info"><?php echo $this->translate('PPP Details')?></h3>
<table width="100%" class="table">

	<tr>
		<td width="20%"><?php echo $this->translate('Start Date')?></td>
		<td>
			<?php echo $this->form->start_date ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('End Date')?></td>
		<td>
			<?php echo $this->form->end_date ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Reason for Applying')?></td>
		<td>
			<?php $reasonSel = json_decode($this->exemption['reason_selected'], true); ?>
			<?php foreach ( $this->reasons as $reason ) : ?>
				<p>
					<input id="reason-<?php echo $reason['i_id']?>" type="checkbox" <?php echo isset($reasonSel[$reason['i_id']]) ? 'checked="checked"':''?> name="reason_selected[<?php echo $reason['i_id']?>]" value="<?php echo $reason['i_id']?>" />
					<label for="reason-<?php echo $reason['i_id']?>"><?php echo $reason['i_title']?></label>
				</p>
			<?php endforeach; ?>

			<br />

			<div id="reason_others">
			<p><?php echo $this->translate('Others')?>:</p>
			<?php echo $this->form->reason ?>
			</div>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Proposed area of PPP')?></td>
		<td>
			<?php echo $this->form->proposedarea ?>
		</td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Uploaded Files')?></td>
		<td>
			
			<table class="table filetable inline">
			<tr>
				<th><?php echo $this->translate('File')?></th>
			</tr>
			<?php foreach ( $this->uploadedfiles as $file ) : ?>
			<tr id="filerow-<?php echo $file['af_id']?>">
				<td><a href="<?php echo DOCUMENT_URL.$file['af_fileurl']?>" class='fancy'><?php echo $file['af_filename']?></a></td>
			</tr>
			<?php endforeach; ?>
			</table>
		</td>
	</tr>
	
	

</table>

<br /><br /><br />

<!--<div class="opt float nomargin">
	<a href="#" onclick="addEmployment();" class="btn"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Employment Detail')?></a>
</div>
-->

<h3 class="info"><?php echo $this->translate("Employment Details")?></h3>
<table width="100%" class="table" id="employementtable">
	<tr>
		<th><?php echo $this->translate('Company Name')?></th>
		<th><?php echo $this->translate('Position')?></th>
		<th><?php echo $this->translate('Job Function')?></th>
		<th><?php echo $this->translate('Year')?></th>
	</tr>
	<?php if ( !empty($this->employment) ) : ?>
	<?php foreach ( $this->employment as $emp ) : ?>
	<tr id="emprow-<?php echo $emp['ae_id']?>">
		
		<td><a href="#" onclick="return viewEmployment(<?php echo $emp['ae_id']?>)"><?php echo $emp['ae_compname']?></td>
		<td><?php echo $emp['ae_position']?></td>
		<td><?php echo $emp['ae_jobfunction']?></td>
		<td><?php echo $emp['ae_year_from']?> - <?php echo $emp['ae_year_to']?></td>
	</tr>
	<?php endforeach; ?>
	<?php else: ?>
	<tr class='emptyrow'>
		<td colspan='5'><?php echo $this->translate('No employment details yet')?></td>
	</tr>
	<?php endif; ?>
</table>


<!-- employment dialog -->
<div id="dialog-employment" title="Add Employment Detail" style="display:none">
	<table width="100%">
	<tr>
		<td width="20%"><?php echo $this->translate("Company Name")?> <span class="reqMark">*</span></td>
		<td><input type="text" class="input-txt reqfield" id="employment_compname" name="employment_compname" value="" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Company Address")?><span class="reqMark">*</span></td>
		<td><textarea id="employment_compaddress" name="employment_compaddress" class="textarea reqfield"></textarea></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Position")?> <span class="reqMark">*</span></td>
		<td><input type="text" id="employment_position" class="input-txt reqfield" name="employment_position" value="" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Job Function")?> <span class="reqMark">*</span></td>
		<td><input type="text" class="input-txt reqfield" id="employment_jobfunction" name="employment_jobfunction" value="" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Year")?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->translate('From')?> <input type="text" class="input-txt small year reqfield" id="employment_year_from" name="employment_year_from" value="" /> <?php echo $this->translate('To')?> <input type="text" class="input-txt small year reqfield" id="employment_year_to" name="employment_year_to" value="" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Name")?><span class="reqMark">*</span></td>
		<td><input type="text" class="input-txt reqfield" id="employment_refname" name="employment_refname" value="" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Address")?><span class="reqMark">*</span></td>
		<td><textarea id="employment_refaddress" name="employment_refaddress" class="textarea reqfield"></textarea></td>
	</tr>
	</table>
</div>
<!-- /employment dialog -->

<!-- empview dialog -->
<div id="dialog-empview" title="Employment Details" style="display:none">
</div>
<!-- /empview dialog -->


<script type="text/javascript">
<?php jspack_start() ?>
	$(function()
	{
		$(".year").mask("9999");
		$(".datepicker").datepicker({dateFormat: "yy-mm-dd"});

		$(".fancy").fancybox();

		
		$( "#dialog-employment" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					var error = 0;

					$("#dialog-employment .reqfield").each(function()
					{
						if ( $(this).attr("type") != 'radio' )
						{
							var field = $(this).parent().prev().html();

							var p = $(this).val();

							if ( p == '' )
							{
								error = 1;
								//return false;
							}
						}
					});

					if ( error == 1 )
					{
						alert('Please fill in all the required fields');
						return false;
					}

					//successful
					addNewEmployement();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});

		$("#dialog-empview").dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650
		});
	});
	
	function addNewEmployement()
	{
		
		var html  = "<tr class='emprow'>"
					+"<td>"+htmlRow('employment_compname',1)+"</td>"
					+"<td>"+htmlRow('employment_position',1)+"</td>"
					+"<td>"+htmlRow('employment_jobfunction',1)+"</td>"
					+"<td align='center'>"+htmlRow('employment_year_from',1)
					+" - "
					+htmlRow('employment_year_to',1)
					+htmlRow('employment_compaddress',0)
					+htmlRow('employment_refname',0)
					+htmlRow('employment_refaddress',0)
					+"</td>"
					+"<td align='center'>"+"<a href='#' onclick='deleteEmploymentRow(this); return false;'><?php echo $this->translate('Delete')?></a>"+"</td>"
					+"</tr>";
		
		$("#employementtable tr.emptyrow").remove();
        $("#employementtable").append( html );
	}
	
	function htmlRow(name,html)
	{
		var value = $("#"+name).val();
		
		if (html == 1 )
		{
			return value+'<input type="hidden" name="'+name+'[]" value="'+value+'" />';
		}
		else
		{
			return '<input type="hidden" name="'+name+'[]" value="'+value+'" />';
		}
	}

	function viewEmployment(id)
	{
		$('#dialog-empview').load("<?php echo $this->url(array('module'=>'thesis', 'controller'=>'manage','action'=>'exemption-viewemp'),'default',true); ?>/id/"+id,function(){
		
			$("#dialog-empview" ).dialog('open');

		});

		return false;
	
	}

	function addEmployment()
	{
		$("#dialog-employment").dialog('open');
	}
	
	function deleteEmploymentRow(what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}

		//remove row
		$(what).parent().parent().remove();
	}

	function deleteFileAjax(id)
	{
		var ret = sure("<?php echo $this->translate('Are you sure to delete?')?>");

		if ( ret == false )
		{
			return false;
		}
		
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-file",
			type: "post",
			data: {'id':id},
			dataType: 'json',
			success: function(data)
			{
				if (data.msg == '' )
				{
					$('#filerow-'+id).remove();
				}
				else
				{
					alert(data.msg);
				}
			},
			error:function(){
				  alert("failure");
			}  
		});

		return false;
	}
	
		
	function deleteEmploymentRowAjax(id)
	{
		var ret = confirm("Are you sure to delete");
		
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-employment",
			type: "post",
			data: {'id':id},
			dataType: 'json',
			success: function(data)
			{
				if (data.msg == '' )
				{
					$('#emprow-'+id).remove();
				}
				else
				{
					alert(data.msg);
				}
			},
			error:function(){
				  alert("failure");
			}  
		});

		return false;
	}

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
		
		$(window).unbind('beforeunload');

		return true;
	}

	function addFile()
	{
		$('<input type="file" name="files[]" style="display:none"/> <br />').appendTo($('#files_container')).slideDown("fast");
		return false;
	}

<?php jspack_output(); ?>
</script>

<style type="text/css">
div.opt.nomargin { margin:-6px 0 0 0 }
div.opt.nomargin button { margin:0; }
.table.inline { margin-top:10px; width:250px; }

textarea.large { width:100%; height:150px; }
#dialog-employment table td { font-size:11px; }
</style>