<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<?php if ( $this->Msg  != '' ) { ?>
    <div class="success message">
        <?php echo $this->Msg ?>
    </div>
<?php } if ( $this->errorMsg  != '' ) { ?>
    <div class="error message">
        <?php echo $this->errorMsg ?>
    </div>
<?php }?>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>Supervisee</li>
        <li>Notification</li>
    </ul>
    <div class="back"><a href="<?php echo $this->baseUrl() ?>/thesis/manage/proposal">
            <?php echo $this->translate('Back') ?></a></div>
</div>



<div class="box">

    <form method="post" id="notification" onsubmit="return checkComment()">
    <table width="100%" id="supervisor_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Student Details') ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Student ID') ?></td>
            <td width="5%">:</td>
            <td width="25%"><?php echo $this->proposal['registrationId'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student Name') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['student_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Program') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['ProgramName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Intake') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['intake_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Email') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['student_email'] ?></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Course') ?></td>
            <td width="5%">:</td>
            <td width="75%"><?php echo $this->proposal['SubCode'] ?> - <?php echo $this->proposal['SubjectName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Title') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['p_title'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Comment') ?></td>
            <td>:</td>
            <td><textarea name="message" class="tpl_content reqfield"></textarea><br>
                <input type="submit" name="save" id="save" value="<?php echo $this->translate('Send')?>" class="btn-submit" />
            </td>
        </tr>
    </table>
<!--    <div class="submit">-->
<!--        <input type="submit" name="save" id="save" value="--><?php //echo $this->translate('Send')?><!--" class="btn-submit" />-->
<!--    </div>-->

    </form>
</div>


<div class="box">

    <table width="100%" id="notification_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Notification History') ?></th>
        </tr>
        <?php if(empty($this->messages)){ ?>
            <tr>
                <td>No comment</td>
            </tr>
        <?php }else{
        foreach ($this->messages as $index => $message) : ?>
            <tr>
                <td width="5%"><?php echo $index + 1; ?>)</td>
                <td width="50%"><?php echo $message['message'] ?></td>
                <td ><?php echo $message['created_date'] ?></td>
            </tr>
        <?php endforeach;
        }?>



    </table>

</div>

<script type="text/javascript">

    $(function()
    {
        $(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true,changeYear: true});

        enableEditor();
    });

    function checkComment()
    {
        var error = 0;

        $("#notification .reqfield").each(function()
        {
            if ( $(this).attr("type") != 'radio' )
            {
                var field = $(this).parent().prev().html();

                var p = $(this).val();

                if ( p == '' )
                {
                    //alert(field+" cannot be empty");
                    $(this).parent().prev().addClass("req");
                    $(this).focus();

                    error = 1;
                    //return false;
                }
                else
                {
                    $(this).parent().prev().removeClass("req");
                }
            }
        });

        if ( error == 1 )
        {
            alert('Please fill in the comment box');
            return false;
        }


        $(window).unbind('beforeunload');

        return true;
    }

    function enableEditor()
    {
        CKEDITOR.replace( 'itemdiscussed',{
            toolbar : [
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
                { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] }

            ],
            height: '100px'
        } );

        CKEDITOR.replace( 'nextaction',{
            toolbar : [
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },

                { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] }

            ],
            height: '100px'
        } );
    }


    function getSemester(element) {

        var registerDate = $(element).val();
        var schemeid = "<?php echo $this->schemeid; ?>";

        console.log(registerDate);

        $.ajax({
            url: "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'progress-report', 'action' => 'get-semester'), 'default', true);?>",
            data: {
                'date': registerDate,
                'IdScheme': schemeid

            },
            type: 'POST',
            dataType: 'json',
            success: function (data) {

                $('#semester_id').empty();
                $.each(data, function (index) {
                    $('#semester_id').append('<option value="' + data[index].IdSemesterMaster + '">' + data[index].SemesterMainCode + ' - ' + data[index].SemesterMainName + ' (' + data[index].SchemeName + ')</option>');
                });

            },
            error: function () {
                alert("failure");
            },
            beforeSend: function () {
                showLoading('semester_id');

            },
            complete: function () {
                hideLoading('semester_id');
            }
        });
    }

    function showLoading(target) {
        $('#' + target).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target) {
        $('#loading').remove();
        $('#' + target).show();
    }

</script>

<style type="text/css">
    div.opt.nomargin {
        margin: -5px 0 0 0
    }

    div.opt.nomargin button {
        margin: 0;
    }


</style>