<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>

<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>Supervisee</li>
        <li>Registration Details</li>
    </ul>
    <div class="back"><a href="<?php echo $this->baseUrl() ?>/thesis/manage/proposal">
            <?php echo $this->translate('Back') ?></a></div>
</div>

<div class="box">
    <table width="100%" id="supervisor_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Student Details') ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Student ID') ?></td>
            <td width="5%">:</td>
            <td width="25%"><?php echo $this->proposal['registrationId'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student Name') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['student_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Program') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['ProgramName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Intake') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['intake_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Email') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['student_email'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Home Phone No.') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['home_no'] ?></td>
            <td width="20%"><?php echo $this->translate('Mobile Phone No.') ?></td>
            <td width="5%">:</td>
            <td width="25%"><?php echo $this->proposal['mobile_no'] ?></td>
        </tr>
    </table>
</div>

<div class="box">
    <table width="100%" id="supervisor_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Research Details') ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Course') ?></td>
            <td width="5%">:</td>
            <td width="75%"><?php echo $this->proposal['SubCode'] ?> - <?php echo $this->proposal['SubjectName'] ?></td>
        </tr>
<!--        <tr>-->
<!--            <td>--><?php //echo $this->translate('Semester') ?><!--</td>-->
<!--            <td>:</td>-->
<!--            <td>--><?php //echo $this->proposal['SemesterMainCode'] ?>
<!--                - --><?php //echo $this->proposal['SemesterMainName'] ?><!--</td>-->
<!--        </tr>-->
        <tr>
            <td><?php echo $this->translate('Title') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['p_title'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Synopsis') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['p_description'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Files') ?></td>
            <td>:</td>
            <td>
                <?php if ($this->uploadedfiles) : ?>
                    <ul>
                        <?php foreach ($this->uploadedfiles as $file) : ?>
                            <li><a href="<?php echo DOCUMENT_URL . $file['af_fileurl'] ?>"
                                   class='fancy'><?php echo $file['af_filename'] ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                <?php else: ?>
                    -
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Supervisor List') ?></td>
            <td>:</td>
            <td>
                <?php foreach ($this->supervisors as $index => $supervisor) : ?>
                    <?php echo $index + 1; ?>) <?php echo $supervisor['supervisor_name'] ?> (<?php echo $supervisor['role_name'] ?>)
                    <br>
                <?php endforeach; ?>
            </td>
        </tr>
    </table>
</div>


<!--<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">-->
<!--    <tr>-->
<!--        <th width="40%">Activities</th>-->
<!--        <th width="20%">Registered Date</th>-->
<!--        <th width="10%">Status</th>-->
<!--        <th width="20%">Event Status</th>-->
<!--        <th width="20%">Result</th>-->
<!--        <th width="10%"></th>-->
<!--    </tr>-->
<!---->
<!--    --><?php //foreach ($this->activities as $index => $data):
//        ?>
<!--        <tr>-->
<!--            <td>--><?php //echo $data['DefinitionDesc'] ?><!--</td>-->
<!--            <td>--><?php //echo format_date_to_view($data['created_date'], 'full') ?><!--</td>-->
<!--            <td>--><?php
//                if ($data['DefinitionCode'] == 'registration') {
//                    echo $data['status_description'];
//                } else {
//                    echo ($data['pd_status_description']) ? ucwords(strtolower($data['pd_status_description'])) : '<font color="red">Not Registered Yet</font>';
//                } ?><!--</td>-->
<!--            <td>--><?php
//                $eventStatus = 'n/a';
//                if($data['p_id']){
//                    if($data['DefinitionCode'] == 'registration'){
//                        $eventStatus = 'n/a';
//                    }else if($data['pd_status_name'] == 'approved' && $data['event_id']){
//                        $eventStatus = 'Date : '.format_date_to_view($data['event_date']);
//                        $eventStatus .= '<br>Venue : '.$data['event_venue'];
//                    }else{
//                        $eventStatus = 'Inprocess for event details';
//                    }
//                }
//                echo $eventStatus;
//                ?><!--</td>-->
<!--            <td>--><?php //echo $data['Grade'] ?? 'n/a' ?><!--</td>-->
<!--            <td align="center">-->
<!--                --><?php //if($data['pd_status_description']){?>
<!--                <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'manage', 'action' => 'proposal-view', 'id' => $data['p_id']), 'default', true); ?><!--">-->
<!--                --><?php //echo 'View'; ?>
<!--                </a>-->
<!--                --><?php //} ?>
<!--            </td>-->
<!---->
<!---->
<!--        </tr>-->
<!---->
<!---->
<!--    --><?php //endforeach; ?>
<!--</table>-->

<style type="text/css">
    div.opt.nomargin {
        margin: -5px 0 0 0
    }

    div.opt.nomargin button {
        margin: 0;
    }


</style>