<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th></th>
		<th><?php echo $this->translate("Student ID")?></th>
		<th><?php echo $this->translate("Student Name")?></th>
<!--		<th>--><?php //echo $this->translate("Semester");?><!--</th>-->
		<th><?php echo $this->translate("Course");?></th>
<!--		<th width="30%">--><?php //echo $this->translate("Title");?><!--</th>-->
<!--		<th width="10%">--><?php //echo $this->translate("Registration Status");?><!--</th>-->
<!--		<th width="10%">--><?php //echo $this->translate("Proposal Defence Status");?><!--</th>-->
<!--		<th width="10%">--><?php //echo $this->translate("Activity");?><!--</th>-->
		<th width="10%"><?php echo $this->translate("Registered Date");?></th>
        <th></th>
		<th></th>
	</tr>
	
	<?php
//	print_r($this->proposal);exit;
	if ( !empty($this->proposal) ):
	foreach ( $this->proposal as $index => $row ) :
	?>
	<tr>
		<td><?php echo $index+1?>)</td>
		<td><?php echo $row['registrationId']?></td>
		<td><?php echo $row['student_name']?></td>
<!--		<td>--><?php //echo $row['SemesterMainCode']?><!-- - --><?php //echo $row['SemesterMainName']?><!--</td>-->
		<td><?php echo $row['SubCode']?></td>
<!--		<td>--><?php //echo $row['p_title']?><!--</td>-->
<!--		<td>--><?php //echo $row['status_description']?><!--</td>-->
<!--		<td>--><?php //echo $row['pd_status_description'] ?? '<font color="red">Not yet registered</font>'?><!--</td>-->
<!--		<td>--><?php //echo $row['DefinitionDesc'] ?><!--</td>-->
		<td><?php echo format_date_to_view($row['created_date']); ?></td>
        <td width="5%"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'manage', 'action'=>'notify-student', 'id'=>$row['p_id']),'default',true);?>">
                <?php echo $this->translate('Notify'); ?>
            </a>
        </td>
		<td width="5%"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'manage', 'action'=>'proposal-activity', 'id'=>$row['p_id']),'default',true);?>">
				<?php echo $this->translate('View'); ?>
			</a>
		</td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No proposals found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

