<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>

<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>Supervisee</li>
        <li>Activity Details</li>
    </ul>
        <div class="back"><a href="<?php echo $this->baseUrl() ?>/thesis/manage/proposal-activity/id/<?php echo ($this->proposal['pid']) ? $this->proposal['pid'] : $this->proposal['p_id']?>">
    <?php echo $this->translate('Back') ?></a></div>
</div>

<div class="opt time">
    <?php echo $this->translate('Submitted') ?>
    : <?php echo format_date_to_view($this->proposal['created_date'], 'full') ?> <br/>
    <?php echo $this->translate('Last Updated') ?>
    : <?php echo $this->proposal['updated_date'] == '' ? $this->translate('Never') : format_date_to_view($this->proposal['updated_date'], 'full') ?>
</div>

<div class="box">
    <table width="100%" id="supervisor_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Student Details') ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Student ID') ?></td>
            <td width="5%">:</td>
            <td width="75%"><?php echo $this->proposal['registrationId'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student Name') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['student_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Program') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['ProgramName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Intake') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['intake_name'] ?></td>
        </tr>
    </table>
</div>

<div class="box">
    <table width="100%" id="supervisor_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Research Details') ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Course') ?></td>
            <td width="5%">:</td>
            <td width="75%"><?php echo $this->proposal['SubCode'] ?> - <?php echo $this->proposal['SubjectName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Activity') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['ActivityName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['SemesterMainCode'] ?>
                - <?php echo $this->proposal['SemesterMainName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Title') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['p_title'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Synopsis') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['p_description'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Files') ?></td>
            <td>:</td>
            <td>
                <?php if ($this->evaluationfiles) : ?>
                    <ul>
                        <?php foreach ($this->evaluationfiles as $efile) : ?>
                            <li><a href="<?php echo DOCUMENT_URL . $efile['ef_fileurl'] ?>"
                                   class='fancy'><?php echo $efile['ef_filename'] ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                <?php else: ?>
                    -
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Supervisor List') ?></td>
            <td>:</td>
            <td>
                <?php foreach ($this->supervisors as $index => $supervisor) : ?>
                    <?php echo $index + 1; ?>) <?php echo $supervisor['supervisor_name'] ?> (<?php echo $supervisor['role_name'] ?>)
                    <br>
                <?php endforeach; ?>
            </td>
        </tr>
    </table>
</div>

<?php if($this->proposal['event_id']){?>

<div class="box">
    <table width="100%" id="event_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Event Details') ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Date') ?></td>
            <td width="5%">:</td>
            <td width="75%"><?php echo format_date_to_view($this->proposal['event_date']) ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Event Time') ?></td>
            <td>:</td>
            <td><?php echo date('H:i A',strtotime($this->proposal['start_time'])) ?> to <?php echo date('H:i A',strtotime($this->proposal['end_time'])) ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Venue') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['event_venue'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Remark') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['event_remark'] ?></td>
        </tr>
    </table>
</div>

<?php } ?>

<?php if($this->proposal['grade_status']){ ?>
<div class="box">
    <?php if ($this->proposal['DefinitionDesc'] == 'Viva') { ?>
        <table width="100%" id="supervisor_table">
            <tr>
                <th colspan="3"><?php echo $this->translate('Viva Result') ?></th>
            </tr>
            <tr>
                <td width="20%"><?php echo $this->translate('Result') ?></td>
                <td width="5%">:</td>
                <td width="10%"><?php echo $this->proposal['viva_grade'] ?></td>
            </tr>
            <tr>
                <td width="20%"><?php echo $this->translate('Student must submit correction within') ?></td>
                <td width="5%">:</td>
                <td width="10%"><?php echo $this->proposal['correction'] ?></td>
            </tr>
            <tr>
                <td width="20%"><?php echo $this->translate('Amended thesis/dissertation must be endorsed by the reviewer') ?></td>
                <td width="5%">:</td>
                <td width="10%"><li>Name</li></td>
                <td width="5%">:</td>
                <td width="60%"><?php echo $this->proposal['fullname'] ?></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td width="10%"><li>Institution</li></td>
                <td width="5%">:</td>
                <td width="60%"><?php echo $this->proposal['institution'] ?></td>
            </tr>
        </table>
    <?php } else { ?>
        <table width="100%" id="supervisor_table">
            <tr>
                <th colspan="3"><?php echo $this->translate('Evaluation Details') ?></th>
            </tr>
            <tr>
                <td width="20%"><?php echo $this->translate('Grade') ?></td>
                <td width="5%">:</td>
                <td width="75%">
                    <?php
                    if ($this->proposal['grade_status'] != '') {
                        foreach ($this->grade as $grade) :

                            if ($this->proposal['grade_status'] == $grade['key']) {
                                echo $grade['value'];
                            }

                        endforeach;
                    } else
                        echo '-';
                    ?>

                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Files') ?></td>
                <td>:</td>
                <td>
                    <?php if ($this->evaluationfiles) : ?>
                        <ul>
                            <?php foreach ($this->evaluationfiles as $efile) : ?>
                                <li><a href="<?php echo DOCUMENT_URL . $efile['ef_fileurl'] ?>"
                                       class='fancy'><?php echo $efile['ef_filename'] ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php else: ?>
                        -
                    <?php endif; ?>
                </td>
            </tr>

            <?php if (!empty($this->assessors)) : ?>
                <?php foreach ($this->assessors as $assessors) : ?>
                    <tr id="row-<?php echo $assessors['ps_id'] ?>">
                        <td><?php echo $assessors['role_name'] ?></td>
                        <td>:</td>
                        <td><?php echo $assessors['supervisor_name'] ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr class='emptyrow'>
                    <td colspan='3'><?php echo $this->translate('No assessor has been assigned yet') ?></td>
                </tr>
            <?php endif; ?>

        </table>
    <?php } ?>
</div>
<?php } ?>


<style type="text/css">
    div.opt.nomargin {
        margin: -5px 0 0 0
    }

    div.opt.nomargin button {
        margin: 0;
    }


</style>