
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" action="" name="form_appr" onsubmit="return checkForm()">
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="1%"></th>
		<th><?php echo $this->translate('Student Name')?></th>
		<th><?php echo $this->translate('Student ID')?></th>
		<th width="25%"><?php echo $this->translate("Colloquium Name");?></th>
		<th><?php echo $this->translate("Date");?></th>
		<th><?php echo $this->translate("Status")?></th>
		<th><?php echo $this->translate("Remarks")?></th>
	</tr>
	<?php
	if ( !empty($this->results) ):
	foreach ( $this->results as $row ):
	?>
	<tr>
		<td align='center'><?php if ( $row['status'] == 'APPLIED' ) { ?>
		<input type='checkbox' name='app[<?php echo $row['id']?>]' value='<?php echo $row['id']?>' class='chk' /><?php } ?></td>
		<td><?php echo $row['student_name']?></td>
		<td><?php echo $row['student_id']?></td>
		<td><?php echo $row['name']?></td>
		<td><?php echo format_date($row['date_from']); ?> - <?php echo format_date($row['date_to'])?></td>
		<td>
			<?php echo $row['app_status'] ?>	
		</td>
		<td><input type="text" class="inputtext" name="remarks[]" value="<?php echo $row['remarks']?>" <?php echo $row['status'] != 'APPLIED' ? 'disabled="disabled"':''?> /></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No colloquium found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

<div class="form-opt">
	<input type="submit" class="btn-submit btn-green" name="approve" value="<?php echo $this->translate("Approve")?>" />
	<input type="submit" class="btn-submit btn-red" name="reject" value="<?php echo $this->translate("Reject")?>" />
</div>

</form>

<script type="text/javascript">
function checkForm()
{
	var total = $('.chk:checked').length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('You must select atleast one proposal to approve/reject');?>');
		return false
	}

	if ( sure('<?php echo $this->translate('Are you sure?')?>') == false )
	{
		return false;
	}

	return true;
}

$(function ()
{
    $('.checkall').on('click', function () 
       {
        $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
    });

   $('.chk').on('click', function()
	{
	   $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
	.btn-green { background:#59a230 }
	.btn-green:hover { background:#65bc35 }
	.btn-red { background:#cc4736 }
	.btn-red:hover { background:#ea4933 }
</style>