
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="1%"></th>
		<th><?php echo $this->translate('Student Name')?></th>
		<th><?php echo $this->translate('Student ID')?></th>
		<th><?php echo $this->translate("Submit Date");?></th>
		<th><?php echo $this->translate("Final Report")?></th>
		<th class="center"><?php echo $this->translate("Academic Use")?></th>
		<th class="center"><?php echo $this->translate("Public Use")?></th>
		<th></th>
	</tr>
	<?php
	if ( !empty($this->results) ):
	foreach ( $this->results as $row ):
	?>
	<tr>
		<td align='center'><?php if ( $row['approved'] == 0 ) { ?>
			<input type='checkbox' name='app[<?php echo $row['id']?>]' value='<?php echo $row['id']?>' class='chk' /><?php } ?>
		</td>
		<td><?php echo $row['student_name']?></td>
		<td><?php echo $row['student_id']?></td>
		<td><?php echo format_date($row['created_date'])?></td>
		<td>
			<a href="<?php echo DOCUMENT_URL . $row['file_url']?>" class="fancy"><?php echo $row['file_name']?></a>
		</td>
		<td align='center'>
			<?php if ( $row['perm_student'] == 1 ) { ?>
				<span class="icon icon-check"></span>
			<?php } else { ?>
				<span class="icon icon-cancel"></span>
			<?php } ?>
		</td>
		<td align='center'>
			<?php if ( $row['perm_public'] == 1 ) { ?>
				<span class="icon icon-check"></span>
			<?php } else { ?>
				<span class="icon icon-cancel"></span>
			<?php } ?>
		</td>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/manage/<?php echo $row['research_type']?>-edit/id/<?php echo $row['research_id']?>"><?php echo $this->translate('View Research')?></a></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No final submission found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

<script type="text/javascript">
function checkForm()
{
	var total = $('.chk:checked').length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('You must select atleast one pre-submission to approve/reject');?>');
		return false
	}

	if ( sure('<?php echo $this->translate('Are you sure?')?>') == false )
	{
		return false;
	}

	return true;
}

$(function ()
{
    $('.checkall').on('click', function () 
       {
        $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
    });

   $('.chk').on('click', function()
	{
	   $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
	.btn-green { background:#59a230 }
	.btn-green:hover { background:#65bc35 }
	.btn-red { background:#cc4736 }
	.btn-red:hover { background:#ea4933 }
</style>