
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<form method="post" action="" name="form_appr" onsubmit="return checkForm()" enctype="multipart/form-data">
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="1%"></th>
		<th><?php echo $this->translate('Student ID')?></th>
		<th><?php echo $this->translate('Student Name')?></th>
		<th><?php echo $this->translate('Semester')?></th>
		<th><?php echo $this->translate('Course')?></th>
		<th><?php echo $this->translate('Title')?></th>
		<th><?php echo $this->translate('Activity')?></th>
		<th><?php echo $this->translate("Status")?></th>
		<th><?php echo $this->translate("Attachment")?></th>
		<th></th>
	</tr>
	<?php
	if ( !empty($this->results) ):
//		echo '<pre>';
//		print_r($this->results);
	foreach ( $this->results as $row ):
	?>
	<tr>
		<td align='center'>
<!--			--><?php //if ( $row['approved'] == 1 ) { ?>
			<input type='checkbox' name='app[<?php echo $row['p_id']?>]' value='<?php echo $row['p_id']?>' class='chk' />
<!--			--><?php //} ?>
		</td>
		<td><?php echo $row['student_id']?></td>
		<td><?php echo $row['student_name']?></td>
		<td><?php echo $row['SemesterMainCode']?></td>
		<td><?php echo $row['SubCode']?></td>
		<td><?php echo $row['p_title']?></td>
		<td><?php echo $row['DefinitionDesc']?></td>
		<td><?php echo $row['pd_status_description']?></td>
		<td><input type="file" name='file_<?php echo $row['p_id']?>'</td>
		<td><a href="<?php echo $this->baseUrl()?>/thesis/manage/proposal-view/id/<?php echo $row['p_id']?>"><?php echo $this->translate('View')?></a></td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No research found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

<div class="form-opt">
	<input type="submit" class="btn-submit btn-green" name="approve" value="<?php echo $this->translate("Approve")?>" />
	<input type="submit" class="btn-submit btn-red" name="reject" value="<?php echo $this->translate("Reject")?>" />
</div>

</form>

<script type="text/javascript">
function checkForm()
{
	var total = $('.chk:checked').length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('You must select atleast one pre-submission to approve/reject');?>');
		return false
	}

	if ( sure('<?php echo $this->translate('Are you sure?')?>') == false )
	{
		return false;
	}

	return true;
}

$(function ()
{
    $('.checkall').on('click', function () 
       {
        $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
    });

   $('.chk').on('click', function()
	{
	   $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
	.btn-green { background:#59a230 }
	.btn-green:hover { background:#65bc35 }
	.btn-red { background:#cc4736 }
	.btn-red:hover { background:#ea4933 }
</style>