
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>

<br />

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25%"><?php echo $this->translate("Name");?></th>
		<th width="25%"><?php echo $this->translate("Date");?></th>
		<th><?php echo $this->translate("Status")?></th>
		<th></th>
	</tr>
	<?php
	if ( !empty($this->results) ):
	foreach ( $this->results as $row ):
	?>
	<tr>
		<td><?php echo $row['name']?></td>
		<td><?php echo format_date($row['date_from']); ?> - <?php echo format_date($row['date_to'])?></td>
		<td>
			<?php if ( $row['app_status'] == '' ) { ?>
			<span class="icon icon-plus-squared"></span> <a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'colloquium', 'action'=>'register', 'id'=>$row['id']),'default',true);?>"><?php echo $this->translate('Register')?></a>
			<?php } else { ?>
				<?php echo $row['app_status'] ?>
			<?php } ?>
		</td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'colloquium', 'action'=>'view', 'id'=>$row['id']),'default',true);?>"><?php echo $this->translate('View Details')?></a>
		</td>
	</tr>
	<?php 
	endforeach;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No colloquium found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>