
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/thesis/colloquium"><?php echo $this->translate('Colloquium')?></a></li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/thesis/colloquium/"><?php echo $this->translate('Back')?></a></div>
</div>

<form method="post" id="form_app">
<table class="outline" width="100%">
	<tr>
		<td width="70%" class="title">
			<label>Name</label>
			<?php echo $this->info['name']?>
		</td>
		<td>
			<label>Date</label>
			<div class="date"><?php echo format_date($this->info['date_from'], 'j F Y')?> - <?php echo format_date($this->info['date_to'], 'j F Y')?></div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<label>Description</label>
			<p><?php echo strip_tags($this->info['description']) ?></p>
		</td>
	</tr>
	<?php if ( $this->info['url'] != '' ) { ?>
	<tr>
		<td colspan="2">
			<label>URL</label>
			<a href="<?php echo $this->info['url'] ?>" target="_blank"><?php echo  $this->info['url'] ?></a></p>
		</td>
	</tr>
	<?php } ?>
</table>
<div class="form-opt">
	<input type="submit" value="Apply" name="submit" class="btn-submit" />
</div>
</form>


<style type="text/css">
.outline { border-collapse: collapse; }
.outline td, .outline th { border:1px solid #eee; padding:6px; font-size:14px; }
.outline label { font-size:9px; text-transform:uppercase; display:block; margin-bottom:3px; color:#aaa }
.outline .title { font-size:18px }
.date { text-align:center; color:#799999 }
</style>